@using IFS.DB.WebApp.Models.Users
<div class="modal-layout" id="ModalUpdate">
    <div class="modal-scroll">
        <div class="modal-background" onclick="onTriggerModalUpdate()"></div>
        <div class="update-modal-layout">
            <div class="update-modal">
                <div class="update-modal-header-wrapper">
                    <div class="update-modal-header">
                        <p class="update-modal-header__title">The updates was saved</p>
                        <img class="update-modal-header__icon" src="/img/icons/closeIcon.svg" alt="close" @onclick=@Ok />
                    </div>
                    <p class="update-modal-header__subtitle">The updates for the user profile @UserCreationRequestModel.UserName was saved</p>
                </div>

                <div class="update-modal-footer">
                    <button class="update-modal-footer__buttonOk" @onclick=@Ok>Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public UserCreationRequestModel UserCreationRequestModel { get; set; }

    private async Task Cancel() => await BlazoredModal.CancelAsync();
    private async Task Ok() =>_navigateManager.NavigateTo("/company-admin/user-maintenance");
    
}