<div class="details">
    <p class="details-head">General details</p>
    <div class="details-formgroup">
        <p class="details-formgroup-name">User ID</p>
        <input placeholder="Enter here" class="input"/>
    </div>
    <div class="details-formgroup">
        <p class="details-formgroup-name">User Name</p>
        <input placeholder="Enter here" class="input"/>
    </div>
    <div class="details-formgroup">
        <EmailComponent/>
    </div>
    <div class="details-formgroup">
        <PhoneNumberComponent/>
    </div>
    <div class="details-formgroup">
        <p class="details-formgroup-name">Language</p>
        <select class="select ">
            <option disabled selected>Select language</option>
            <option>English</option>
            <option>English</option>
            <option>English</option>
            <option>English</option>
            <option>English</option>
        </select>
    </div>
    <div class="details-formgroup">
        <div class="details-formgroup-title">
            <p class="details-formgroup-title-name">Assign user to group</p>
            <p class="details-formgroup-title-subtitle">Optional</p>
        </div>
        <select class="select ">
            <option disabled selected>Select group</option>
            <option>Developers</option>
            <option>Developers</option>
            <option>Developers</option>
            <option>Developers</option>
            <option>Developers</option>
        </select>
    </div>
</div>