<div class="preference">
    <p class="preference-head">User preference</p>
    <div class="preference-formgroup">
        <p class="preference-formgroup-name">User ID</p>
        <select class="select ">
            <option disabled selected>Select</option>
            <option>Simple user</option>
            <option>Simple user</option>
            <option>Simple user</option>
            <option>Simple user</option>
            <option>Simple user</option>
        </select>
    </div>

    <div class="preference-list">
        <p class="preference-list-title">Payment</p>
        <div class="preference-list-item">
            <input type="checkbox" class="preference-list-item-box" />
            <p class="preference-list-item-name">Authorise Payments In Bulk</p>
        </div>
        <div class="preference-list-item">
            <input type="checkbox" class="preference-list-item-box" />
            <p class="preference-list-item-name">User is allowed to make external payments.</p>
        </div>
        <div class="preference-list-item">
            <input type="checkbox" class="preference-list-item-box" />
            <p class="preference-list-item-name">User is allowed to make cross currency payments.</p>
        </div>
        <div class="preference-list-item">
            <input type="checkbox" class="preference-list-item-box" />
            <p class="preference-list-item-name">User can release payments.</p>
        </div>
        <div class="preference-list-item">
            <input type="checkbox" class="preference-list-item-box" />
            <p class="preference-list-item-name">Can upload payment files.</p>
        </div>
    </div>
    
    <div class="preference-list">
        <p class="preference-list-title">Transfer</p>
        <div class="preference-list-item">
            <input type="checkbox" class="preference-list-item-box" />
            <p class="preference-list-item-name">Allow transfer to non internet enabled account</p>
        </div>
        <div class="preference-list-item">
            <input type="checkbox" class="preference-list-item-box" />
            <p class="preference-list-item-name">User can release transfers</p>
        </div>
        <div class="preference-list-item">
            <input type="checkbox" class="preference-list-item-box" />
            <p class="preference-list-item-name">Can upload transfer files</p>
        </div>
    </div>

    <div class="preference-list">
        <p class="preference-list-title">Customer access</p>
        <div class="preference-list-item">
            <input type="checkbox" class="preference-list-item-box" />
            <p class="preference-list-item-name">User can create customer template</p>
        </div>
        <div class="preference-list-item">
            <input type="checkbox" class="preference-list-item-box" />
            <p class="preference-list-item-name">User can sign own customer template</p>
        </div>
    </div>
</div>