<footer class="mandates-footer-layout">
    <div class="mandates-footer-container">
        <div class="mandates-footer">
            <button class="mandates-footer-cancel">Cancel</button >

            <div class="mandates-footer-button">
                <button class="mandates-footer-button__start">Start again</button>
                <button class="mandates-footer-button__save">Save updates</button>
            </div>
        </div>
    </div>
</footer>
