<footer class="sign-queues-footer-layout">
    <div class="sign-queues-footer-container">
        <div class="sign-queues-footer">
            <div class="sign-queues-footer-left">
                <div class="sign-queues-footer-left-total">
                    <p class="sign-queues-footer-left-total-text">Total Required</p>
                    <p class="sign-queues-footer-left-total-text">12</p>
                </div>

                <div class="sign-queues-footer-left-awaiting">
                    <p class="sign-queues-footer-left-awaiting-text">Awaiting Sign-off </p>
                    <p class="sign-queues-footer-left-awaiting-text">8</p>
                </div>
            </div>

            <div class="sign-queues-footer-right">
                <div class="sign-queues-footer-right-batch">
                    <p class="sign-queues-footer-right-batch-text">Batch Amount:</p>
                    <p class="sign-queues-footer-right-batch-text">$1500.00</p>
                </div>

                <div class="sign-queues-footer-right-act">
                    <button class="sign-queues-footer-right-act-reject">Reject</button>
                    <button class="sign-queues-footer-right-act-sign">Sign Off</button>
                </div>
            </div>
        </div>
    </div>
</footer>