<footer class="batch-footer-layout">
    <div class="batch-footer-container">
        <div class="batch-footer">
            <div class="batch-footer-left">
                <div class="batch-footer-left-info" onclick="onClickTooltip()">
                    <p class="batch-footer-left-info-text">Sign by:</p>
                    <p class="batch-footer-left-info-text">3 signatories</p>

                    <div class="batch-footer-left-info-tooltip" id="tooltip">
                        <div class="batch-footer-left-info-tooltip-item">
                            <p class="batch-footer-left-info-tooltip-item__title">
                                Signatories
                            </p>
                        </div>

                        <div class="batch-footer-left-info-tooltip-item">
                            <img class="batch-footer-left-info-tooltip-item__image" src="/img/header/avatarDummy.png" alt="avatar"/>
                            <p class="batch-footer-left-info-tooltip-item__title">
                                Marilyn Kenter
                            </p>
                        </div>

                        <div class="batch-footer-left-info-tooltip-item">
                            <img class="batch-footer-left-info-tooltip-item__image" src="/img/header/avatarDummy.png" alt="avatar"/>
                            <p class="batch-footer-left-info-tooltip-item__title">
                                Simon Jhones
                            </p>
                        </div>

                        <div class="batch-footer-left-info-tooltip-item">
                            <img class="batch-footer-left-info-tooltip-item__image" src="/img/header/avatarDummy.png" alt="avatar"/>
                            <p class="batch-footer-left-info-tooltip-item__title">
                                Marilyn Herwitz
                            </p>
                        </div>
                    </div>

                    <img class="batch-footer-left-info-tooltip-icon" src="/img/icons/tailIcon.svg" alt="tail" id="tooltipIcon"/>
                </div>

                <div class="batch-footer-left-info">
                    <p class="batch-footer-left-info-text">Waiting for the sign:</p>
                    <p class="batch-footer-left-info-text">1 signatories</p>
                </div>
            </div>

            <div class="batch-footer-right">
                <div class="batch-footer-right-batch">
                    <p class="batch-footer-right-batch-text">Total allocated amount:</p>
                    <p class="batch-footer-right-batch-text">0.00</p>
                </div>

                <div class="batch-footer-right-buttons">
                    <button class="batch-footer-right-buttons-confirm" onclick="onTriggerModalConfirm()">Sign Batch</button>
                </div>
            </div>
        </div>
    </div>
</footer>