<footer class="edit-group-footer-layout">
    <div class="edit-group-footer-container">
        <div class="edit-group-footer">
            <div class="edit-group-footer-item">
                <p class="edit-group-footer-item-name">Members in the group:</p>
                <p class="edit-group-footer-item-text">0</p>
            </div>

            <button class="edit-group-footer-button" onclick="onTriggerModalSave()">Save group</button>
        </div>
    </div>
</footer>