<div class="general-details">
    <p class="general-details__title">General details</p>
    <p class="general-details__subtitle">Select type of regular payments you want to add. Than click “Continue”</p>

    <div class="general-details-form">
        <div class="general-details-form-radio">
            <input id="radioType1" name="radio-type" type="radio" />
            <label for="radioType1">Fixed amounts and fixed number of payments</label>
        </div>
        <div class="general-details-form-radio">
            <input id="radioType2" name="radio-type" type="radio" />
            <label for="radioType2">Fixed amounts with an end date</label>
        </div>
        <div class="general-details-form-radio">
            <input id="radioType3" name="radio-type" type="radio" />
            <label for="radioType3">Fixed amounts until cancelled</label>
        </div>
        <div class="general-details-form-radio">
            <input id="radioType4" name="radio-type" type="radio" />
            <label for="radioType4">Differing First/Last amounts with fixed number of payments</label>
        </div>
        <div class="general-details-form-radio">
            <input id="radioType5" name="radio-type" type="radio" />
            <label for="radioType5">Differing First/Last amounts with end dates</label>
        </div>
        <button class="general-details-form__button">Continue</button>
    </div>
</div>