<table class="groupTable">
    <thead>
        <tr>
            <td>Group Name</td>
            <td><div class="groupTable-item"><input type="checkbox" class="groupTable-item__input"/>Account Viewing</div></td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><div class="groupTable-item">Developers</div></td>
            <td></td>
            <td><button class="groupTable-button">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="groupTable-item">Sales</div></td>
            <td></td>
            <td><button class="groupTable-button">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="groupTable-item">Marketing</div></td>
            <td>
                <div class="groupTable-item">
                    <input type="checkbox" class="groupTable-item__input"/>
                </div>
            </td>
            <td><button class="groupTable-button groupTable-button--inactive">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="groupTable-item">Internal Division</div></td>
            <td>
                <div class="groupTable-item">
                    <input type="checkbox" class="groupTable-item__input"/>
                </div>
            </td>
            <td><button class="groupTable-button groupTable-button--inactive">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="groupTable-item">Manufacturing</div></td>
            <td>
                <div class="groupTable-item">
                    <input type="checkbox" class="groupTable-item__input"/>
                </div>
            </td>
            <td><button class="groupTable-button groupTable-button--inactive">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="groupTable-item">Executive</div></td>
            <td>
                <div class="groupTable-item">
                    <input type="checkbox" class="groupTable-item__input"/>
                </div>
            </td>
            <td><button class="groupTable-button groupTable-button--inactive">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="groupTable-item">Middle Office</div></td>
            <td>
                <div class="groupTable-item">
                    <input type="checkbox" class="groupTable-item__input"/>
                </div>
            </td>
            <td><button class="groupTable-button groupTable-button--inactive">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="groupTable-item">Design</div></td>
            <td>
                <div class="groupTable-item">
                    <input type="checkbox" class="groupTable-item__input"/>
                </div>
            </td>
            <td><button class="groupTable-button groupTable-button--inactive">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="groupTable-item">Developers</div></td>
            <td>
                <div class="groupTable-item">
                    <input type="checkbox" class="groupTable-item__input"/>
                </div>
            </td>
            <td><button class="groupTable-button groupTable-button--inactive">Set up Permissions</button></td>
        </tr>
    </tbody>
</table>