<table class="transfersTable">
    <thead>
        <tr>
            <td>Account</td>
            <td><div class="transfersTable-item"><input type="checkbox" class="transfersTable-item__input"/>Unlimited Debit</div></td>
            <td><div class="transfersTable-item"><input type="checkbox" class="transfersTable-item__input"/>Unlimited Signing</div></td>
            <td><div class="transfersTable-item"><input type="checkbox" class="transfersTable-item__input"/>Sign own</div></td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><div class="transfersTable-item">Customer Fixed Loans (00257020)</div></td>
            <td>
                <div class="transfersTable-item">
                    <div class="transfersTable-item-wrapper">
                        <input type="checkbox" class="transfersTable-item__input"/>
                        <span class="transfersTable-item__text">or</span>
                    </div>
                    <div class="formgroup">
                        <label>Max. Debit Amount</label>
                        <input class="input-amount transfersTable-item__amount" placeholder="0.00"/>
                    </div>
                </div>
            </td>
            <td>
                <div class="transfersTable-item">
                    <div class="transfersTable-item-wrapper">
                        <input type="checkbox" class="transfersTable-item__input"/>
                        <span class="transfersTable-item__text">or</span>
                    </div>
                    <div class="formgroup">
                        <label>Max. Signing Amount</label>
                        <input class="input-amount transfersTable-item__amount" placeholder="0.00"/>
                    </div>
                </div>
            </td>
            <td>
                <div class="transfersTable-item">
                    <input type="checkbox" class="transfersTable-item__input"/>
                </div>
            </td>
        </tr>

        <tr>
            <td><div class="transfersTable-item">Bank Operational Account - IB (00257001)</div></td>
            <td>
                <div class="transfersTable-item">
                    <div class="transfersTable-item-wrapper">
                        <input type="checkbox" class="transfersTable-item__input"/>
                        <span class="transfersTable-item__text">or</span>
                    </div>
                    <div class="formgroup">
                        <label>Max. Debit Amount</label>
                        <input class="input-amount transfersTable-item__amount" placeholder="0.00"/>
                    </div>
                </div>
            </td>
            <td>
                <div class="transfersTable-item">
                    <div class="transfersTable-item-wrapper">
                        <input type="checkbox" class="transfersTable-item__input"/>
                        <span class="transfersTable-item__text">or</span>
                    </div>
                    <div class="formgroup">
                        <label>Max. Signing Amount</label>
                        <input class="input-amount transfersTable-item__amount" placeholder="0.00"/>
                    </div>
                </div>
            </td>
            <td>
                <div class="transfersTable-item">
                    <input type="checkbox" class="transfersTable-item__input"/>
                </div>
            </td>
        </tr>

        <tr>
            <td><div class="transfersTable-item">Bank Operational Account - IB (00257002)</div></td>
            <td>
                <div class="transfersTable-item">
                    <div class="transfersTable-item-wrapper">
                        <input type="checkbox" class="transfersTable-item__input"/>
                        <span class="transfersTable-item__text">or</span>
                    </div>
                    <div class="formgroup">
                        <label>Max. Debit Amount</label>
                        <input class="input-amount transfersTable-item__amount" placeholder="0.00"/>
                    </div>
                </div>
            </td>
            <td>
                <div class="transfersTable-item">
                    <div class="transfersTable-item-wrapper">
                        <input type="checkbox" class="transfersTable-item__input"/>
                        <span class="transfersTable-item__text">or</span>
                    </div>
                    <div class="formgroup">
                        <label>Max. Signing Amount</label>
                        <input class="input-amount transfersTable-item__amount" placeholder="0.00"/>
                    </div>
                </div>
            </td>
            <td>
                <div class="transfersTable-item">
                    <input type="checkbox" class="transfersTable-item__input"/>
                </div>
            </td>
        </tr>
    </tbody>
</table>