<table class="accountTable">
    <thead>
        <tr>
            <td>User Name</td>
            <td><div class="accountTable-item"><input type="checkbox" class="accountTable-item__input"/>Viewing Permission</div></td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><div class="accountTable-item">Customer Fixed Loans (00257020)	</div></td>
            <td>
                <div class="accountTable-item">
                    <input type="checkbox" class="accountTable-item__input"/>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="accountTable-item">Bank Operational Account - IB (00257001)</div></td>
            <td>
                <div class="accountTable-item">
                    <input type="checkbox" class="accountTable-item__input"/>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="accountTable-item">Bank Operational Account - IB (00257002)</div></td>
            <td>
                <div class="accountTable-item">
                    <input type="checkbox" class="accountTable-item__input"/>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="accountTable-item">Bank Operational Account - IB (00257003)</div></td>
            <td>
                <div class="accountTable-item">
                    <input type="checkbox" class="accountTable-item__input"/>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="accountTable-item">Bank Operational Account - IB (00257004)	</div></td>
            <td>
                <div class="accountTable-item">
                    <input type="checkbox" class="accountTable-item__input"/>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="accountTable-item">Bank Operational Account - IB (00257005)</div></td>
            <td>
                <div class="accountTable-item">
                    <input type="checkbox" class="accountTable-item__input"/>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="accountTable-item">Bank Operational Account - IB (00257006)</div></td>
            <td>
                <div class="accountTable-item">
                    <input type="checkbox" class="accountTable-item__input"/>
                </div>
            </td>
        </tr>
    </tbody>
</table>