.payment-modal {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  position: relative;
}
.payment-modal-layout {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
  max-width: 744px;
}
.payment-modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.payment-modal-header-title {
  display: flex;
  align-items: center;
}
.payment-modal-header-title-text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  margin-right: 12px;
  color: #121217;
}
.payment-modal-header-title-amount {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding: 6px 28px 2px;
  border-radius: 4px;
  color: #fc4c16;
  background-color: #fff1ed;
}
.payment-modal-header__icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.payment-modal-header__icon:hover .icon {
  opacity: 0;
}
.payment-modal-header__icon:hover .iconHover {
  opacity: 1;
}
.payment-modal-header__icon:hover.active .iconActive {
  opacity: 0;
}
.payment-modal-header__icon:hover.active .iconActiveHover {
  opacity: 1;
}
.payment-modal-header__icon.active .icon {
  opacity: 0;
}
.payment-modal-header__icon.active .iconActive {
  opacity: 1;
}
.payment-modal-header__icon .icon,
.payment-modal-header__icon .iconHover,
.payment-modal-header__icon .iconActive,
.payment-modal-header__icon .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.payment-modal-header__icon .iconHover,
.payment-modal-header__icon .iconActive,
.payment-modal-header__icon .iconActiveHover {
  opacity: 0;
}
.payment-modal-main {
  display: flex;
  flex-direction: column;
}
.payment-modal-main-item {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #f2f7fd;
}
.payment-modal-main-item-left {
  display: flex;
  align-items: center;
}
.payment-modal-main-item-left__image {
  margin-right: 8px;
}
.payment-modal-main-item-left-text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6a6a6a;
}
.payment-modal-main-item-right {
  display: flex;
  align-items: center;
}
.payment-modal-main-item-right-text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #6a6a6a;
}
