<table class="paymentTable">
    <thead>
        <tr>
            <td>Debit Account</td>
            <td>Reference</td>
            <td>Created by</td>
            <td>Total Sign-off </td>
            <td>Awaiting Sign-off </td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Account No. 00256001</td>
            <td>RQ201842998-12</td>
            <td><img src="/img/sign/avatar1.svg" alt="avatar"/>Lindsey Mango</td>
            <td>6</td>
            <td>5</td>
            <td>
                <button class="paymentTable__image">
                    <img src="/img/icons/eyeIcon.svg" alt="eye" class="icon"/>
                    <img src="/img/icons/eyeIconHover.svg" alt="eye" class="iconHover"/>
                </button>
            </td>
            <td><button class="paymentTable-button">Sign</button></td>
        </tr>
        <tr>
            <td>Account No. 00256002</td>
            <td>RQ201842998-11</td>
            <td><img src="/img/sign/avatar2.svg" alt="avatar"/>Marley Passaquindici Arcand</td>
            <td>12</td>
            <td>8</td>
            <td>
                <button class="paymentTable__image" onclick="onTriggerModalSignatories()">
                    <img src="/img/icons/eyeIcon.svg" alt="eye" class="icon"/>
                    <img src="/img/icons/eyeIconHover.svg" alt="eye" class="iconHover"/>
                </button>
            </td>
            <td><button class="paymentTable-button">Sign</button></td>
        </tr>
        <tr>
            <td>Account No. 00256003</td>
            <td>RQ201842998-13</td>
            <td><img src="/img/sign/avatar3.svg" alt="avatar"/>Tiana Siphron</td>
            <td>5</td>
            <td>5</td>
            <td>
                <button class="paymentTable__image">
                    <img src="/img/icons/eyeIcon.svg" alt="eye" class="icon"/>
                    <img src="/img/icons/eyeIconHover.svg" alt="eye" class="iconHover"/>
                </button>
            </td>
            <td><button class="paymentTable-button">Sign</button></td>
        </tr>
        <tr>
            <td>Account No. 00256004</td>
            <td>RQ201842998-14</td>
            <td><img src="/img/sign/avatar4.svg" alt="avatar"/>Kaylynn Ekstrom Bothman</td>
            <td>6</td>
            <td>1</td>
            <td>
                <button class="paymentTable__image">
                    <img src="/img/icons/eyeIcon.svg" alt="eye" class="icon"/>
                    <img src="/img/icons/eyeIconHover.svg" alt="eye" class="iconHover"/>
                </button>
            </td>
            <td><button class="paymentTable-button">Sign</button></td>
        </tr>
        <tr>
            <td>Account No. 00256007</td>
            <td>RQ201842998-17</td>
            <td><img src="/img/sign/avatar3.svg" alt="avatar"/>Tiana Siphron</td>
            <td>4</td>
            <td>3</td>
            <td>
                <button class="paymentTable__image">
                    <img src="/img/icons/eyeIcon.svg" alt="eye" class="icon"/>
                    <img src="/img/icons/eyeIconHover.svg" alt="eye" class="iconHover"/>
                </button>
            </td>
            <td><button class="paymentTable-button">Sign</button></td>
        </tr>
        <tr>
            <td>Account No. 00256005</td>
            <td>RQ201842998-15</td>
            <td><img src="/img/sign/avatar4.svg" alt="avatar"/>Kaylynn Ekstrom Bothman</td>
            <td>6</td>
            <td>2</td>
            <td>
                <button class="paymentTable__image">
                    <img src="/img/icons/eyeIcon.svg" alt="eye" class="icon"/>
                    <img src="/img/icons/eyeIconHover.svg" alt="eye" class="iconHover"/>
                </button>
            </td>
            <td><button class="paymentTable-button">Sign</button></td>
        </tr>
        <tr>
            <td>Account No. 00256006</td>
            <td>RQ201842998-16</td>
            <td><img src="/img/sign/avatar3.svg" alt="avatar"/>Tiana Siphron</td>
            <td>2</td>
            <td>1</td>
            <td>
                <button class="paymentTable__image">
                    <img src="/img/icons/eyeIcon.svg" alt="eye" class="icon"/>
                    <img src="/img/icons/eyeIconHover.svg" alt="eye" class="iconHover"/>
                </button>
            </td>
            <td><button class="paymentTable-button">Sign</button></td>
        </tr>
        <tr>
            <td>Account No. 00256008</td>
            <td>RQ201842998-18</td>
            <td><img src="/img/sign/avatar4.svg" alt="avatar"/>Kaylynn Ekstrom Bothman</td>
            <td>8</td>
            <td>2</td>
            <td>
                <button class="paymentTable__image">
                    <img src="/img/icons/eyeIcon.svg" alt="eye" class="icon"/>
                    <img src="/img/icons/eyeIconHover.svg" alt="eye" class="iconHover"/>
                </button>
            </td>
            <td><button class="paymentTable-button">Sign</button></td>
        </tr>
        <tr>
            <td>Account No. 00256021</td>
            <td>RQ201842998-19</td>
            <td><img src="/img/sign/avatar1.svg" alt="avatar"/>Lindsey Mango</td>
            <td>3</td>
            <td>0</td>
            <td>
                <button class="paymentTable__image">
                    <img src="/img/icons/eyeIcon.svg" alt="eye" class="icon"/>
                    <img src="/img/icons/eyeIconHover.svg" alt="eye" class="iconHover"/>
                </button>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Account No. 00256091</td>
            <td>RQ201842998-21</td>
            <td><img src="/img/sign/avatar1.svg" alt="avatar"/>Lindsey Mango</td>
            <td>6</td>
            <td>0</td>
            <td>
                <button class="paymentTable__image">
                    <img src="/img/icons/eyeIcon.svg" alt="eye" class="icon"/>
                    <img src="/img/icons/eyeIconHover.svg" alt="eye" class="iconHover"/>
                </button>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>