<table class="standingOrdersTable">
    <thead>
        <tr>
            <td>Type</td>
            <td>Debit Narrative</td>
            <td>Debit Account</td>
            <td>Regular Amount</td>
            <td>Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="standingOrdersTable-date" colspan="7">October 2021</td>
        </tr>
        <tr>
            <td>
                <img src="/img/transactionTable/payment.svg" alt="payment" />
            </td>
            <td>Paid invoice #564 for Sept</td>
            <td>Account No.:00256001</td>
            <td>$900.00</td>
            <td><span class="standingOrdersTable-button standingOrdersTable-button--success">Paused</span></td>
            <td>
                <div class="standingOrdersTable-action">
                    <div class="standingOrdersTable-action-icon">
                        <img class="icon" src="/img/icons/dotsIcon.svg" alt="action"/>
                        <img class="iconHover" src="/img/icons/dotsHoverIcon.svg" alt="action"/>
                    </div>
                    <div class="standingOrdersTable-action-dropdown">
                        <div class="standingOrdersTable-action-dropdown-item">Continue order</div>
                        <div class="standingOrdersTable-action-dropdown-item">Edit order</div>
                        <div class="standingOrdersTable-action-dropdown-item">Delete order</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/img/transactionTable/transfer.svg" alt="transfer" />
            </td>
            <td>Paid invoice #564 for Sept</td>
            <td>Account No.:00256001</td>
            <td>$100.00</td>
            <td><span class="standingOrdersTable-button standingOrdersTable-button--error">Executing</span></td>
            <td>
                <div class="standingOrdersTable-action">
                    <div class="standingOrdersTable-action-icon">
                        <img class="icon" src="/img/icons/dotsIcon.svg" alt="action"/>
                        <img class="iconHover" src="/img/icons/dotsHoverIcon.svg" alt="action"/>
                    </div>
                    <div class="standingOrdersTable-action-dropdown">
                        <div class="standingOrdersTable-action-dropdown-item">Pause order</div>
                        <div class="standingOrdersTable-action-dropdown-item">Edit order</div>
                        <div class="standingOrdersTable-action-dropdown-item">Delete order</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/img/transactionTable/batchMaintenance.svg" alt="batch" />
            </td>
            <td>Paid invoice #564 for Sept</td>
            <td>Account No.:00256001</td>
            <td>$1200.00</td>
            <td><span class="standingOrdersTable-button">Finished</span></td>
            <td>
                <div class="standingOrdersTable-action">
                    <div class="standingOrdersTable-action-icon">
                        <img class="icon" src="/img/icons/dotsIcon.svg" alt="action"/>
                        <img class="iconHover" src="/img/icons/dotsHoverIcon.svg" alt="action"/>
                    </div>
                    <div class="standingOrdersTable-action-dropdown">
                        <div class="standingOrdersTable-action-dropdown-item">Continue order</div>
                        <div class="standingOrdersTable-action-dropdown-item">Edit order</div>
                        <div class="standingOrdersTable-action-dropdown-item">Delete order</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/img/transactionTable/batchMaintenance.svg" alt="batch" />
            </td>
            <td>Paid invoice #564 for Sept</td>
            <td>Account No.:00256001</td>
            <td>$800.00</td>
            <td><span class="standingOrdersTable-button">Finished</span></td>
            <td>
                <div class="standingOrdersTable-action">
                    <div class="standingOrdersTable-action-icon">
                        <img class="icon" src="/img/icons/dotsIcon.svg" alt="action"/>
                        <img class="iconHover" src="/img/icons/dotsHoverIcon.svg" alt="action"/>
                    </div>
                    <div class="standingOrdersTable-action-dropdown">
                        <div class="standingOrdersTable-action-dropdown-item">Continue order</div>
                        <div class="standingOrdersTable-action-dropdown-item">Edit order</div>
                        <div class="standingOrdersTable-action-dropdown-item">Delete order</div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>