.user-layout {
  padding: 24px 0 32px;
}

.user-container {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
}

.user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.user-header-wrapper {
  display: flex;
  align-items: center;
}
.user-header__logo {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 12px;
}
.user-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
.user-header__tooltip-icon {
  padding: 8px;
  margin-left: 4px;
}
.user-header__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
}
.user-header__button:hover .iconBlock .icon {
  opacity: 0;
}
.user-header__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.user-header__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.user-header__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.user-header__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.user-header__button .iconBlock:hover .icon {
  opacity: 0;
}
.user-header__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.user-header__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.user-header__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.user-header__button .iconBlock.active .icon {
  opacity: 0;
}
.user-header__button .iconBlock.active .iconActive {
  opacity: 1;
}
.user-header__button .iconBlock .icon,
.user-header__button .iconBlock .iconHover,
.user-header__button .iconBlock .iconActive,
.user-header__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.user-header__button .iconBlock .iconHover,
.user-header__button .iconBlock .iconActive,
.user-header__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.user-header__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.user-header__button .iconBlock,
.user-header__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.user-header__button .iconBlock:first-child,
.user-header__button > img:first-child {
  margin-left: 0;
}
.user-header__button .iconBlock:last-child,
.user-header__button > img:last-child {
  margin-right: 0;
}
.user-header__button:hover {
  color: #0248a4;
}

.user-main {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
}
.user-main:last-child {
  margin-bottom: 0;
}
.user-main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.user-main-title-name {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #121217;
}
.user-main-title-right {
  display: flex;
}
.user-main-title-right__input {
  min-width: 260px;
  margin-right: 12px;
  position: relative;
}
.user-main-title-right__selector {
  min-width: 260px;
}