.security-layout {
  padding: 24px 0 12px;
}

.security-container {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
}

.security-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.security-header-wrapper {
  display: flex;
  align-items: center;
}
.security-header__logo {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 12px;
}
.security-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
.security-header__tooltip-icon {
  padding: 8px;
  margin-left: 4px;
}
.security-header__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
}
.security-header__button:hover .iconBlock .icon {
  opacity: 0;
}
.security-header__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.security-header__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.security-header__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.security-header__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.security-header__button .iconBlock:hover .icon {
  opacity: 0;
}
.security-header__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.security-header__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.security-header__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.security-header__button .iconBlock.active .icon {
  opacity: 0;
}
.security-header__button .iconBlock.active .iconActive {
  opacity: 1;
}
.security-header__button .iconBlock .icon,
.security-header__button .iconBlock .iconHover,
.security-header__button .iconBlock .iconActive,
.security-header__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.security-header__button .iconBlock .iconHover,
.security-header__button .iconBlock .iconActive,
.security-header__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.security-header__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.security-header__button .iconBlock,
.security-header__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.security-header__button .iconBlock:first-child,
.security-header__button > img:first-child {
  margin-left: 0;
}
.security-header__button .iconBlock:last-child,
.security-header__button > img:last-child {
  margin-right: 0;
}
.security-header__button:hover {
  color: #0248a4;
}

.security-main {
  display: flex;
  align-items: flex-start;
}
.security-main-menu {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
  width: 324px;
  background: #ffffff;
  border-radius: 16px;
  padding: 8px 0;
  width: 208px;
  margin-right: 24px;
}
@media (max-width: 1260px) {
  .security-main-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.security-main-menu-item {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  width: 100%;
  display: flex;
  align-items: center;
  color: #6a6a6a;
  padding: 16px 24px 16px 20px;
  transition: 0.4s;
}
@media (max-width: 1260px) {
  .security-main-menu-item {
    width: initial;
  }
}
.security-main-menu-item:hover, .security-main-menu-item.active {
  color: #212121;
}
.security-main-menu-item:hover .iconBlock .icon {
  opacity: 0;
}
.security-main-menu-item:hover .iconBlock .iconHover {
  opacity: 1;
}
.security-main-menu-item:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.security-main-menu-item:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.security-main-menu-item .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.security-main-menu-item .iconBlock:hover .icon {
  opacity: 0;
}
.security-main-menu-item .iconBlock:hover .iconHover {
  opacity: 1;
}
.security-main-menu-item .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.security-main-menu-item .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.security-main-menu-item .iconBlock.active .icon {
  opacity: 0;
}
.security-main-menu-item .iconBlock.active .iconActive {
  opacity: 1;
}
.security-main-menu-item .iconBlock .icon,
.security-main-menu-item .iconBlock .iconHover,
.security-main-menu-item .iconBlock .iconActive,
.security-main-menu-item .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.security-main-menu-item .iconBlock .iconHover,
.security-main-menu-item .iconBlock .iconActive,
.security-main-menu-item .iconBlock .iconActiveHover {
  opacity: 0;
}
.security-main-menu-item > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.security-main-menu-item .iconBlock,
.security-main-menu-item > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.security-main-menu-item .iconBlock:first-child,
.security-main-menu-item > img:first-child {
  margin-left: 0;
}
.security-main-menu-item .iconBlock:last-child,
.security-main-menu-item > img:last-child {
  margin-right: 0;
}
.security-main-menu-item.active {
  background: #f2f7fd;
}
.security-main-content, .security-main-authority {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
  flex: 1;
}
.security-main-content:last-child, .security-main-authority:last-child {
  margin-bottom: 0;
}
.security-main-content-title, .security-main-authority-title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #121217;
}
.security-main-content {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
  flex: 1;
}
.security-main-content:last-child {
  margin-bottom: 0;
}
.security-main-content-title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #121217;
}
.security-main-content-subtitle {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}
.security-main-content-subtitle__tooltip-icon {
  margin-right: 4px;
}
.security-main-content-code {
  display: flex;
  margin-bottom: 44px;
}
.security-main-content-code__col {
  flex: 1;
  margin-right: 16px;
}
.security-main-content-code__col:last-child {
  margin-right: 0;
}
.security-main-content-code__col-text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #6a6a6a;
}
.security-main-content-info {
  display: flex;
  margin-top: 16px;
}
.security-main-content-info-item {
  width: 100%;
  max-width: 240px;
  margin-right: 12px;
}
.security-main-content-info-item:last-child {
  margin-right: 0;
}
.security-main-content-info-item-label {
  color: #6a6a6a;
}
.security-main-content-info-item-body {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #212121;
}
.security-main-content-info-item-body.security-main-content-info-item-body--locked, .security-main-content-info-item-body.security-main-content-info-item-body--success {
  max-width: 80px;
  border-radius: 4px;
  color: #fc4c16;
  background-color: #fff1ed;
}
.security-main-content-info-item-body.security-main-content-info-item-body--success {
  color: #0a9a0c;
  background-color: #edffed;
}
.security-main-content-line {
  color: #ededed;
  border: 1px solid #ededed;
  width: calc(100% + 48px);
  margin-top: 28px;
  position: relative;
  left: -24px;
}
.security-main-content-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
.security-main-content-footer-saved {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.security-main-content-footer-saved-name {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #393939;
}
.security-main-content-footer-update {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.security-main-content-footer-update-reject {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #fc4c16;
  background-color: #fff1ed;
  min-width: 132px;
}
.security-main-content-footer-update-reject:hover .iconBlock .icon {
  opacity: 0;
}
.security-main-content-footer-update-reject:hover .iconBlock .iconHover {
  opacity: 1;
}
.security-main-content-footer-update-reject:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.security-main-content-footer-update-reject:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.security-main-content-footer-update-reject .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.security-main-content-footer-update-reject .iconBlock:hover .icon {
  opacity: 0;
}
.security-main-content-footer-update-reject .iconBlock:hover .iconHover {
  opacity: 1;
}
.security-main-content-footer-update-reject .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.security-main-content-footer-update-reject .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.security-main-content-footer-update-reject .iconBlock.active .icon {
  opacity: 0;
}
.security-main-content-footer-update-reject .iconBlock.active .iconActive {
  opacity: 1;
}
.security-main-content-footer-update-reject .iconBlock .icon,
.security-main-content-footer-update-reject .iconBlock .iconHover,
.security-main-content-footer-update-reject .iconBlock .iconActive,
.security-main-content-footer-update-reject .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.security-main-content-footer-update-reject .iconBlock .iconHover,
.security-main-content-footer-update-reject .iconBlock .iconActive,
.security-main-content-footer-update-reject .iconBlock .iconActiveHover {
  opacity: 0;
}
.security-main-content-footer-update-reject > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.security-main-content-footer-update-reject .iconBlock,
.security-main-content-footer-update-reject > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.security-main-content-footer-update-reject .iconBlock:first-child,
.security-main-content-footer-update-reject > img:first-child {
  margin-left: 0;
}
.security-main-content-footer-update-reject .iconBlock:last-child,
.security-main-content-footer-update-reject > img:last-child {
  margin-right: 0;
}
.security-main-content-footer-update-reject:hover {
  color: #cf3405;
}
.security-main-content-footer-update-confirm {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background: #0360db;
  color: #ffffff;
  min-width: 148px;
}
.security-main-content-footer-update-confirm:hover .iconBlock .icon {
  opacity: 0;
}
.security-main-content-footer-update-confirm:hover .iconBlock .iconHover {
  opacity: 1;
}
.security-main-content-footer-update-confirm:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.security-main-content-footer-update-confirm:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.security-main-content-footer-update-confirm .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.security-main-content-footer-update-confirm .iconBlock:hover .icon {
  opacity: 0;
}
.security-main-content-footer-update-confirm .iconBlock:hover .iconHover {
  opacity: 1;
}
.security-main-content-footer-update-confirm .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.security-main-content-footer-update-confirm .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.security-main-content-footer-update-confirm .iconBlock.active .icon {
  opacity: 0;
}
.security-main-content-footer-update-confirm .iconBlock.active .iconActive {
  opacity: 1;
}
.security-main-content-footer-update-confirm .iconBlock .icon,
.security-main-content-footer-update-confirm .iconBlock .iconHover,
.security-main-content-footer-update-confirm .iconBlock .iconActive,
.security-main-content-footer-update-confirm .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.security-main-content-footer-update-confirm .iconBlock .iconHover,
.security-main-content-footer-update-confirm .iconBlock .iconActive,
.security-main-content-footer-update-confirm .iconBlock .iconActiveHover {
  opacity: 0;
}
.security-main-content-footer-update-confirm > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.security-main-content-footer-update-confirm .iconBlock,
.security-main-content-footer-update-confirm > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.security-main-content-footer-update-confirm .iconBlock:first-child,
.security-main-content-footer-update-confirm > img:first-child {
  margin-left: 0;
}
.security-main-content-footer-update-confirm .iconBlock:last-child,
.security-main-content-footer-update-confirm > img:last-child {
  margin-right: 0;
}
.security-main-content-footer-update-confirm:hover {
  background-color: #0248a4;
}
.security-main-content-footer-send {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background: #0360db;
  color: #ffffff;
  min-width: 312px;
}
.security-main-content-footer-send:hover .iconBlock .icon {
  opacity: 0;
}
.security-main-content-footer-send:hover .iconBlock .iconHover {
  opacity: 1;
}
.security-main-content-footer-send:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.security-main-content-footer-send:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.security-main-content-footer-send .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.security-main-content-footer-send .iconBlock:hover .icon {
  opacity: 0;
}
.security-main-content-footer-send .iconBlock:hover .iconHover {
  opacity: 1;
}
.security-main-content-footer-send .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.security-main-content-footer-send .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.security-main-content-footer-send .iconBlock.active .icon {
  opacity: 0;
}
.security-main-content-footer-send .iconBlock.active .iconActive {
  opacity: 1;
}
.security-main-content-footer-send .iconBlock .icon,
.security-main-content-footer-send .iconBlock .iconHover,
.security-main-content-footer-send .iconBlock .iconActive,
.security-main-content-footer-send .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.security-main-content-footer-send .iconBlock .iconHover,
.security-main-content-footer-send .iconBlock .iconActive,
.security-main-content-footer-send .iconBlock .iconActiveHover {
  opacity: 0;
}
.security-main-content-footer-send > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.security-main-content-footer-send .iconBlock,
.security-main-content-footer-send > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.security-main-content-footer-send .iconBlock:first-child,
.security-main-content-footer-send > img:first-child {
  margin-left: 0;
}
.security-main-content-footer-send .iconBlock:last-child,
.security-main-content-footer-send > img:last-child {
  margin-right: 0;
}
.security-main-content-footer-send:hover {
  background-color: #0248a4;
}
.security-main-content-footer-button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background: #0360db;
  color: #ffffff;
  min-width: 148px;
}
.security-main-content-footer-button:hover .iconBlock .icon {
  opacity: 0;
}
.security-main-content-footer-button:hover .iconBlock .iconHover {
  opacity: 1;
}
.security-main-content-footer-button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.security-main-content-footer-button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.security-main-content-footer-button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.security-main-content-footer-button .iconBlock:hover .icon {
  opacity: 0;
}
.security-main-content-footer-button .iconBlock:hover .iconHover {
  opacity: 1;
}
.security-main-content-footer-button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.security-main-content-footer-button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.security-main-content-footer-button .iconBlock.active .icon {
  opacity: 0;
}
.security-main-content-footer-button .iconBlock.active .iconActive {
  opacity: 1;
}
.security-main-content-footer-button .iconBlock .icon,
.security-main-content-footer-button .iconBlock .iconHover,
.security-main-content-footer-button .iconBlock .iconActive,
.security-main-content-footer-button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.security-main-content-footer-button .iconBlock .iconHover,
.security-main-content-footer-button .iconBlock .iconActive,
.security-main-content-footer-button .iconBlock .iconActiveHover {
  opacity: 0;
}
.security-main-content-footer-button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.security-main-content-footer-button .iconBlock,
.security-main-content-footer-button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.security-main-content-footer-button .iconBlock:first-child,
.security-main-content-footer-button > img:first-child {
  margin-left: 0;
}
.security-main-content-footer-button .iconBlock:last-child,
.security-main-content-footer-button > img:last-child {
  margin-right: 0;
}
.security-main-content-footer-button:hover {
  background-color: #0248a4;
}
.security-main-content-footer-button.security-main-content-footer-button--inactive {
  background: #a1e1ff;
}
.security-main-content-update {
  flex-direction: column;
}
.security-main-content-update-title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.security-main-content-update-title-name {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #393939;
}
.security-main-content-update-main {
  display: flex;
}
.security-main-content-update-main-item {
  min-width: 160px;
  margin-right: 12px;
}
.security-main-content-update-main-item__name {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #6a6a6a;
}
.security-main-content-update-main-item__text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
}

.unlock-modal,
.submit-modal,
.reject-modal,
.confirm-modal {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  position: relative;
}
.unlock-modal-layout,
.submit-modal-layout,
.reject-modal-layout,
.confirm-modal-layout {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
  max-width: 744px;
}
.unlock-modal-header-wrapper,
.submit-modal-header-wrapper,
.reject-modal-header-wrapper,
.confirm-modal-header-wrapper {
  margin-bottom: 16px;
}
.unlock-modal-header,
.submit-modal-header,
.reject-modal-header,
.confirm-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.unlock-modal-header__title,
.submit-modal-header__title,
.reject-modal-header__title,
.confirm-modal-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #121217;
}
.unlock-modal-header__subtitle,
.submit-modal-header__subtitle,
.reject-modal-header__subtitle,
.confirm-modal-header__subtitle {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
  color: #212121;
}
.unlock-modal-header__icon,
.submit-modal-header__icon,
.reject-modal-header__icon,
.confirm-modal-header__icon {
  cursor: pointer;
}
.unlock-modal-main,
.submit-modal-main,
.reject-modal-main,
.confirm-modal-main {
  margin-bottom: 16px;
}
.unlock-modal-main-input,
.submit-modal-main-input,
.reject-modal-main-input,
.confirm-modal-main-input {
  margin-right: 0;
  margin-bottom: 16px;
}
.unlock-modal-main-input:last-child,
.submit-modal-main-input:last-child,
.reject-modal-main-input:last-child,
.confirm-modal-main-input:last-child {
  margin-bottom: 0;
}
.unlock-modal-footer,
.submit-modal-footer,
.reject-modal-footer,
.confirm-modal-footer {
  display: flex;
  justify-content: space-between;
}
.unlock-modal-footer__buttonCancel, .unlock-modal-footer__buttonUnlock, .unlock-modal-footer__buttonConfirm, .unlock-modal-footer__buttonReject,
.submit-modal-footer__buttonCancel,
.submit-modal-footer__buttonUnlock,
.submit-modal-footer__buttonConfirm,
.submit-modal-footer__buttonReject,
.reject-modal-footer__buttonCancel,
.reject-modal-footer__buttonUnlock,
.reject-modal-footer__buttonConfirm,
.reject-modal-footer__buttonReject,
.confirm-modal-footer__buttonCancel,
.confirm-modal-footer__buttonUnlock,
.confirm-modal-footer__buttonConfirm,
.confirm-modal-footer__buttonReject {
  min-width: 144px;
}
.unlock-modal-footer__buttonCancel,
.submit-modal-footer__buttonCancel,
.reject-modal-footer__buttonCancel,
.confirm-modal-footer__buttonCancel {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  background: #f2f7fd;
  color: #0360db;
}
.unlock-modal-footer__buttonCancel:hover .iconBlock .icon,
.submit-modal-footer__buttonCancel:hover .iconBlock .icon,
.reject-modal-footer__buttonCancel:hover .iconBlock .icon,
.confirm-modal-footer__buttonCancel:hover .iconBlock .icon {
  opacity: 0;
}
.unlock-modal-footer__buttonCancel:hover .iconBlock .iconHover,
.submit-modal-footer__buttonCancel:hover .iconBlock .iconHover,
.reject-modal-footer__buttonCancel:hover .iconBlock .iconHover,
.confirm-modal-footer__buttonCancel:hover .iconBlock .iconHover {
  opacity: 1;
}
.unlock-modal-footer__buttonCancel:hover .iconBlock.active .iconActive,
.submit-modal-footer__buttonCancel:hover .iconBlock.active .iconActive,
.reject-modal-footer__buttonCancel:hover .iconBlock.active .iconActive,
.confirm-modal-footer__buttonCancel:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.unlock-modal-footer__buttonCancel:hover .iconBlock.active .iconActiveHover,
.submit-modal-footer__buttonCancel:hover .iconBlock.active .iconActiveHover,
.reject-modal-footer__buttonCancel:hover .iconBlock.active .iconActiveHover,
.confirm-modal-footer__buttonCancel:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.unlock-modal-footer__buttonCancel .iconBlock,
.submit-modal-footer__buttonCancel .iconBlock,
.reject-modal-footer__buttonCancel .iconBlock,
.confirm-modal-footer__buttonCancel .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.unlock-modal-footer__buttonCancel .iconBlock:hover .icon,
.submit-modal-footer__buttonCancel .iconBlock:hover .icon,
.reject-modal-footer__buttonCancel .iconBlock:hover .icon,
.confirm-modal-footer__buttonCancel .iconBlock:hover .icon {
  opacity: 0;
}
.unlock-modal-footer__buttonCancel .iconBlock:hover .iconHover,
.submit-modal-footer__buttonCancel .iconBlock:hover .iconHover,
.reject-modal-footer__buttonCancel .iconBlock:hover .iconHover,
.confirm-modal-footer__buttonCancel .iconBlock:hover .iconHover {
  opacity: 1;
}
.unlock-modal-footer__buttonCancel .iconBlock:hover.active .iconActive,
.submit-modal-footer__buttonCancel .iconBlock:hover.active .iconActive,
.reject-modal-footer__buttonCancel .iconBlock:hover.active .iconActive,
.confirm-modal-footer__buttonCancel .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.unlock-modal-footer__buttonCancel .iconBlock:hover.active .iconActiveHover,
.submit-modal-footer__buttonCancel .iconBlock:hover.active .iconActiveHover,
.reject-modal-footer__buttonCancel .iconBlock:hover.active .iconActiveHover,
.confirm-modal-footer__buttonCancel .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.unlock-modal-footer__buttonCancel .iconBlock.active .icon,
.submit-modal-footer__buttonCancel .iconBlock.active .icon,
.reject-modal-footer__buttonCancel .iconBlock.active .icon,
.confirm-modal-footer__buttonCancel .iconBlock.active .icon {
  opacity: 0;
}
.unlock-modal-footer__buttonCancel .iconBlock.active .iconActive,
.submit-modal-footer__buttonCancel .iconBlock.active .iconActive,
.reject-modal-footer__buttonCancel .iconBlock.active .iconActive,
.confirm-modal-footer__buttonCancel .iconBlock.active .iconActive {
  opacity: 1;
}
.unlock-modal-footer__buttonCancel .iconBlock .icon,
.unlock-modal-footer__buttonCancel .iconBlock .iconHover,
.unlock-modal-footer__buttonCancel .iconBlock .iconActive,
.unlock-modal-footer__buttonCancel .iconBlock .iconActiveHover,
.submit-modal-footer__buttonCancel .iconBlock .icon,
.submit-modal-footer__buttonCancel .iconBlock .iconHover,
.submit-modal-footer__buttonCancel .iconBlock .iconActive,
.submit-modal-footer__buttonCancel .iconBlock .iconActiveHover,
.reject-modal-footer__buttonCancel .iconBlock .icon,
.reject-modal-footer__buttonCancel .iconBlock .iconHover,
.reject-modal-footer__buttonCancel .iconBlock .iconActive,
.reject-modal-footer__buttonCancel .iconBlock .iconActiveHover,
.confirm-modal-footer__buttonCancel .iconBlock .icon,
.confirm-modal-footer__buttonCancel .iconBlock .iconHover,
.confirm-modal-footer__buttonCancel .iconBlock .iconActive,
.confirm-modal-footer__buttonCancel .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.unlock-modal-footer__buttonCancel .iconBlock .iconHover,
.unlock-modal-footer__buttonCancel .iconBlock .iconActive,
.unlock-modal-footer__buttonCancel .iconBlock .iconActiveHover,
.submit-modal-footer__buttonCancel .iconBlock .iconHover,
.submit-modal-footer__buttonCancel .iconBlock .iconActive,
.submit-modal-footer__buttonCancel .iconBlock .iconActiveHover,
.reject-modal-footer__buttonCancel .iconBlock .iconHover,
.reject-modal-footer__buttonCancel .iconBlock .iconActive,
.reject-modal-footer__buttonCancel .iconBlock .iconActiveHover,
.confirm-modal-footer__buttonCancel .iconBlock .iconHover,
.confirm-modal-footer__buttonCancel .iconBlock .iconActive,
.confirm-modal-footer__buttonCancel .iconBlock .iconActiveHover {
  opacity: 0;
}
.unlock-modal-footer__buttonCancel > img,
.submit-modal-footer__buttonCancel > img,
.reject-modal-footer__buttonCancel > img,
.confirm-modal-footer__buttonCancel > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.unlock-modal-footer__buttonCancel .iconBlock,
.unlock-modal-footer__buttonCancel > img,
.submit-modal-footer__buttonCancel .iconBlock,
.submit-modal-footer__buttonCancel > img,
.reject-modal-footer__buttonCancel .iconBlock,
.reject-modal-footer__buttonCancel > img,
.confirm-modal-footer__buttonCancel .iconBlock,
.confirm-modal-footer__buttonCancel > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.unlock-modal-footer__buttonCancel .iconBlock:first-child,
.unlock-modal-footer__buttonCancel > img:first-child,
.submit-modal-footer__buttonCancel .iconBlock:first-child,
.submit-modal-footer__buttonCancel > img:first-child,
.reject-modal-footer__buttonCancel .iconBlock:first-child,
.reject-modal-footer__buttonCancel > img:first-child,
.confirm-modal-footer__buttonCancel .iconBlock:first-child,
.confirm-modal-footer__buttonCancel > img:first-child {
  margin-left: 0;
}
.unlock-modal-footer__buttonCancel .iconBlock:last-child,
.unlock-modal-footer__buttonCancel > img:last-child,
.submit-modal-footer__buttonCancel .iconBlock:last-child,
.submit-modal-footer__buttonCancel > img:last-child,
.reject-modal-footer__buttonCancel .iconBlock:last-child,
.reject-modal-footer__buttonCancel > img:last-child,
.confirm-modal-footer__buttonCancel .iconBlock:last-child,
.confirm-modal-footer__buttonCancel > img:last-child {
  margin-right: 0;
}
.unlock-modal-footer__buttonCancel:hover,
.submit-modal-footer__buttonCancel:hover,
.reject-modal-footer__buttonCancel:hover,
.confirm-modal-footer__buttonCancel:hover {
  color: #0248a4;
}
.unlock-modal-footer__buttonUnlock, .unlock-modal-footer__buttonConfirm,
.submit-modal-footer__buttonUnlock,
.submit-modal-footer__buttonConfirm,
.reject-modal-footer__buttonUnlock,
.reject-modal-footer__buttonConfirm,
.confirm-modal-footer__buttonUnlock,
.confirm-modal-footer__buttonConfirm {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background: #0360db;
  color: #ffffff;
}
.unlock-modal-footer__buttonUnlock:hover .iconBlock .icon, .unlock-modal-footer__buttonConfirm:hover .iconBlock .icon,
.submit-modal-footer__buttonUnlock:hover .iconBlock .icon,
.submit-modal-footer__buttonConfirm:hover .iconBlock .icon,
.reject-modal-footer__buttonUnlock:hover .iconBlock .icon,
.reject-modal-footer__buttonConfirm:hover .iconBlock .icon,
.confirm-modal-footer__buttonUnlock:hover .iconBlock .icon,
.confirm-modal-footer__buttonConfirm:hover .iconBlock .icon {
  opacity: 0;
}
.unlock-modal-footer__buttonUnlock:hover .iconBlock .iconHover, .unlock-modal-footer__buttonConfirm:hover .iconBlock .iconHover,
.submit-modal-footer__buttonUnlock:hover .iconBlock .iconHover,
.submit-modal-footer__buttonConfirm:hover .iconBlock .iconHover,
.reject-modal-footer__buttonUnlock:hover .iconBlock .iconHover,
.reject-modal-footer__buttonConfirm:hover .iconBlock .iconHover,
.confirm-modal-footer__buttonUnlock:hover .iconBlock .iconHover,
.confirm-modal-footer__buttonConfirm:hover .iconBlock .iconHover {
  opacity: 1;
}
.unlock-modal-footer__buttonUnlock:hover .iconBlock.active .iconActive, .unlock-modal-footer__buttonConfirm:hover .iconBlock.active .iconActive,
.submit-modal-footer__buttonUnlock:hover .iconBlock.active .iconActive,
.submit-modal-footer__buttonConfirm:hover .iconBlock.active .iconActive,
.reject-modal-footer__buttonUnlock:hover .iconBlock.active .iconActive,
.reject-modal-footer__buttonConfirm:hover .iconBlock.active .iconActive,
.confirm-modal-footer__buttonUnlock:hover .iconBlock.active .iconActive,
.confirm-modal-footer__buttonConfirm:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.unlock-modal-footer__buttonUnlock:hover .iconBlock.active .iconActiveHover, .unlock-modal-footer__buttonConfirm:hover .iconBlock.active .iconActiveHover,
.submit-modal-footer__buttonUnlock:hover .iconBlock.active .iconActiveHover,
.submit-modal-footer__buttonConfirm:hover .iconBlock.active .iconActiveHover,
.reject-modal-footer__buttonUnlock:hover .iconBlock.active .iconActiveHover,
.reject-modal-footer__buttonConfirm:hover .iconBlock.active .iconActiveHover,
.confirm-modal-footer__buttonUnlock:hover .iconBlock.active .iconActiveHover,
.confirm-modal-footer__buttonConfirm:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.unlock-modal-footer__buttonUnlock .iconBlock, .unlock-modal-footer__buttonConfirm .iconBlock,
.submit-modal-footer__buttonUnlock .iconBlock,
.submit-modal-footer__buttonConfirm .iconBlock,
.reject-modal-footer__buttonUnlock .iconBlock,
.reject-modal-footer__buttonConfirm .iconBlock,
.confirm-modal-footer__buttonUnlock .iconBlock,
.confirm-modal-footer__buttonConfirm .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.unlock-modal-footer__buttonUnlock .iconBlock:hover .icon, .unlock-modal-footer__buttonConfirm .iconBlock:hover .icon,
.submit-modal-footer__buttonUnlock .iconBlock:hover .icon,
.submit-modal-footer__buttonConfirm .iconBlock:hover .icon,
.reject-modal-footer__buttonUnlock .iconBlock:hover .icon,
.reject-modal-footer__buttonConfirm .iconBlock:hover .icon,
.confirm-modal-footer__buttonUnlock .iconBlock:hover .icon,
.confirm-modal-footer__buttonConfirm .iconBlock:hover .icon {
  opacity: 0;
}
.unlock-modal-footer__buttonUnlock .iconBlock:hover .iconHover, .unlock-modal-footer__buttonConfirm .iconBlock:hover .iconHover,
.submit-modal-footer__buttonUnlock .iconBlock:hover .iconHover,
.submit-modal-footer__buttonConfirm .iconBlock:hover .iconHover,
.reject-modal-footer__buttonUnlock .iconBlock:hover .iconHover,
.reject-modal-footer__buttonConfirm .iconBlock:hover .iconHover,
.confirm-modal-footer__buttonUnlock .iconBlock:hover .iconHover,
.confirm-modal-footer__buttonConfirm .iconBlock:hover .iconHover {
  opacity: 1;
}
.unlock-modal-footer__buttonUnlock .iconBlock:hover.active .iconActive, .unlock-modal-footer__buttonConfirm .iconBlock:hover.active .iconActive,
.submit-modal-footer__buttonUnlock .iconBlock:hover.active .iconActive,
.submit-modal-footer__buttonConfirm .iconBlock:hover.active .iconActive,
.reject-modal-footer__buttonUnlock .iconBlock:hover.active .iconActive,
.reject-modal-footer__buttonConfirm .iconBlock:hover.active .iconActive,
.confirm-modal-footer__buttonUnlock .iconBlock:hover.active .iconActive,
.confirm-modal-footer__buttonConfirm .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.unlock-modal-footer__buttonUnlock .iconBlock:hover.active .iconActiveHover, .unlock-modal-footer__buttonConfirm .iconBlock:hover.active .iconActiveHover,
.submit-modal-footer__buttonUnlock .iconBlock:hover.active .iconActiveHover,
.submit-modal-footer__buttonConfirm .iconBlock:hover.active .iconActiveHover,
.reject-modal-footer__buttonUnlock .iconBlock:hover.active .iconActiveHover,
.reject-modal-footer__buttonConfirm .iconBlock:hover.active .iconActiveHover,
.confirm-modal-footer__buttonUnlock .iconBlock:hover.active .iconActiveHover,
.confirm-modal-footer__buttonConfirm .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.unlock-modal-footer__buttonUnlock .iconBlock.active .icon, .unlock-modal-footer__buttonConfirm .iconBlock.active .icon,
.submit-modal-footer__buttonUnlock .iconBlock.active .icon,
.submit-modal-footer__buttonConfirm .iconBlock.active .icon,
.reject-modal-footer__buttonUnlock .iconBlock.active .icon,
.reject-modal-footer__buttonConfirm .iconBlock.active .icon,
.confirm-modal-footer__buttonUnlock .iconBlock.active .icon,
.confirm-modal-footer__buttonConfirm .iconBlock.active .icon {
  opacity: 0;
}
.unlock-modal-footer__buttonUnlock .iconBlock.active .iconActive, .unlock-modal-footer__buttonConfirm .iconBlock.active .iconActive,
.submit-modal-footer__buttonUnlock .iconBlock.active .iconActive,
.submit-modal-footer__buttonConfirm .iconBlock.active .iconActive,
.reject-modal-footer__buttonUnlock .iconBlock.active .iconActive,
.reject-modal-footer__buttonConfirm .iconBlock.active .iconActive,
.confirm-modal-footer__buttonUnlock .iconBlock.active .iconActive,
.confirm-modal-footer__buttonConfirm .iconBlock.active .iconActive {
  opacity: 1;
}
.unlock-modal-footer__buttonUnlock .iconBlock .icon,
.unlock-modal-footer__buttonUnlock .iconBlock .iconHover,
.unlock-modal-footer__buttonUnlock .iconBlock .iconActive,
.unlock-modal-footer__buttonUnlock .iconBlock .iconActiveHover, .unlock-modal-footer__buttonConfirm .iconBlock .icon,
.unlock-modal-footer__buttonConfirm .iconBlock .iconHover,
.unlock-modal-footer__buttonConfirm .iconBlock .iconActive,
.unlock-modal-footer__buttonConfirm .iconBlock .iconActiveHover,
.submit-modal-footer__buttonUnlock .iconBlock .icon,
.submit-modal-footer__buttonUnlock .iconBlock .iconHover,
.submit-modal-footer__buttonUnlock .iconBlock .iconActive,
.submit-modal-footer__buttonUnlock .iconBlock .iconActiveHover,
.submit-modal-footer__buttonConfirm .iconBlock .icon,
.submit-modal-footer__buttonConfirm .iconBlock .iconHover,
.submit-modal-footer__buttonConfirm .iconBlock .iconActive,
.submit-modal-footer__buttonConfirm .iconBlock .iconActiveHover,
.reject-modal-footer__buttonUnlock .iconBlock .icon,
.reject-modal-footer__buttonUnlock .iconBlock .iconHover,
.reject-modal-footer__buttonUnlock .iconBlock .iconActive,
.reject-modal-footer__buttonUnlock .iconBlock .iconActiveHover,
.reject-modal-footer__buttonConfirm .iconBlock .icon,
.reject-modal-footer__buttonConfirm .iconBlock .iconHover,
.reject-modal-footer__buttonConfirm .iconBlock .iconActive,
.reject-modal-footer__buttonConfirm .iconBlock .iconActiveHover,
.confirm-modal-footer__buttonUnlock .iconBlock .icon,
.confirm-modal-footer__buttonUnlock .iconBlock .iconHover,
.confirm-modal-footer__buttonUnlock .iconBlock .iconActive,
.confirm-modal-footer__buttonUnlock .iconBlock .iconActiveHover,
.confirm-modal-footer__buttonConfirm .iconBlock .icon,
.confirm-modal-footer__buttonConfirm .iconBlock .iconHover,
.confirm-modal-footer__buttonConfirm .iconBlock .iconActive,
.confirm-modal-footer__buttonConfirm .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.unlock-modal-footer__buttonUnlock .iconBlock .iconHover,
.unlock-modal-footer__buttonUnlock .iconBlock .iconActive,
.unlock-modal-footer__buttonUnlock .iconBlock .iconActiveHover, .unlock-modal-footer__buttonConfirm .iconBlock .iconHover,
.unlock-modal-footer__buttonConfirm .iconBlock .iconActive,
.unlock-modal-footer__buttonConfirm .iconBlock .iconActiveHover,
.submit-modal-footer__buttonUnlock .iconBlock .iconHover,
.submit-modal-footer__buttonUnlock .iconBlock .iconActive,
.submit-modal-footer__buttonUnlock .iconBlock .iconActiveHover,
.submit-modal-footer__buttonConfirm .iconBlock .iconHover,
.submit-modal-footer__buttonConfirm .iconBlock .iconActive,
.submit-modal-footer__buttonConfirm .iconBlock .iconActiveHover,
.reject-modal-footer__buttonUnlock .iconBlock .iconHover,
.reject-modal-footer__buttonUnlock .iconBlock .iconActive,
.reject-modal-footer__buttonUnlock .iconBlock .iconActiveHover,
.reject-modal-footer__buttonConfirm .iconBlock .iconHover,
.reject-modal-footer__buttonConfirm .iconBlock .iconActive,
.reject-modal-footer__buttonConfirm .iconBlock .iconActiveHover,
.confirm-modal-footer__buttonUnlock .iconBlock .iconHover,
.confirm-modal-footer__buttonUnlock .iconBlock .iconActive,
.confirm-modal-footer__buttonUnlock .iconBlock .iconActiveHover,
.confirm-modal-footer__buttonConfirm .iconBlock .iconHover,
.confirm-modal-footer__buttonConfirm .iconBlock .iconActive,
.confirm-modal-footer__buttonConfirm .iconBlock .iconActiveHover {
  opacity: 0;
}
.unlock-modal-footer__buttonUnlock > img, .unlock-modal-footer__buttonConfirm > img,
.submit-modal-footer__buttonUnlock > img,
.submit-modal-footer__buttonConfirm > img,
.reject-modal-footer__buttonUnlock > img,
.reject-modal-footer__buttonConfirm > img,
.confirm-modal-footer__buttonUnlock > img,
.confirm-modal-footer__buttonConfirm > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.unlock-modal-footer__buttonUnlock .iconBlock,
.unlock-modal-footer__buttonUnlock > img, .unlock-modal-footer__buttonConfirm .iconBlock,
.unlock-modal-footer__buttonConfirm > img,
.submit-modal-footer__buttonUnlock .iconBlock,
.submit-modal-footer__buttonUnlock > img,
.submit-modal-footer__buttonConfirm .iconBlock,
.submit-modal-footer__buttonConfirm > img,
.reject-modal-footer__buttonUnlock .iconBlock,
.reject-modal-footer__buttonUnlock > img,
.reject-modal-footer__buttonConfirm .iconBlock,
.reject-modal-footer__buttonConfirm > img,
.confirm-modal-footer__buttonUnlock .iconBlock,
.confirm-modal-footer__buttonUnlock > img,
.confirm-modal-footer__buttonConfirm .iconBlock,
.confirm-modal-footer__buttonConfirm > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.unlock-modal-footer__buttonUnlock .iconBlock:first-child,
.unlock-modal-footer__buttonUnlock > img:first-child, .unlock-modal-footer__buttonConfirm .iconBlock:first-child,
.unlock-modal-footer__buttonConfirm > img:first-child,
.submit-modal-footer__buttonUnlock .iconBlock:first-child,
.submit-modal-footer__buttonUnlock > img:first-child,
.submit-modal-footer__buttonConfirm .iconBlock:first-child,
.submit-modal-footer__buttonConfirm > img:first-child,
.reject-modal-footer__buttonUnlock .iconBlock:first-child,
.reject-modal-footer__buttonUnlock > img:first-child,
.reject-modal-footer__buttonConfirm .iconBlock:first-child,
.reject-modal-footer__buttonConfirm > img:first-child,
.confirm-modal-footer__buttonUnlock .iconBlock:first-child,
.confirm-modal-footer__buttonUnlock > img:first-child,
.confirm-modal-footer__buttonConfirm .iconBlock:first-child,
.confirm-modal-footer__buttonConfirm > img:first-child {
  margin-left: 0;
}
.unlock-modal-footer__buttonUnlock .iconBlock:last-child,
.unlock-modal-footer__buttonUnlock > img:last-child, .unlock-modal-footer__buttonConfirm .iconBlock:last-child,
.unlock-modal-footer__buttonConfirm > img:last-child,
.submit-modal-footer__buttonUnlock .iconBlock:last-child,
.submit-modal-footer__buttonUnlock > img:last-child,
.submit-modal-footer__buttonConfirm .iconBlock:last-child,
.submit-modal-footer__buttonConfirm > img:last-child,
.reject-modal-footer__buttonUnlock .iconBlock:last-child,
.reject-modal-footer__buttonUnlock > img:last-child,
.reject-modal-footer__buttonConfirm .iconBlock:last-child,
.reject-modal-footer__buttonConfirm > img:last-child,
.confirm-modal-footer__buttonUnlock .iconBlock:last-child,
.confirm-modal-footer__buttonUnlock > img:last-child,
.confirm-modal-footer__buttonConfirm .iconBlock:last-child,
.confirm-modal-footer__buttonConfirm > img:last-child {
  margin-right: 0;
}
.unlock-modal-footer__buttonUnlock:hover, .unlock-modal-footer__buttonConfirm:hover,
.submit-modal-footer__buttonUnlock:hover,
.submit-modal-footer__buttonConfirm:hover,
.reject-modal-footer__buttonUnlock:hover,
.reject-modal-footer__buttonConfirm:hover,
.confirm-modal-footer__buttonUnlock:hover,
.confirm-modal-footer__buttonConfirm:hover {
  background-color: #0248a4;
}
.unlock-modal-footer__buttonReject,
.submit-modal-footer__buttonReject,
.reject-modal-footer__buttonReject,
.confirm-modal-footer__buttonReject {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  box-shadow: 2px 2px 6px rgba(253, 94, 116, 0.2);
  color: #ffffff;
  background-color: #fc4c16;
}
.unlock-modal-footer__buttonReject:hover .iconBlock .icon,
.submit-modal-footer__buttonReject:hover .iconBlock .icon,
.reject-modal-footer__buttonReject:hover .iconBlock .icon,
.confirm-modal-footer__buttonReject:hover .iconBlock .icon {
  opacity: 0;
}
.unlock-modal-footer__buttonReject:hover .iconBlock .iconHover,
.submit-modal-footer__buttonReject:hover .iconBlock .iconHover,
.reject-modal-footer__buttonReject:hover .iconBlock .iconHover,
.confirm-modal-footer__buttonReject:hover .iconBlock .iconHover {
  opacity: 1;
}
.unlock-modal-footer__buttonReject:hover .iconBlock.active .iconActive,
.submit-modal-footer__buttonReject:hover .iconBlock.active .iconActive,
.reject-modal-footer__buttonReject:hover .iconBlock.active .iconActive,
.confirm-modal-footer__buttonReject:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.unlock-modal-footer__buttonReject:hover .iconBlock.active .iconActiveHover,
.submit-modal-footer__buttonReject:hover .iconBlock.active .iconActiveHover,
.reject-modal-footer__buttonReject:hover .iconBlock.active .iconActiveHover,
.confirm-modal-footer__buttonReject:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.unlock-modal-footer__buttonReject .iconBlock,
.submit-modal-footer__buttonReject .iconBlock,
.reject-modal-footer__buttonReject .iconBlock,
.confirm-modal-footer__buttonReject .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.unlock-modal-footer__buttonReject .iconBlock:hover .icon,
.submit-modal-footer__buttonReject .iconBlock:hover .icon,
.reject-modal-footer__buttonReject .iconBlock:hover .icon,
.confirm-modal-footer__buttonReject .iconBlock:hover .icon {
  opacity: 0;
}
.unlock-modal-footer__buttonReject .iconBlock:hover .iconHover,
.submit-modal-footer__buttonReject .iconBlock:hover .iconHover,
.reject-modal-footer__buttonReject .iconBlock:hover .iconHover,
.confirm-modal-footer__buttonReject .iconBlock:hover .iconHover {
  opacity: 1;
}
.unlock-modal-footer__buttonReject .iconBlock:hover.active .iconActive,
.submit-modal-footer__buttonReject .iconBlock:hover.active .iconActive,
.reject-modal-footer__buttonReject .iconBlock:hover.active .iconActive,
.confirm-modal-footer__buttonReject .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.unlock-modal-footer__buttonReject .iconBlock:hover.active .iconActiveHover,
.submit-modal-footer__buttonReject .iconBlock:hover.active .iconActiveHover,
.reject-modal-footer__buttonReject .iconBlock:hover.active .iconActiveHover,
.confirm-modal-footer__buttonReject .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.unlock-modal-footer__buttonReject .iconBlock.active .icon,
.submit-modal-footer__buttonReject .iconBlock.active .icon,
.reject-modal-footer__buttonReject .iconBlock.active .icon,
.confirm-modal-footer__buttonReject .iconBlock.active .icon {
  opacity: 0;
}
.unlock-modal-footer__buttonReject .iconBlock.active .iconActive,
.submit-modal-footer__buttonReject .iconBlock.active .iconActive,
.reject-modal-footer__buttonReject .iconBlock.active .iconActive,
.confirm-modal-footer__buttonReject .iconBlock.active .iconActive {
  opacity: 1;
}
.unlock-modal-footer__buttonReject .iconBlock .icon,
.unlock-modal-footer__buttonReject .iconBlock .iconHover,
.unlock-modal-footer__buttonReject .iconBlock .iconActive,
.unlock-modal-footer__buttonReject .iconBlock .iconActiveHover,
.submit-modal-footer__buttonReject .iconBlock .icon,
.submit-modal-footer__buttonReject .iconBlock .iconHover,
.submit-modal-footer__buttonReject .iconBlock .iconActive,
.submit-modal-footer__buttonReject .iconBlock .iconActiveHover,
.reject-modal-footer__buttonReject .iconBlock .icon,
.reject-modal-footer__buttonReject .iconBlock .iconHover,
.reject-modal-footer__buttonReject .iconBlock .iconActive,
.reject-modal-footer__buttonReject .iconBlock .iconActiveHover,
.confirm-modal-footer__buttonReject .iconBlock .icon,
.confirm-modal-footer__buttonReject .iconBlock .iconHover,
.confirm-modal-footer__buttonReject .iconBlock .iconActive,
.confirm-modal-footer__buttonReject .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.unlock-modal-footer__buttonReject .iconBlock .iconHover,
.unlock-modal-footer__buttonReject .iconBlock .iconActive,
.unlock-modal-footer__buttonReject .iconBlock .iconActiveHover,
.submit-modal-footer__buttonReject .iconBlock .iconHover,
.submit-modal-footer__buttonReject .iconBlock .iconActive,
.submit-modal-footer__buttonReject .iconBlock .iconActiveHover,
.reject-modal-footer__buttonReject .iconBlock .iconHover,
.reject-modal-footer__buttonReject .iconBlock .iconActive,
.reject-modal-footer__buttonReject .iconBlock .iconActiveHover,
.confirm-modal-footer__buttonReject .iconBlock .iconHover,
.confirm-modal-footer__buttonReject .iconBlock .iconActive,
.confirm-modal-footer__buttonReject .iconBlock .iconActiveHover {
  opacity: 0;
}
.unlock-modal-footer__buttonReject > img,
.submit-modal-footer__buttonReject > img,
.reject-modal-footer__buttonReject > img,
.confirm-modal-footer__buttonReject > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.unlock-modal-footer__buttonReject .iconBlock,
.unlock-modal-footer__buttonReject > img,
.submit-modal-footer__buttonReject .iconBlock,
.submit-modal-footer__buttonReject > img,
.reject-modal-footer__buttonReject .iconBlock,
.reject-modal-footer__buttonReject > img,
.confirm-modal-footer__buttonReject .iconBlock,
.confirm-modal-footer__buttonReject > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.unlock-modal-footer__buttonReject .iconBlock:first-child,
.unlock-modal-footer__buttonReject > img:first-child,
.submit-modal-footer__buttonReject .iconBlock:first-child,
.submit-modal-footer__buttonReject > img:first-child,
.reject-modal-footer__buttonReject .iconBlock:first-child,
.reject-modal-footer__buttonReject > img:first-child,
.confirm-modal-footer__buttonReject .iconBlock:first-child,
.confirm-modal-footer__buttonReject > img:first-child {
  margin-left: 0;
}
.unlock-modal-footer__buttonReject .iconBlock:last-child,
.unlock-modal-footer__buttonReject > img:last-child,
.submit-modal-footer__buttonReject .iconBlock:last-child,
.submit-modal-footer__buttonReject > img:last-child,
.reject-modal-footer__buttonReject .iconBlock:last-child,
.reject-modal-footer__buttonReject > img:last-child,
.confirm-modal-footer__buttonReject .iconBlock:last-child,
.confirm-modal-footer__buttonReject > img:last-child {
  margin-right: 0;
}
.unlock-modal-footer__buttonReject:hover,
.submit-modal-footer__buttonReject:hover,
.reject-modal-footer__buttonReject:hover,
.confirm-modal-footer__buttonReject:hover {
  background-color: #cf3405;
}