.edit-user-layout {
  padding: 24px 0 36px;
}

.edit-user-container {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
}

.edit-user-breadcrumbs {
  display: flex;
  margin-bottom: 8px;
}
.edit-user-breadcrumbs__item {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #6a6a6a;
  padding: 4px 0;
  margin-right: 8px;
}
.edit-user-breadcrumbs__item::after {
  content: "/";
  margin-left: 8px;
}
.edit-user-breadcrumbs__item:last-child {
  margin-right: 0;
}
.edit-user-breadcrumbs__item:last-child::after {
  display: none;
}
.edit-user-breadcrumbs__item.active {
  color: #212121;
}
.edit-user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.edit-user-header-wrapper {
  display: flex;
  align-items: center;
}
.edit-user-header__logo {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 12px;
}
.edit-user-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
.edit-user-header__tooltip-icon {
  padding: 8px;
  margin-left: 4px;
}
.edit-user-header__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
}
.edit-user-header__button:hover .iconBlock .icon {
  opacity: 0;
}
.edit-user-header__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.edit-user-header__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.edit-user-header__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.edit-user-header__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.edit-user-header__button .iconBlock:hover .icon {
  opacity: 0;
}
.edit-user-header__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.edit-user-header__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.edit-user-header__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.edit-user-header__button .iconBlock.active .icon {
  opacity: 0;
}
.edit-user-header__button .iconBlock.active .iconActive {
  opacity: 1;
}
.edit-user-header__button .iconBlock .icon,
.edit-user-header__button .iconBlock .iconHover,
.edit-user-header__button .iconBlock .iconActive,
.edit-user-header__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.edit-user-header__button .iconBlock .iconHover,
.edit-user-header__button .iconBlock .iconActive,
.edit-user-header__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.edit-user-header__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.edit-user-header__button .iconBlock,
.edit-user-header__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.edit-user-header__button .iconBlock:first-child,
.edit-user-header__button > img:first-child {
  margin-left: 0;
}
.edit-user-header__button .iconBlock:last-child,
.edit-user-header__button > img:last-child {
  margin-right: 0;
}
.edit-user-header__button:hover {
  color: #0248a4;
}
.edit-user-info {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 24px;
  border: 1px solid #d2d2d2;
  border-radius: 12px;
}
.edit-user-info-left {
  display: flex;
  flex-direction: column;
}
.edit-user-info-left-main {
  display: flex;
}
.edit-user-info-left-main-item {
  min-width: 120px;
}
.edit-user-info-left-main-item-title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #6a6a6a;
}
.edit-user-info-left-main-item-subtitle {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.edit-user-info-left-infomation {
  align-items: center;
}
.edit-user-info-left-infomation__img {
  margin-right: 4px;
}
.edit-user-info-right {
  display: flex;
  align-items: center;
}
.edit-user-info-right-button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
  padding: 8px 16px;
}
.edit-user-info-right-button:hover .iconBlock .icon {
  opacity: 0;
}
.edit-user-info-right-button:hover .iconBlock .iconHover {
  opacity: 1;
}
.edit-user-info-right-button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.edit-user-info-right-button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.edit-user-info-right-button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.edit-user-info-right-button .iconBlock:hover .icon {
  opacity: 0;
}
.edit-user-info-right-button .iconBlock:hover .iconHover {
  opacity: 1;
}
.edit-user-info-right-button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.edit-user-info-right-button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.edit-user-info-right-button .iconBlock.active .icon {
  opacity: 0;
}
.edit-user-info-right-button .iconBlock.active .iconActive {
  opacity: 1;
}
.edit-user-info-right-button .iconBlock .icon,
.edit-user-info-right-button .iconBlock .iconHover,
.edit-user-info-right-button .iconBlock .iconActive,
.edit-user-info-right-button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.edit-user-info-right-button .iconBlock .iconHover,
.edit-user-info-right-button .iconBlock .iconActive,
.edit-user-info-right-button .iconBlock .iconActiveHover {
  opacity: 0;
}
.edit-user-info-right-button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.edit-user-info-right-button .iconBlock,
.edit-user-info-right-button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.edit-user-info-right-button .iconBlock:first-child,
.edit-user-info-right-button > img:first-child {
  margin-left: 0;
}
.edit-user-info-right-button .iconBlock:last-child,
.edit-user-info-right-button > img:last-child {
  margin-right: 0;
}
.edit-user-info-right-button:hover {
  color: #0248a4;
}
.edit-user-info-right-buttons__reject {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #fc4c16;
  background-color: #fff1ed;
  background-color: transparent;
}
.edit-user-info-right-buttons__reject:hover .iconBlock .icon {
  opacity: 0;
}
.edit-user-info-right-buttons__reject:hover .iconBlock .iconHover {
  opacity: 1;
}
.edit-user-info-right-buttons__reject:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.edit-user-info-right-buttons__reject:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.edit-user-info-right-buttons__reject .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.edit-user-info-right-buttons__reject .iconBlock:hover .icon {
  opacity: 0;
}
.edit-user-info-right-buttons__reject .iconBlock:hover .iconHover {
  opacity: 1;
}
.edit-user-info-right-buttons__reject .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.edit-user-info-right-buttons__reject .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.edit-user-info-right-buttons__reject .iconBlock.active .icon {
  opacity: 0;
}
.edit-user-info-right-buttons__reject .iconBlock.active .iconActive {
  opacity: 1;
}
.edit-user-info-right-buttons__reject .iconBlock .icon,
.edit-user-info-right-buttons__reject .iconBlock .iconHover,
.edit-user-info-right-buttons__reject .iconBlock .iconActive,
.edit-user-info-right-buttons__reject .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.edit-user-info-right-buttons__reject .iconBlock .iconHover,
.edit-user-info-right-buttons__reject .iconBlock .iconActive,
.edit-user-info-right-buttons__reject .iconBlock .iconActiveHover {
  opacity: 0;
}
.edit-user-info-right-buttons__reject > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.edit-user-info-right-buttons__reject .iconBlock,
.edit-user-info-right-buttons__reject > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.edit-user-info-right-buttons__reject .iconBlock:first-child,
.edit-user-info-right-buttons__reject > img:first-child {
  margin-left: 0;
}
.edit-user-info-right-buttons__reject .iconBlock:last-child,
.edit-user-info-right-buttons__reject > img:last-child {
  margin-right: 0;
}
.edit-user-info-right-buttons__reject:hover {
  color: #cf3405;
}
.edit-user-info-right-buttons__confirm {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background: #0360db;
  color: #ffffff;
}
.edit-user-info-right-buttons__confirm:hover .iconBlock .icon {
  opacity: 0;
}
.edit-user-info-right-buttons__confirm:hover .iconBlock .iconHover {
  opacity: 1;
}
.edit-user-info-right-buttons__confirm:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.edit-user-info-right-buttons__confirm:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.edit-user-info-right-buttons__confirm .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.edit-user-info-right-buttons__confirm .iconBlock:hover .icon {
  opacity: 0;
}
.edit-user-info-right-buttons__confirm .iconBlock:hover .iconHover {
  opacity: 1;
}
.edit-user-info-right-buttons__confirm .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.edit-user-info-right-buttons__confirm .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.edit-user-info-right-buttons__confirm .iconBlock.active .icon {
  opacity: 0;
}
.edit-user-info-right-buttons__confirm .iconBlock.active .iconActive {
  opacity: 1;
}
.edit-user-info-right-buttons__confirm .iconBlock .icon,
.edit-user-info-right-buttons__confirm .iconBlock .iconHover,
.edit-user-info-right-buttons__confirm .iconBlock .iconActive,
.edit-user-info-right-buttons__confirm .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.edit-user-info-right-buttons__confirm .iconBlock .iconHover,
.edit-user-info-right-buttons__confirm .iconBlock .iconActive,
.edit-user-info-right-buttons__confirm .iconBlock .iconActiveHover {
  opacity: 0;
}
.edit-user-info-right-buttons__confirm > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.edit-user-info-right-buttons__confirm .iconBlock,
.edit-user-info-right-buttons__confirm > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.edit-user-info-right-buttons__confirm .iconBlock:first-child,
.edit-user-info-right-buttons__confirm > img:first-child {
  margin-left: 0;
}
.edit-user-info-right-buttons__confirm .iconBlock:last-child,
.edit-user-info-right-buttons__confirm > img:last-child {
  margin-right: 0;
}
.edit-user-info-right-buttons__confirm:hover {
  background-color: #0248a4;
}
.edit-user-main {
  display: flex;
}
.edit-user-main-left {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
  min-width: 440px;
  margin-right: 24px;
  margin-bottom: 0;
}
.edit-user-main-left:last-child {
  margin-bottom: 0;
}
.edit-user-main-left-head {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #212121;
  margin-bottom: 16px;
}
.edit-user-main-left-formgroup {
  margin-bottom: 16px;
}
.edit-user-main-left-formgroup-name {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #6a6a6a;
}
.edit-user-main-left-formgroup-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.edit-user-main-left-formgroup-title-name {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #6a6a6a;
}
.edit-user-main-left-formgroup-title-subtitle {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #9d9d9d;
}

.edit-user-footer-layout {
  background: #ffffff;
  padding: 24px 0;
}

.edit-user-footer-container {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
}

.edit-user-footer {
  display: flex;
  justify-content: flex-end;
}
.edit-user-footer__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background: #0360db;
  color: #ffffff;
  min-width: 148px;
}
.edit-user-footer__button:hover .iconBlock .icon {
  opacity: 0;
}
.edit-user-footer__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.edit-user-footer__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.edit-user-footer__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.edit-user-footer__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.edit-user-footer__button .iconBlock:hover .icon {
  opacity: 0;
}
.edit-user-footer__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.edit-user-footer__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.edit-user-footer__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.edit-user-footer__button .iconBlock.active .icon {
  opacity: 0;
}
.edit-user-footer__button .iconBlock.active .iconActive {
  opacity: 1;
}
.edit-user-footer__button .iconBlock .icon,
.edit-user-footer__button .iconBlock .iconHover,
.edit-user-footer__button .iconBlock .iconActive,
.edit-user-footer__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.edit-user-footer__button .iconBlock .iconHover,
.edit-user-footer__button .iconBlock .iconActive,
.edit-user-footer__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.edit-user-footer__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.edit-user-footer__button .iconBlock,
.edit-user-footer__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.edit-user-footer__button .iconBlock:first-child,
.edit-user-footer__button > img:first-child {
  margin-left: 0;
}
.edit-user-footer__button .iconBlock:last-child,
.edit-user-footer__button > img:last-child {
  margin-right: 0;
}
.edit-user-footer__button:hover {
  background-color: #0248a4;
}
.edit-user-footer__button.new-user-footer__button--inactive {
  background: #a1e1ff;
}