@import "Sass/common/variables";
@import "Sass/mixins/";

.batch-layout {
    padding: $indent-24 0 $indent-36;
}

.batch-container {
    @include container;
}

.batch-breadcrumbs {
    @include breadcrumbs;
    margin-bottom: $indent-8;
}

.batch-header {
    @include pageTitle;
}

.batch {
    &-main {
        display: flex;

        &__left {
            @include box;
            padding-right: 12px;
            width: 440px;
            margin-bottom: 0;
            border: 1px solid $color-sky-blue-200;
            display: flex;

            &.batch-main__left--inactive {
                box-shadow: none;
                border: none;
            }
        }

        &__right {
            @include box;
            padding-right: 12px;
            flex: 1;
            margin-left: $indent-24;
            border: 1px solid $color-sky-blue-200;

            &:first-child {
                margin-left: 0;
            }

            &.batch-main__right--inactive {
                box-shadow: none;
                border: none;
            }
        }
    }

    &-details,
    &-items {
        display: flex;
        flex-direction: column;
        
        height: 706px;
        overflow-y: auto;
        @include customScroll;
        
        padding-right: 12px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1 1;
            justify-content: space-between;
        }

        &-header {
            margin-bottom: $indent-16;

            &-step {
                @include h5;
                color: $color-sky-blue-400;

                &.batch-details-header-step--inactive,
                &.batch-items-header-step--inactive {
                    color: $color-gray-400;
                }
            }

            &__title {
                @include h2;
            }
        }

        &__description {
            @include h5;
            color: $color-gray-600;
        }

        &-form {
            @include form-16;

            &-row {
                @include formHorizontal;
                align-items: flex-start;

                &__amount {
                    text-align: end;
                }
            }

            &__text {
                @include h4;
                min-width: 188px;
                color: $color-gray-900;
            }
        }

        &-footer {
            margin-top: 80px;
            display: flex;
            flex-direction: row-reverse;

            &__button {
                @include blueButton;
                min-width: 148px;

                &.batch-details-footer__button--inactive {
                    background-color: $color-sky-blue-200;
                }
            }

            &__editButton {
                @include lightBlueButton;
            }
        }
    }

    &-items {
        &-header-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &-header {
            &__button {
                @include lightBlueButton;

                &.batch-items-header__button--inactive {
                    @include lightBlueButton;
                    background-color: $color-gray-100;
                    color: $color-gray-300;

                    svg {
                        path {
                            stroke: #d2d2d2 !important;
                        }
                    }
                    
                    &:hover {
                        background-color: $color-gray-100;
                        color: $color-gray-300;
                    }
                }
            }
        }

        &-card {
            padding: $indent-16;
            border: 2px solid $color-gray-100;
            border-radius: 12px;

            &-header {
                display: flex;
                justify-content: space-between;

                &__title {
                    @include h5;
                    flex: 1;
                    cursor: pointer;
                }

                &__sum,
                &__type,
                &__label {
                    @include h5;
                    padding-top: 6px;
                    margin-right: $indent-24;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &__sum {
                    &.batch-items-card-header__sum--inactive {
                        color: $color-gray-600;
                    }
                }

                &__type {
                    padding: 6px 26px 2px;
                    color: $color-sky-blue-500;
                    background-color: $color-sky-blue-100;
                    border-radius: 4px;

                    &.batch-items-card-header__type--inactive {
                        color: $color-gray-600;
                        background-color: $color-gray-200;
                    }
                }

                &__label {
                    color: $color-gray-500;

                    &.batch-items-card-header__label--inactive {
                        color: $color-gray-400;
                    }
                }
            }

            &-form {
                margin-top: $indent-16;

                &-row {
                    @include formHorizontal;
                    align-items: flex-start;

                    .formgroup {
                        width: 100%;
                    }

                    &__amount {
                        text-align: end;
                    }

                    &__label {
                        @include caption1;
                        margin-top: $indent-4;
                        color: $color-gray-600;
                    }
                }

                &-textarea {
                    margin-top: $indent-16;
                }
            }
        }
    }

    &-items-readonly {
        &-header-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &-card {
            padding: $indent-16;
            border: 2px solid $color-gray-100;
            border-radius: 12px;
            margin-bottom: $indent-12;

            &:last-child {
                margin-bottom: 0;
            }

            &-header {
                display: flex;
                justify-content: space-between;

                &__title {
                    @include h5;
                    flex: 1;
                    cursor: pointer;
                }

                &__content {
                    display: flex;
                }

                &__sum,
                &__typeTransfer,
                &__typePayment,
                &__label {
                    @include h5;
                    padding-top: 6px;
                    margin-right: $indent-24;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &__typeTransfer,
                &__typePayment {
                    padding: 6px 26px 2px;
                    color: $color-sky-blue-500;
                    background-color: $color-sky-blue-100;
                    border-radius: 4px;
                }

                &__typePayment {
                    color: $color-violet-400;
                    background-color: $color-violet-100;
                }

                &__label {
                    color: $color-gray-500;
                }
            }
        }
    }
}

.batch-modal {
    @include modalDefault;

    &-layout {
        @include modalDefaultContainer;
    }

    &-header-wrapper {
        margin-bottom: $indent-16;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            @include h2;
            color: $color-wireframes-900;
        }

        &__subtitle {
            @include h5;
            margin-top: $indent-4;
            color: $color-gray-900;
        }

        &__icon {
            @include buttonIconSmall;
        }
    }

    &-main {
        margin-bottom: $indent-16;

        &-input {
            margin-right: 0;
            margin-bottom: $indent-16;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;

        &__buttonCancel {
            @include lightBlueButton;
            min-width: 144px;
        }

        &__buttonSuccess {
            @include blueButton;
            min-width: 144px;
        }
    }
}


.batch-footer-layout {
    background: $color-white;
    padding: $indent-24 0;
}

.batch-footer-container {
    @include container;
}

.batch-footer {
    display: flex;
    justify-content: space-between;

    &-left {
        display: flex;
        align-items: center;

        &-total {
            display: flex;
            align-items: center;
            margin-right: 40px;

            &-text {
                @include h4;

                &:first-child {
                    margin-right: $indent-8;
                    color: $color-gray-600;
                }

                &:last-child {
                    color: $color-gray-800;
                }
            }
        }

        &-awaiting {
            display: flex;
            align-items: center;

            &-text {
                @include h4;

                &:first-child {
                    margin-right: $indent-8;
                    color: $color-gray-600;
                }

                &:last-child {
                    color: $color-red-500;
                }
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-batch {
            display: flex;
            align-items: center;

            &-text {
                @include h4;

                &:nth-child(1) {
                    margin-right: $indent-8;
                    color: $color-gray-600;
                }

                &:nth-child(2) {
                    @include h2;
                    margin-right: 44px;
                    color: $color-gray-800;
                }
                
                &--success {
                    color: $color-green-400;
                }
            }
        }

        &-act {
            display: flex;
            align-items: center;

            &-reject,
            &-sign {
                min-width: 148px;
            }

            &-reject {
                @include lightBlueButton;
                margin-right: $indent-16;
                
                &--inactive {
                    background-color: $color-gray-100;
                    color: $color-gray-300;

                    svg {
                        path {
                            stroke: #d2d2d2 !important;
                        }
                    }
                    
                    &:hover {
                        color: $color-gray-300;
                    }
                }
            }

            &-sign {
                @include blueButton;

                &--inactive {
                    background-color: $color-sky-blue-200;
                    box-shadow: unset;
                    
                    &:hover {
                        background-color: $color-sky-blue-200; 
                        box-shadow: unset;
                    }
                }
            }
        }
    }
}
