.batch-layout {
  padding: 24px 0 36px;
}

.batch-container {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
}

.batch-breadcrumbs {
  display: flex;
  margin-bottom: 8px;
}
.batch-breadcrumbs__item {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #6a6a6a;
  padding: 4px 0;
  margin-right: 8px;
}
.batch-breadcrumbs__item::after {
  content: "/";
  margin-left: 8px;
}
.batch-breadcrumbs__item:last-child {
  margin-right: 0;
}
.batch-breadcrumbs__item:last-child::after {
  display: none;
}
.batch-breadcrumbs__item.active {
  color: #212121;
}

.batch-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.batch-header-wrapper {
  display: flex;
  align-items: center;
}
.batch-header__logo {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.15);
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 12px;
}
.batch-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
.batch-header__tooltip-icon {
  padding: 8px;
  margin-left: 4px;
}
.batch-header__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
}
.batch-header__button:hover .iconBlock .icon {
  opacity: 0;
}
.batch-header__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.batch-header__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.batch-header__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.batch-header__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-header__button .iconBlock:hover .icon {
  opacity: 0;
}
.batch-header__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.batch-header__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.batch-header__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-header__button .iconBlock.active .icon {
  opacity: 0;
}
.batch-header__button .iconBlock.active .iconActive {
  opacity: 1;
}
.batch-header__button .iconBlock .icon,
.batch-header__button .iconBlock .iconHover,
.batch-header__button .iconBlock .iconActive,
.batch-header__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-header__button .iconBlock .iconHover,
.batch-header__button .iconBlock .iconActive,
.batch-header__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.batch-header__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.batch-header__button .iconBlock,
.batch-header__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.batch-header__button .iconBlock:first-child,
.batch-header__button > img:first-child {
  margin-left: 0;
}
.batch-header__button .iconBlock:last-child,
.batch-header__button > img:last-child {
  margin-right: 0;
}
.batch-header__button:hover {
  color: #0248a4;
}

.batch-main {
  display: flex;
}
.batch-main__left {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.15);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
  padding-right: 12px;
  width: 440px;
  margin-bottom: 0;
  border: 1px solid #CDDFF8;
  display: flex;
}
.batch-main__left:last-child {
  margin-bottom: 0;
}
.batch-main__left.batch-main__left--inactive {
  box-shadow: none;
  border: none;
}
.batch-main__right {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.15);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
  padding-right: 12px;
  flex: 1;
  margin-left: 24px;
  border: 1px solid #CDDFF8;
}
.batch-main__right:last-child {
  margin-bottom: 0;
}
.batch-main__right:first-child {
  margin-left: 0;
}
.batch-main__right.batch-main__right--inactive {
  box-shadow: none;
  border: none;
}
.batch-details, .batch-items {
  display: flex;
  flex-direction: column;
  height: 706px;
  overflow-y: auto;
  padding-right: 12px;
}
.batch-details::-webkit-scrollbar, .batch-items::-webkit-scrollbar {
  width: 4px;
  cursor: pointer;
}
.batch-details::-webkit-scrollbar-track, .batch-items::-webkit-scrollbar-track {
  background-color: transparent;
}
.batch-details::-webkit-scrollbar-thumb, .batch-items::-webkit-scrollbar-thumb {
  background-color: #ededed;
  border-radius: 4px;
}
.batch-details::-webkit-scrollbar-thumb:window-inactive, .batch-items::-webkit-scrollbar-thumb:window-inactive {
  background-color: #d2d2d2;
}
.batch-details-wrapper, .batch-items-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  justify-content: space-between;
}
.batch-details-header, .batch-items-header {
  margin-bottom: 16px;
}
.batch-details-header-step, .batch-items-header-step {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #4288e4;
}
.batch-details-header-step.batch-details-header-step--inactive, .batch-details-header-step.batch-items-header-step--inactive, .batch-items-header-step.batch-details-header-step--inactive, .batch-items-header-step.batch-items-header-step--inactive {
  color: #b8b8b8;
}
.batch-details-header__title, .batch-items-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}
.batch-details__description, .batch-items__description {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #6a6a6a;
}
.batch-details-form .formgroup, .batch-items-form .formgroup {
  margin-top: 16px;
}
.batch-details-form .formgroup:first-child, .batch-items-form .formgroup:first-child {
  margin-top: 0;
}
.batch-details-form-row, .batch-items-form-row {
  display: flex;
  align-items: center;
  align-items: flex-start;
}
.batch-details-form-row .formgroup, .batch-items-form-row .formgroup {
  margin-right: 16px;
}
.batch-details-form-row .formgroup:last-child, .batch-items-form-row .formgroup:last-child {
  margin-right: 0;
}
.batch-details-form-row__amount, .batch-items-form-row__amount {
  text-align: end;
}
.batch-details-form__text, .batch-items-form__text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  min-width: 188px;
  color: #212121;
}
.batch-details-footer, .batch-items-footer {
  margin-top: 80px;
  display: flex;
  flex-direction: row-reverse;
}
.batch-details-footer__button, .batch-items-footer__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background: #0360db;
  color: #ffffff;
  min-width: 148px;
}
.batch-details-footer__button:hover .iconBlock .icon, .batch-items-footer__button:hover .iconBlock .icon {
  opacity: 0;
}
.batch-details-footer__button:hover .iconBlock .iconHover, .batch-items-footer__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.batch-details-footer__button:hover .iconBlock.active .iconActive, .batch-items-footer__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.batch-details-footer__button:hover .iconBlock.active .iconActiveHover, .batch-items-footer__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.batch-details-footer__button .iconBlock, .batch-items-footer__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-details-footer__button .iconBlock:hover .icon, .batch-items-footer__button .iconBlock:hover .icon {
  opacity: 0;
}
.batch-details-footer__button .iconBlock:hover .iconHover, .batch-items-footer__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.batch-details-footer__button .iconBlock:hover.active .iconActive, .batch-items-footer__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.batch-details-footer__button .iconBlock:hover.active .iconActiveHover, .batch-items-footer__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-details-footer__button .iconBlock.active .icon, .batch-items-footer__button .iconBlock.active .icon {
  opacity: 0;
}
.batch-details-footer__button .iconBlock.active .iconActive, .batch-items-footer__button .iconBlock.active .iconActive {
  opacity: 1;
}
.batch-details-footer__button .iconBlock .icon,
.batch-details-footer__button .iconBlock .iconHover,
.batch-details-footer__button .iconBlock .iconActive,
.batch-details-footer__button .iconBlock .iconActiveHover, .batch-items-footer__button .iconBlock .icon,
.batch-items-footer__button .iconBlock .iconHover,
.batch-items-footer__button .iconBlock .iconActive,
.batch-items-footer__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-details-footer__button .iconBlock .iconHover,
.batch-details-footer__button .iconBlock .iconActive,
.batch-details-footer__button .iconBlock .iconActiveHover, .batch-items-footer__button .iconBlock .iconHover,
.batch-items-footer__button .iconBlock .iconActive,
.batch-items-footer__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.batch-details-footer__button > img, .batch-items-footer__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.batch-details-footer__button .iconBlock,
.batch-details-footer__button > img, .batch-items-footer__button .iconBlock,
.batch-items-footer__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.batch-details-footer__button .iconBlock:first-child,
.batch-details-footer__button > img:first-child, .batch-items-footer__button .iconBlock:first-child,
.batch-items-footer__button > img:first-child {
  margin-left: 0;
}
.batch-details-footer__button .iconBlock:last-child,
.batch-details-footer__button > img:last-child, .batch-items-footer__button .iconBlock:last-child,
.batch-items-footer__button > img:last-child {
  margin-right: 0;
}
.batch-details-footer__button:hover, .batch-items-footer__button:hover {
  background-color: #0248a4;
}
.batch-details-footer__button.batch-details-footer__button--inactive, .batch-items-footer__button.batch-details-footer__button--inactive {
  background-color: #CDDFF8;
}
.batch-details-footer__editButton, .batch-items-footer__editButton {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  background: #f2f7fd;
  color: #0360db;
}
.batch-details-footer__editButton:hover .iconBlock .icon, .batch-items-footer__editButton:hover .iconBlock .icon {
  opacity: 0;
}
.batch-details-footer__editButton:hover .iconBlock .iconHover, .batch-items-footer__editButton:hover .iconBlock .iconHover {
  opacity: 1;
}
.batch-details-footer__editButton:hover .iconBlock.active .iconActive, .batch-items-footer__editButton:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.batch-details-footer__editButton:hover .iconBlock.active .iconActiveHover, .batch-items-footer__editButton:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.batch-details-footer__editButton .iconBlock, .batch-items-footer__editButton .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-details-footer__editButton .iconBlock:hover .icon, .batch-items-footer__editButton .iconBlock:hover .icon {
  opacity: 0;
}
.batch-details-footer__editButton .iconBlock:hover .iconHover, .batch-items-footer__editButton .iconBlock:hover .iconHover {
  opacity: 1;
}
.batch-details-footer__editButton .iconBlock:hover.active .iconActive, .batch-items-footer__editButton .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.batch-details-footer__editButton .iconBlock:hover.active .iconActiveHover, .batch-items-footer__editButton .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-details-footer__editButton .iconBlock.active .icon, .batch-items-footer__editButton .iconBlock.active .icon {
  opacity: 0;
}
.batch-details-footer__editButton .iconBlock.active .iconActive, .batch-items-footer__editButton .iconBlock.active .iconActive {
  opacity: 1;
}
.batch-details-footer__editButton .iconBlock .icon,
.batch-details-footer__editButton .iconBlock .iconHover,
.batch-details-footer__editButton .iconBlock .iconActive,
.batch-details-footer__editButton .iconBlock .iconActiveHover, .batch-items-footer__editButton .iconBlock .icon,
.batch-items-footer__editButton .iconBlock .iconHover,
.batch-items-footer__editButton .iconBlock .iconActive,
.batch-items-footer__editButton .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-details-footer__editButton .iconBlock .iconHover,
.batch-details-footer__editButton .iconBlock .iconActive,
.batch-details-footer__editButton .iconBlock .iconActiveHover, .batch-items-footer__editButton .iconBlock .iconHover,
.batch-items-footer__editButton .iconBlock .iconActive,
.batch-items-footer__editButton .iconBlock .iconActiveHover {
  opacity: 0;
}
.batch-details-footer__editButton > img, .batch-items-footer__editButton > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.batch-details-footer__editButton .iconBlock,
.batch-details-footer__editButton > img, .batch-items-footer__editButton .iconBlock,
.batch-items-footer__editButton > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.batch-details-footer__editButton .iconBlock:first-child,
.batch-details-footer__editButton > img:first-child, .batch-items-footer__editButton .iconBlock:first-child,
.batch-items-footer__editButton > img:first-child {
  margin-left: 0;
}
.batch-details-footer__editButton .iconBlock:last-child,
.batch-details-footer__editButton > img:last-child, .batch-items-footer__editButton .iconBlock:last-child,
.batch-items-footer__editButton > img:last-child {
  margin-right: 0;
}
.batch-details-footer__editButton:hover, .batch-items-footer__editButton:hover {
  color: #0248a4;
}
.batch-items-header-wrapper {
  display: flex;
  justify-content: space-between;
}
.batch-items-header__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  background: #f2f7fd;
  color: #0360db;
}
.batch-items-header__button:hover .iconBlock .icon {
  opacity: 0;
}
.batch-items-header__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.batch-items-header__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.batch-items-header__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.batch-items-header__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-items-header__button .iconBlock:hover .icon {
  opacity: 0;
}
.batch-items-header__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.batch-items-header__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.batch-items-header__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-items-header__button .iconBlock.active .icon {
  opacity: 0;
}
.batch-items-header__button .iconBlock.active .iconActive {
  opacity: 1;
}
.batch-items-header__button .iconBlock .icon,
.batch-items-header__button .iconBlock .iconHover,
.batch-items-header__button .iconBlock .iconActive,
.batch-items-header__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-items-header__button .iconBlock .iconHover,
.batch-items-header__button .iconBlock .iconActive,
.batch-items-header__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.batch-items-header__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.batch-items-header__button .iconBlock,
.batch-items-header__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.batch-items-header__button .iconBlock:first-child,
.batch-items-header__button > img:first-child {
  margin-left: 0;
}
.batch-items-header__button .iconBlock:last-child,
.batch-items-header__button > img:last-child {
  margin-right: 0;
}
.batch-items-header__button:hover {
  color: #0248a4;
}
.batch-items-header__button.batch-items-header__button--inactive {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  background: #f2f7fd;
  color: #0360db;
  background-color: #f7f7f7;
  color: #d2d2d2;
}
.batch-items-header__button.batch-items-header__button--inactive:hover .iconBlock .icon {
  opacity: 0;
}
.batch-items-header__button.batch-items-header__button--inactive:hover .iconBlock .iconHover {
  opacity: 1;
}
.batch-items-header__button.batch-items-header__button--inactive:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.batch-items-header__button.batch-items-header__button--inactive:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock:hover .icon {
  opacity: 0;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock:hover .iconHover {
  opacity: 1;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock.active .icon {
  opacity: 0;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock.active .iconActive {
  opacity: 1;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock .icon,
.batch-items-header__button.batch-items-header__button--inactive .iconBlock .iconHover,
.batch-items-header__button.batch-items-header__button--inactive .iconBlock .iconActive,
.batch-items-header__button.batch-items-header__button--inactive .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock .iconHover,
.batch-items-header__button.batch-items-header__button--inactive .iconBlock .iconActive,
.batch-items-header__button.batch-items-header__button--inactive .iconBlock .iconActiveHover {
  opacity: 0;
}
.batch-items-header__button.batch-items-header__button--inactive > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock,
.batch-items-header__button.batch-items-header__button--inactive > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock:first-child,
.batch-items-header__button.batch-items-header__button--inactive > img:first-child {
  margin-left: 0;
}
.batch-items-header__button.batch-items-header__button--inactive .iconBlock:last-child,
.batch-items-header__button.batch-items-header__button--inactive > img:last-child {
  margin-right: 0;
}
.batch-items-header__button.batch-items-header__button--inactive:hover {
  color: #0248a4;
}
.batch-items-header__button.batch-items-header__button--inactive svg path {
  stroke: #d2d2d2 !important;
}
.batch-items-header__button.batch-items-header__button--inactive:hover {
  background-color: #f7f7f7;
  color: #d2d2d2;
}
.batch-items-card {
  padding: 16px;
  border: 2px solid #f7f7f7;
  border-radius: 12px;
}
.batch-items-card-header {
  display: flex;
  justify-content: space-between;
}
.batch-items-card-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  flex: 1;
  cursor: pointer;
}
.batch-items-card-header__sum, .batch-items-card-header__type, .batch-items-card-header__label {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding-top: 6px;
  margin-right: 24px;
}
.batch-items-card-header__sum:last-child, .batch-items-card-header__type:last-child, .batch-items-card-header__label:last-child {
  margin-right: 0;
}
.batch-items-card-header__sum.batch-items-card-header__sum--inactive {
  color: #6a6a6a;
}
.batch-items-card-header__type {
  padding: 6px 26px 2px;
  color: #0360db;
  background-color: #f2f7fd;
  border-radius: 4px;
}
.batch-items-card-header__type.batch-items-card-header__type--inactive {
  color: #6a6a6a;
  background-color: #ededed;
}
.batch-items-card-header__label {
  color: #9d9d9d;
}
.batch-items-card-header__label.batch-items-card-header__label--inactive {
  color: #b8b8b8;
}
.batch-items-card-form {
  margin-top: 16px;
}
.batch-items-card-form-row {
  display: flex;
  align-items: center;
  align-items: flex-start;
}
.batch-items-card-form-row .formgroup {
  margin-right: 16px;
}
.batch-items-card-form-row .formgroup:last-child {
  margin-right: 0;
}
.batch-items-card-form-row .formgroup {
  width: 100%;
}
.batch-items-card-form-row__amount {
  text-align: end;
}
.batch-items-card-form-row__label {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  margin-top: 4px;
  color: #6a6a6a;
}
.batch-items-card-form-textarea {
  margin-top: 16px;
}
.batch-items-readonly-header-wrapper {
  display: flex;
  justify-content: space-between;
}
.batch-items-readonly-card {
  padding: 16px;
  border: 2px solid #f7f7f7;
  border-radius: 12px;
  margin-bottom: 12px;
}
.batch-items-readonly-card:last-child {
  margin-bottom: 0;
}
.batch-items-readonly-card-header {
  display: flex;
  justify-content: space-between;
}
.batch-items-readonly-card-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  flex: 1;
  cursor: pointer;
}
.batch-items-readonly-card-header__content {
  display: flex;
}
.batch-items-readonly-card-header__sum, .batch-items-readonly-card-header__typeTransfer, .batch-items-readonly-card-header__typePayment, .batch-items-readonly-card-header__label {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding-top: 6px;
  margin-right: 24px;
}
.batch-items-readonly-card-header__sum:last-child, .batch-items-readonly-card-header__typeTransfer:last-child, .batch-items-readonly-card-header__typePayment:last-child, .batch-items-readonly-card-header__label:last-child {
  margin-right: 0;
}
.batch-items-readonly-card-header__typeTransfer, .batch-items-readonly-card-header__typePayment {
  padding: 6px 26px 2px;
  color: #0360db;
  background-color: #f2f7fd;
  border-radius: 4px;
}
.batch-items-readonly-card-header__typePayment {
  color: #9882fe;
  background-color: #f4f0ff;
}
.batch-items-readonly-card-header__label {
  color: #9d9d9d;
}

.batch-modal {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  position: relative;
}
.batch-modal-layout {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
  max-width: 744px;
}
.batch-modal-header-wrapper {
  margin-bottom: 16px;
}
.batch-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.batch-modal-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #121217;
}
.batch-modal-header__subtitle {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
  color: #212121;
}
.batch-modal-header__icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-modal-header__icon:hover .icon {
  opacity: 0;
}
.batch-modal-header__icon:hover .iconHover {
  opacity: 1;
}
.batch-modal-header__icon:hover.active .iconActive {
  opacity: 0;
}
.batch-modal-header__icon:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-modal-header__icon.active .icon {
  opacity: 0;
}
.batch-modal-header__icon.active .iconActive {
  opacity: 1;
}
.batch-modal-header__icon .icon,
.batch-modal-header__icon .iconHover,
.batch-modal-header__icon .iconActive,
.batch-modal-header__icon .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-modal-header__icon .iconHover,
.batch-modal-header__icon .iconActive,
.batch-modal-header__icon .iconActiveHover {
  opacity: 0;
}
.batch-modal-main {
  margin-bottom: 16px;
}
.batch-modal-main-input {
  margin-right: 0;
  margin-bottom: 16px;
}
.batch-modal-main-input:last-child {
  margin-bottom: 0;
}
.batch-modal-footer {
  display: flex;
  justify-content: space-between;
}
.batch-modal-footer__buttonCancel {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  background: #f2f7fd;
  color: #0360db;
  min-width: 144px;
}
.batch-modal-footer__buttonCancel:hover .iconBlock .icon {
  opacity: 0;
}
.batch-modal-footer__buttonCancel:hover .iconBlock .iconHover {
  opacity: 1;
}
.batch-modal-footer__buttonCancel:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.batch-modal-footer__buttonCancel:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.batch-modal-footer__buttonCancel .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-modal-footer__buttonCancel .iconBlock:hover .icon {
  opacity: 0;
}
.batch-modal-footer__buttonCancel .iconBlock:hover .iconHover {
  opacity: 1;
}
.batch-modal-footer__buttonCancel .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.batch-modal-footer__buttonCancel .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-modal-footer__buttonCancel .iconBlock.active .icon {
  opacity: 0;
}
.batch-modal-footer__buttonCancel .iconBlock.active .iconActive {
  opacity: 1;
}
.batch-modal-footer__buttonCancel .iconBlock .icon,
.batch-modal-footer__buttonCancel .iconBlock .iconHover,
.batch-modal-footer__buttonCancel .iconBlock .iconActive,
.batch-modal-footer__buttonCancel .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-modal-footer__buttonCancel .iconBlock .iconHover,
.batch-modal-footer__buttonCancel .iconBlock .iconActive,
.batch-modal-footer__buttonCancel .iconBlock .iconActiveHover {
  opacity: 0;
}
.batch-modal-footer__buttonCancel > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.batch-modal-footer__buttonCancel .iconBlock,
.batch-modal-footer__buttonCancel > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.batch-modal-footer__buttonCancel .iconBlock:first-child,
.batch-modal-footer__buttonCancel > img:first-child {
  margin-left: 0;
}
.batch-modal-footer__buttonCancel .iconBlock:last-child,
.batch-modal-footer__buttonCancel > img:last-child {
  margin-right: 0;
}
.batch-modal-footer__buttonCancel:hover {
  color: #0248a4;
}
.batch-modal-footer__buttonSuccess {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background: #0360db;
  color: #ffffff;
  min-width: 144px;
}
.batch-modal-footer__buttonSuccess:hover .iconBlock .icon {
  opacity: 0;
}
.batch-modal-footer__buttonSuccess:hover .iconBlock .iconHover {
  opacity: 1;
}
.batch-modal-footer__buttonSuccess:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.batch-modal-footer__buttonSuccess:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.batch-modal-footer__buttonSuccess .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-modal-footer__buttonSuccess .iconBlock:hover .icon {
  opacity: 0;
}
.batch-modal-footer__buttonSuccess .iconBlock:hover .iconHover {
  opacity: 1;
}
.batch-modal-footer__buttonSuccess .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.batch-modal-footer__buttonSuccess .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-modal-footer__buttonSuccess .iconBlock.active .icon {
  opacity: 0;
}
.batch-modal-footer__buttonSuccess .iconBlock.active .iconActive {
  opacity: 1;
}
.batch-modal-footer__buttonSuccess .iconBlock .icon,
.batch-modal-footer__buttonSuccess .iconBlock .iconHover,
.batch-modal-footer__buttonSuccess .iconBlock .iconActive,
.batch-modal-footer__buttonSuccess .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-modal-footer__buttonSuccess .iconBlock .iconHover,
.batch-modal-footer__buttonSuccess .iconBlock .iconActive,
.batch-modal-footer__buttonSuccess .iconBlock .iconActiveHover {
  opacity: 0;
}
.batch-modal-footer__buttonSuccess > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.batch-modal-footer__buttonSuccess .iconBlock,
.batch-modal-footer__buttonSuccess > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.batch-modal-footer__buttonSuccess .iconBlock:first-child,
.batch-modal-footer__buttonSuccess > img:first-child {
  margin-left: 0;
}
.batch-modal-footer__buttonSuccess .iconBlock:last-child,
.batch-modal-footer__buttonSuccess > img:last-child {
  margin-right: 0;
}
.batch-modal-footer__buttonSuccess:hover {
  background-color: #0248a4;
}

.batch-footer-layout {
  background: #ffffff;
  padding: 24px 0;
}

.batch-footer-container {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
}

.batch-footer {
  display: flex;
  justify-content: space-between;
}
.batch-footer-left {
  display: flex;
  align-items: center;
}
.batch-footer-left-total {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.batch-footer-left-total-text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
.batch-footer-left-total-text:first-child {
  margin-right: 8px;
  color: #6a6a6a;
}
.batch-footer-left-total-text:last-child {
  color: #393939;
}
.batch-footer-left-awaiting {
  display: flex;
  align-items: center;
}
.batch-footer-left-awaiting-text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
.batch-footer-left-awaiting-text:first-child {
  margin-right: 8px;
  color: #6a6a6a;
}
.batch-footer-left-awaiting-text:last-child {
  color: #fc4c16;
}
.batch-footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.batch-footer-right-batch {
  display: flex;
  align-items: center;
}
.batch-footer-right-batch-text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
.batch-footer-right-batch-text:nth-child(1) {
  margin-right: 8px;
  color: #6a6a6a;
}
.batch-footer-right-batch-text:nth-child(2) {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  margin-right: 44px;
  color: #393939;
}
.batch-footer-right-batch-text--success {
  color: #28b72a;
}
.batch-footer-right-act {
  display: flex;
  align-items: center;
}
.batch-footer-right-act-reject, .batch-footer-right-act-sign {
  min-width: 148px;
}
.batch-footer-right-act-reject {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  background: #f2f7fd;
  color: #0360db;
  margin-right: 16px;
}
.batch-footer-right-act-reject:hover .iconBlock .icon {
  opacity: 0;
}
.batch-footer-right-act-reject:hover .iconBlock .iconHover {
  opacity: 1;
}
.batch-footer-right-act-reject:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.batch-footer-right-act-reject:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.batch-footer-right-act-reject .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-footer-right-act-reject .iconBlock:hover .icon {
  opacity: 0;
}
.batch-footer-right-act-reject .iconBlock:hover .iconHover {
  opacity: 1;
}
.batch-footer-right-act-reject .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.batch-footer-right-act-reject .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-footer-right-act-reject .iconBlock.active .icon {
  opacity: 0;
}
.batch-footer-right-act-reject .iconBlock.active .iconActive {
  opacity: 1;
}
.batch-footer-right-act-reject .iconBlock .icon,
.batch-footer-right-act-reject .iconBlock .iconHover,
.batch-footer-right-act-reject .iconBlock .iconActive,
.batch-footer-right-act-reject .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-footer-right-act-reject .iconBlock .iconHover,
.batch-footer-right-act-reject .iconBlock .iconActive,
.batch-footer-right-act-reject .iconBlock .iconActiveHover {
  opacity: 0;
}
.batch-footer-right-act-reject > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.batch-footer-right-act-reject .iconBlock,
.batch-footer-right-act-reject > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.batch-footer-right-act-reject .iconBlock:first-child,
.batch-footer-right-act-reject > img:first-child {
  margin-left: 0;
}
.batch-footer-right-act-reject .iconBlock:last-child,
.batch-footer-right-act-reject > img:last-child {
  margin-right: 0;
}
.batch-footer-right-act-reject:hover {
  color: #0248a4;
}
.batch-footer-right-act-reject--inactive {
  background-color: #f7f7f7;
  color: #d2d2d2;
}
.batch-footer-right-act-reject--inactive svg path {
  stroke: #d2d2d2 !important;
}
.batch-footer-right-act-reject--inactive:hover {
  color: #d2d2d2;
}
.batch-footer-right-act-sign {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background: #0360db;
  color: #ffffff;
}
.batch-footer-right-act-sign:hover .iconBlock .icon {
  opacity: 0;
}
.batch-footer-right-act-sign:hover .iconBlock .iconHover {
  opacity: 1;
}
.batch-footer-right-act-sign:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.batch-footer-right-act-sign:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.batch-footer-right-act-sign .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-footer-right-act-sign .iconBlock:hover .icon {
  opacity: 0;
}
.batch-footer-right-act-sign .iconBlock:hover .iconHover {
  opacity: 1;
}
.batch-footer-right-act-sign .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.batch-footer-right-act-sign .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-footer-right-act-sign .iconBlock.active .icon {
  opacity: 0;
}
.batch-footer-right-act-sign .iconBlock.active .iconActive {
  opacity: 1;
}
.batch-footer-right-act-sign .iconBlock .icon,
.batch-footer-right-act-sign .iconBlock .iconHover,
.batch-footer-right-act-sign .iconBlock .iconActive,
.batch-footer-right-act-sign .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-footer-right-act-sign .iconBlock .iconHover,
.batch-footer-right-act-sign .iconBlock .iconActive,
.batch-footer-right-act-sign .iconBlock .iconActiveHover {
  opacity: 0;
}
.batch-footer-right-act-sign > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.batch-footer-right-act-sign .iconBlock,
.batch-footer-right-act-sign > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.batch-footer-right-act-sign .iconBlock:first-child,
.batch-footer-right-act-sign > img:first-child {
  margin-left: 0;
}
.batch-footer-right-act-sign .iconBlock:last-child,
.batch-footer-right-act-sign > img:last-child {
  margin-right: 0;
}
.batch-footer-right-act-sign:hover {
  background-color: #0248a4;
}
.batch-footer-right-act-sign--inactive {
  background-color: #CDDFF8;
  box-shadow: unset;
}
.batch-footer-right-act-sign--inactive:hover {
  background-color: #CDDFF8;
  box-shadow: unset;
}