.history-layout {
  padding: 24px 0 36px;
}

.history-container {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
}

.history-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.history-header-wrapper {
  display: flex;
  align-items: center;
}
.history-header__logo {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.15);
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 12px;
}
.history-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
.history-header__tooltip-icon {
  padding: 8px;
  margin-left: 4px;
}
.history-header__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
}
.history-header__button:hover .iconBlock .icon {
  opacity: 0;
}
.history-header__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.history-header__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.history-header__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.history-header__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.history-header__button .iconBlock:hover .icon {
  opacity: 0;
}
.history-header__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.history-header__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.history-header__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.history-header__button .iconBlock.active .icon {
  opacity: 0;
}
.history-header__button .iconBlock.active .iconActive {
  opacity: 1;
}
.history-header__button .iconBlock .icon,
.history-header__button .iconBlock .iconHover,
.history-header__button .iconBlock .iconActive,
.history-header__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.history-header__button .iconBlock .iconHover,
.history-header__button .iconBlock .iconActive,
.history-header__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.history-header__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.history-header__button .iconBlock,
.history-header__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.history-header__button .iconBlock:first-child,
.history-header__button > img:first-child {
  margin-left: 0;
}
.history-header__button .iconBlock:last-child,
.history-header__button > img:last-child {
  margin-right: 0;
}
.history-header__button:hover {
  color: #0248a4;
}

.history {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.15);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
}
.history:last-child {
  margin-bottom: 0;
}
.history-search {
  display: flex;
  align-items: center;
}
.history-search-body {
  display: flex;
  flex: 1;
}
.history-search-body__input {
  max-width: 508px;
  margin-right: 12px;
}
.history-search-body__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  background: #f2f7fd;
  color: #0360db;
  min-width: 140px;
  margin-left: 16px;
}
.history-search-body__button:hover .iconBlock .icon {
  opacity: 0;
}
.history-search-body__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.history-search-body__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.history-search-body__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.history-search-body__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.history-search-body__button .iconBlock:hover .icon {
  opacity: 0;
}
.history-search-body__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.history-search-body__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.history-search-body__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.history-search-body__button .iconBlock.active .icon {
  opacity: 0;
}
.history-search-body__button .iconBlock.active .iconActive {
  opacity: 1;
}
.history-search-body__button .iconBlock .icon,
.history-search-body__button .iconBlock .iconHover,
.history-search-body__button .iconBlock .iconActive,
.history-search-body__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.history-search-body__button .iconBlock .iconHover,
.history-search-body__button .iconBlock .iconActive,
.history-search-body__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.history-search-body__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.history-search-body__button .iconBlock,
.history-search-body__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.history-search-body__button .iconBlock:first-child,
.history-search-body__button > img:first-child {
  margin-left: 0;
}
.history-search-body__button .iconBlock:last-child,
.history-search-body__button > img:last-child {
  margin-right: 0;
}
.history-search-body__button:hover {
  color: #0248a4;
}
.history-search-body__button-icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 56px;
  height: 56px;
  padding: 16px;
}
.history-search-body__button-icon:hover .icon {
  opacity: 0;
}
.history-search-body__button-icon:hover .iconHover {
  opacity: 1;
}
.history-search-body__button-icon:hover.active .iconActive {
  opacity: 0;
}
.history-search-body__button-icon:hover.active .iconActiveHover {
  opacity: 1;
}
.history-search-body__button-icon.active .icon {
  opacity: 0;
}
.history-search-body__button-icon.active .iconActive {
  opacity: 1;
}
.history-search-body__button-icon .icon,
.history-search-body__button-icon .iconHover,
.history-search-body__button-icon .iconActive,
.history-search-body__button-icon .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.history-search-body__button-icon .iconHover,
.history-search-body__button-icon .iconActive,
.history-search-body__button-icon .iconActiveHover {
  opacity: 0;
}
.history-search-icons {
  display: flex;
}
.history-search-icons__icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 56px;
  height: 56px;
  padding: 16px;
}
.history-search-icons__icon:hover .icon {
  opacity: 0;
}
.history-search-icons__icon:hover .iconHover {
  opacity: 1;
}
.history-search-icons__icon:hover.active .iconActive {
  opacity: 0;
}
.history-search-icons__icon:hover.active .iconActiveHover {
  opacity: 1;
}
.history-search-icons__icon.active .icon {
  opacity: 0;
}
.history-search-icons__icon.active .iconActive {
  opacity: 1;
}
.history-search-icons__icon .icon,
.history-search-icons__icon .iconHover,
.history-search-icons__icon .iconActive,
.history-search-icons__icon .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.history-search-icons__icon .iconHover,
.history-search-icons__icon .iconActive,
.history-search-icons__icon .iconActiveHover {
  opacity: 0;
}
.history-search-action {
  position: relative;
  box-sizing: border-box;
}
.history-search-action-dropdown {
  position: absolute;
  top: 45px;
  right: 10px;
  width: 156px;
  display: none;
  padding: 8px 1px;
  border: 1px solid #CDDFF8;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 4px 4px 16px rgba(3, 60, 135, 0.08);
  z-index: 2;
}
.history-search-action-dropdown-item {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  padding: 14px 16px;
  text-align: left;
  color: #6a6a6a;
  cursor: pointer;
}
.history-search-action-dropdown-item:hover {
  color: #212121;
  background-color: #f2f7fd;
}
.history-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 16px;
}
.history-filter-type {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-right: 8px;
  background: #f2f7fd;
  color: #81afed;
  border-radius: 8px;
}
.history-filter-type:nth-child(4) {
  margin-right: 16px;
}
.history-filter-type-text {
  margin-right: 8px;
}
.history-filter-clear {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
}
.history-filter-clear:hover .iconBlock .icon {
  opacity: 0;
}
.history-filter-clear:hover .iconBlock .iconHover {
  opacity: 1;
}
.history-filter-clear:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.history-filter-clear:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.history-filter-clear .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.history-filter-clear .iconBlock:hover .icon {
  opacity: 0;
}
.history-filter-clear .iconBlock:hover .iconHover {
  opacity: 1;
}
.history-filter-clear .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.history-filter-clear .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.history-filter-clear .iconBlock.active .icon {
  opacity: 0;
}
.history-filter-clear .iconBlock.active .iconActive {
  opacity: 1;
}
.history-filter-clear .iconBlock .icon,
.history-filter-clear .iconBlock .iconHover,
.history-filter-clear .iconBlock .iconActive,
.history-filter-clear .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.history-filter-clear .iconBlock .iconHover,
.history-filter-clear .iconBlock .iconActive,
.history-filter-clear .iconBlock .iconActiveHover {
  opacity: 0;
}
.history-filter-clear > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.history-filter-clear .iconBlock,
.history-filter-clear > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.history-filter-clear .iconBlock:first-child,
.history-filter-clear > img:first-child {
  margin-left: 0;
}
.history-filter-clear .iconBlock:last-child,
.history-filter-clear > img:last-child {
  margin-right: 0;
}
.history-filter-clear:hover {
  color: #0248a4;
}
.history-filter__close {
  margin-left: 8px;
}
.history-filters {
  margin-top: 16px;
}
.history-info-cards {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: 16px;
  border-radius: 12px;
  background-color: #f7f7f7;
}
.history-info-cards-title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #6a6a6a;
}
.history-info-cards-description {
  display: flex;
}
.history-info-cards-description__text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
}
.history-info-cards-description__icon {
  height: 20px;
}
.history-info-cards-right {
  display: flex;
  justify-content: flex-end;
}
.history-info-cards-right-content {
  margin-right: 44px;
}
.history-table {
  margin-top: 16px;
}