@layout UserLayout
@page "/imail"
@page "/imail/{selectedTabPage}"

<div class="imail-layout">
    <div class="imail-container">
        <div class="imail">
            <div class="imail-header">
                <div class="imail-header-wrapper">
                    <img src="/img/imail/imail.svg" alt="logo" class="imail-header__logo" />
                    <p class="imail-header__title">iMail</p>
                    <img src="/img/icons/tooltipIcon.svg" alt="tooltip" class="imail-header__tooltip-icon" />
                </div>
            </div>

            <div class="imail-section">
                <ImailMainComponent @ref=@_imailMainComponent
                                    GetSelectediMailCallback=@OnSelectediMail_Click></ImailMainComponent>
                <ImailSidebarComponent @ref=@_imailSidebarComponent
                                       OnSendMailClickChange=@OnSendMailChange
                                       OnAnswerMailClickChange=@OnAnswerSendMailChange></ImailSidebarComponent>
            </div>
        </div>
    </div>
</div>
