@import "../common/variables";
@import "./shadows";

@mixin button {
    @include button1;
    @include shadowButton;
    display: inline-block;
    border-radius: $indent-8;
    text-align: center;
    padding: $indent-16;
    &:hover {
        .iconBlock {
            .icon {
                opacity: 0;
            }
            .iconHover {
                opacity: 1;
            }

            &.active {
                .iconActive {
                    opacity: 0;
                }

                .iconActiveHover {
                    opacity: 1;
                }
            }
        }
    }

    .iconBlock {
        @include buttonIconSmall;
    }

    > img {
        @include square-icon(24px);
    }

    .iconBlock,
    > img {
        display: inline-block;
        vertical-align: top;
        margin: 0 $indent-8;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

@mixin blueButton {
    @include button;
    background: $color-sky-blue-500;
    color: $color-white;

    &:hover {
        background-color: $color-sky-blue-600;
    }
}

@mixin whiteButton {
    @include button;
    background: $color-white;
    color: $color-sky-blue-500;

    &:hover {
        color: $color-sky-blue-600;
    }
}

@mixin transparentButton {
    @include button;
    box-shadow: none;
    color: $color-sky-blue-500;
    padding: 0;

    &:hover {
        color: $color-sky-blue-600;
    }
}

@mixin transparentDisabledButton {
    @include transparentButton;
    color: $color-gray-700;

    &:hover {
        color: $color-gray-700;
    }
}

@mixin transparentButton2 {
    @include transparentButton;
    padding: $indent-8 $indent-16;
}

@mixin lightBlueButton {
    @include button;
    box-shadow: none;
    background: $color-sky-blue-100;
    color: $color-sky-blue-500;

    &:hover {
        color: $color-sky-blue-600;
    }
}

@mixin redButton {
    @include button;
    box-shadow: none;
    color: $color-red-500;
    background-color: $color-red-100;

    &:hover {
        color: $color-red-600;
    }
}

@mixin redButton2 {
    @include button;
    box-shadow: none;
    @include shadowRed;
    color: $color-white;
    background-color: $color-red-500;

    &:hover {
        background-color: $color-red-600;
    }
}

@mixin iconButton {
    @include square-icon(40px);
    padding: $indent-8;

    &-icon {
        @include square-icon(24px);
        object-fit: contain;
    }
}

@mixin buttonIcon {
    @include square(40px);
    position: relative;
    display: block;
    padding: $indent-8;
    cursor: pointer;
    transition: $transitionDuration;

    &:hover {
        .icon {
            opacity: 0;
        }
        .iconHover {
            opacity: 1;
        }

        &.active {
            .iconActive {
                opacity: 0;
            }

            .iconActiveHover {
                opacity: 1;
            }
        }
    }

    &.active {
        .icon {
            opacity: 0;
        }

        .iconActive {
            opacity: 1;
        }
    }

    .icon,
    .iconHover,
    .iconActive,
    .iconActiveHover {
        @include square-icon(24px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: $transitionDuration;
    }

    .iconHover,
    .iconActive,
    .iconActiveHover {
        opacity: 0;
    }
}

@mixin buttonIconMedium {
    @include buttonIcon;
    @include square(56px);
    padding: $indent-16;
}

@mixin buttonIconSmall {
    @include buttonIcon;
    @include square(24px);
    padding: 0;
}
