<div class="auth-layout">
    <div class="auth-container">
        <div class="auth">
            <p class="auth__title">Sign up</p>
            <div class="auth-box">
                <div class="auth-box-header">
                    <div class="auth-box-header__item active">Step 1</div>
                    <div class="auth-box-header__item disabled">Step 2</div>
                    <div class="auth-box-header__item disabled">Step 3</div>
                    <div class="auth-box-header__item disabled">Step 4</div>
                </div>
                <div class="auth-box-main">
                    <p class="auth-box-main__title">Customer Identification</p>
                    <div class="auth-box-main__subtitle">
                        <p class="auth-box-main__subtitle-text">To access your account, please enter your Customer ID
                            and click on Next.</p>
                        <div class="auth-box-main__subtitle-info">
                            <img src="/img/icons/tooltipIcon.svg" alt="tooltip" class="payments-header__tooltip-icon" />
                        </div>
                    </div>
                    <div class="auth-box-form">
                        <div class="formgroup">
                            <label>MSE Authentication Code	</label>
                            <div class="input-layout">
                                <input placeholder="Enter here" class="input error" value="808081" />
                            </div>
                            <p class="input-error">Incorrect ID</p>
                        </div>
                        <div class="auth-box-form__footer">
                            <div></div>
                            <button type="button" class="auth-box-form__footer-next" @onclick="(() => ButtonOnClick())">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
