<div class="home-payment">
    <p class="home-payment__title">Payment</p>
    <p class="home-payment__subtitle">Additional text</p>
    <div class="home-payment__form select-layout">
        <div class="home-payment__form-selector">
            @*<PayeeSelectionComponent></PayeeSelectionComponent>*@
            <div class="formgroup">
                <label>Pay to</label>
                <div class="select-layout">
                    <select class="select">
                        <option disabled selected>Select Payee</option>
                        <option>Payee 1</option>
                        <option>Payee 2</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="select-button home-payment__form-button">
            <img src="/img/icons/arrowRightWhite.svg"
                    alt="arrow" />
        </button>
    </div>
</div>