.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.sort {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer !important;
}

.no-sort {
    display: none;
    cursor: default !important;
}


.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.asc {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 8px;
}

.desc {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 5px;
}

.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}

thead th {
}

.transactionTable td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    padding: 8px 6px;
}

    .transactionTable td:first-child {
        text-align: left;
        padding-left: 12px;
    }

    .transactionTable td:last-child {
        padding-right: 12px;
    }

    .transactionTable td:nth-child(5), .transactionTable td:nth-child(6), .transactionTable td:nth-child(7) {
        text-align: right;
    }

.transactionTable thead td {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: #f2f7fd;
    color: #81afed;
}

    .transactionTable thead td:first-child {
        border-radius: 8px 0 0 8px;
    }

    .transactionTable thead td:last-child {
        border-radius: 0 8px 8px 0;
    }

.transactionTable tbody tr {
    border-bottom: 1px solid #f2f7fd;
}

    .transactionTable tbody tr:last-child {
        border-bottom: 0;
    }

        .transactionTable tbody tr:last-child td {
            padding-bottom: 0;
        }

.transactionTable tbody td.transactionTable-date {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 4px;
}

.transactionTable tbody td:nth-child(2) {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.transactionTable tbody td:nth-child(3) {
    color: #6a6a6a;
}

.transactionTable tbody td:nth-child(4), .transactionTable tbody td:nth-child(5), .transactionTable tbody td:nth-child(7) {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.transactionTable tbody td:nth-child(4) {
    color: #0a9a0c;
}

.transactionTable tbody td:nth-child(5) {
    color: #fc4c16;
}
.paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.paginator-pagination {
    display: flex;
}

.paginator-pagination-button {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    color: #9d9d9d;
}

    .paginator-pagination-button.admin-footer-pagination-button--active {
        border-radius: 4px;
        background: #f2f7fd;
        color: #81afed;
    }

.paginator-pagination-left, .paginator-pagination-right {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s;
}

    .paginator-pagination-left:hover .icon, .paginator-pagination-right:hover .icon {
        opacity: 0;
    }

    .paginator-pagination-left:hover .iconHover, .paginator-pagination-right:hover .iconHover {
        opacity: 1;
    }

    .paginator-pagination-left:hover.active .iconActive, .paginator-pagination-right:hover.active .iconActive {
        opacity: 0;
    }

    .paginator-pagination-left:hover.active .iconActiveHover, .paginator-pagination-right:hover.active .iconActiveHover {
        opacity: 1;
    }

    .paginator-pagination-left.active .icon, .paginator-pagination-right.active .icon {
        opacity: 0;
    }

    .paginator-pagination-left.active .iconActive, .paginator-pagination-right.active .iconActive {
        opacity: 1;
    }

    .paginator-pagination-left .icon,
    .paginator-pagination-left .iconHover,
    .paginator-pagination-left .iconActive,
    .paginator-pagination-left .iconActiveHover, .paginator-pagination-right .icon,
    .paginator-pagination-right .iconHover,
    .paginator-pagination-right .iconActive,
    .paginator-pagination-right .iconActiveHover {
        width: 24px;
        height: 24px;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
    }

    .paginator-pagination-left .iconHover,
    .paginator-pagination-left .iconActive,
    .paginator-pagination-left .iconActiveHover, .paginator-pagination-right .iconHover,
    .paginator-pagination-right .iconActive,
    .paginator-pagination-right .iconActiveHover {
        opacity: 0;
    }

.paginator-pagination-right {
    padding-right: 8px;
    transform: scale(-1);
}

.paginator-button {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    box-shadow: none;
    color: #0360db;
    padding: 0;
}

    .paginator-button:hover .iconBlock .icon {
        opacity: 0;
    }

    .paginator-button:hover .iconBlock .iconHover {
        opacity: 1;
    }

    .paginator-button:hover .iconBlock.active .iconActive {
        opacity: 0;
    }

    .paginator-button:hover .iconBlock.active .iconActiveHover {
        opacity: 1;
    }

    .paginator-button .iconBlock {
        width: 40px;
        height: 40px;
        position: relative;
        display: block;
        padding: 8px;
        cursor: pointer;
        transition: 0.4s;
        width: 24px;
        height: 24px;
        padding: 0;
    }

        .paginator-button .iconBlock:hover .icon {
            opacity: 0;
        }

        .paginator-button .iconBlock:hover .iconHover {
            opacity: 1;
        }

        .paginator-button .iconBlock:hover.active .iconActive {
            opacity: 0;
        }

        .paginator-button .iconBlock:hover.active .iconActiveHover {
            opacity: 1;
        }

        .paginator-button .iconBlock.active .icon {
            opacity: 0;
        }

        .paginator-button .iconBlock.active .iconActive {
            opacity: 1;
        }

        .paginator-button .iconBlock .icon,
        .paginator-button .iconBlock .iconHover,
        .paginator-button .iconBlock .iconActive,
        .paginator-button .iconBlock .iconActiveHover {
            width: 24px;
            height: 24px;
            object-fit: contain;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: 0.4s;
        }

        .paginator-button .iconBlock .iconHover,
        .paginator-button .iconBlock .iconActive,
        .paginator-button .iconBlock .iconActiveHover {
            opacity: 0;
        }

    .paginator-button > img {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }

    .paginator-button .iconBlock,
    .paginator-button > img {
        display: inline-block;
        vertical-align: top;
        margin: 0 8px;
    }

        .paginator-button .iconBlock:first-child,
        .paginator-button > img:first-child {
            margin-left: 0;
        }

        .paginator-button .iconBlock:last-child,
        .paginator-button > img:last-child {
            margin-right: 0;
        }

    .paginator-button:hover {
        color: #0248a4;
    }


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: fixed;
        z-index:9999;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }