<div class="custom-file-input">
    <div class="custom-file-input__dummy">Attach a document</div>
    <input class="custom-file-input__upload" type="file" />
    <div class="custom-file-input__file">
        <p class="custom-file-input__file-name"></p>
        <button type="button" class="custom-file-input__file-delete"></button>
    </div>
</div>