<div class="imail-message imail-message--active">
    <div class="imail-message-header">
        <div class="imail-message-header-info">
            <div class="imail-message-header-info-avatar">
                <img src="/img/header/avatarDummy.png" alt="avatar" class="imail-message-header-info-avatar__image" />
            </div>

            <div class="imail-message-header-info-about">
                <div class="imail-message-header-info-about__top">
                    <p class="imail-message-header-info-about__name">Anna Smith</p>
                    <p class="imail-message-header-info-about__position">Relationship Manager</p>
                    <p class="imail-message-header-info-about__status">New</p>
                </div>
                <p class="imail-message-header-info-about__date">10 June, 2021 at 09:00 am</p>
            </div>
        </div>
        <div class="imail-message-header-buttons">
            <button type="button" class="imail-message-header-buttons__delete">
                <img src="/img/icons/delete.svg" alt="delete" class="icon" />
                <img src="/img/icons/deleteHover.svg" alt="delete" class="iconHover" />
            </button>
            <button class="imail-message-header-buttons__answer">Answer</button>
        </div>
    </div>
    <div class="imail-message-main">
        <div class="imail-message-main__top">
            <p class="imail-message-main__priority">High Priority</p>
            <p class="imail-message-main__subject">Subject: Credit opportunity</p>
        </div>
        <p class="imail-message-main__text">
            Hello, Jane! Your request about credit of $50,000 was approved by Bank. We will contact you for further details. Notice that you will need to provide additional documentation to prove your payment availability. Have a great weekends!Hello, Jane! Your request about credit of $50,000 was approved by Bank. We will contact you for further details. Notice that you will need to provide additional documentation to prove your payment availability.
        </p>
    </div>
</div>