<div class="imail-main">
    <div class="imail-main-tabs">
        <button type="button" class="imail-main-tabs__item active">
            <img src="/img/imail/mailAll.svg" alt="all" class="imail-main-tabs__item-icon" />
            All mails
        </button>
        <button type="button" class="imail-main-tabs__item">
            <img src="/img/imail/mailInbox.svg" alt="inbox" class="imail-main-tabs__item-icon" />
            Inbox mails
        </button>
        <button type="button" class="imail-main-tabs__item">
            <img src="/img/imail/mailSent.svg" alt="sent" class="imail-main-tabs__item-icon" />
            Sent mails
        </button>
    </div>

    <div class="imail-messages">
        <ImailMessageComponent></ImailMessageComponent>
        <ImailMessageComponent></ImailMessageComponent>
        <ImailMessageComponent></ImailMessageComponent>
        <ImailMessageComponent></ImailMessageComponent>
        <ImailMessageComponent></ImailMessageComponent>
        <ImailMessageComponent></ImailMessageComponent>
        <ImailMessageComponent></ImailMessageComponent>
        <ImailMessageComponent></ImailMessageComponent>
        <ImailMessageComponent></ImailMessageComponent>
    </div>
</div>