<div class="payee-reference">
    <div class="payee-reference-description">
        <p class="payee-reference__title">
            [Payee reference]
        </p>
        <div class="payee-reference-description__text">
            <div class="payee-reference-description__icon">
                <img class="icon" src="/img/icons/starIcon.svg" alt="star" />
                <img class="iconHover" src="/img/icons/favoriteHover.svg" alt="star" />

                @* !!! Inactive star state !!! *@

                @* <img class="icon" src="/img/icons/inactiveStarIcon.svg" alt="star" />
                <img class="iconHover" src="/img/icons/inactiveStarIconHover.svg" alt="star" /> *@
            </div>
            <div class="payee-reference-description__icon">
                <img class="icon" src="/img/icons/dotsIcon.svg" alt="menu" />
                <img class="iconHover" src="/img/icons/dotsHoverIcon.svg" alt="menu" />
            </div>
        </div>
    </div>
    <div class="payee-reference-description">
        <p class="payee-reference-description__text">
            Debit Account No.: 00256001
        </p>
        <span class="payee-reference-description__type">Domestic</span>
    </div>
    <div class="payee-reference-description">
        <div class="payee-reference-description__text">
            <p>[Account name]</p>
            <img class="payee-reference-description__text-dot" src="/img/icons/dotIcon.svg" alt="dot"/>
            <p>[Account No.]</p>
        </div>
    </div>
</div>