.payments-history {
    box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
    border-radius: 16px;
    background: #ffffff;
    padding: 24px;
    margin-bottom: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.payments-history:last-child {
    margin-bottom: 0;
}
.payments-history-header {
    display: flex;
    background: #f2f7fd;
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 16px;
}
.payments-history-header__item {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    box-shadow: none;
    background: #f2f7fd;
    color: #0360db;
    flex: 1;
    text-align: center;
    padding: 7px 12px 5px;
    margin-right: 8px;
    transition: 0.4s;
}
.payments-history-header__item:hover .iconBlock .icon {
    opacity: 0;
}
.payments-history-header__item:hover .iconBlock .iconHover {
    opacity: 1;
}
.payments-history-header__item:hover .iconBlock.active .iconActive {
    opacity: 0;
}
.payments-history-header__item:hover .iconBlock.active .iconActiveHover {
    opacity: 1;
}
.payments-history-header__item .iconBlock {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s;
    width: 24px;
    height: 24px;
    padding: 0;
}
.payments-history-header__item .iconBlock:hover .icon {
    opacity: 0;
}
.payments-history-header__item .iconBlock:hover .iconHover {
    opacity: 1;
}
.payments-history-header__item .iconBlock:hover.active .iconActive {
    opacity: 0;
}
.payments-history-header__item .iconBlock:hover.active .iconActiveHover {
    opacity: 1;
}
.payments-history-header__item .iconBlock.active .icon {
    opacity: 0;
}
.payments-history-header__item .iconBlock.active .iconActive {
    opacity: 1;
}
.payments-history-header__item .iconBlock .icon,
.payments-history-header__item .iconBlock .iconHover,
.payments-history-header__item .iconBlock .iconActive,
.payments-history-header__item .iconBlock .iconActiveHover {
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}
.payments-history-header__item .iconBlock .iconHover,
.payments-history-header__item .iconBlock .iconActive,
.payments-history-header__item .iconBlock .iconActiveHover {
    opacity: 0;
}
.payments-history-header__item > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.payments-history-header__item .iconBlock,
.payments-history-header__item > img {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}
.payments-history-header__item .iconBlock:first-child,
.payments-history-header__item > img:first-child {
    margin-left: 0;
}
.payments-history-header__item .iconBlock:last-child,
.payments-history-header__item > img:last-child {
    margin-right: 0;
}
.payments-history-header__item:hover {
    color: #0248a4;
}
.payments-history-header__item:hover:not(.active):not(.disabled) {
    background-color: #cddff8;
}
.payments-history-header__item:last-child {
    margin-right: 0;
}
.payments-history-header__item-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin: 0 4px;
}
.payments-history-header__item-icon:first-child {
    margin-left: 0;
}
.payments-history-header__item-icon:last-child {
    margin-right: 0;
}
.payments-history-header__item.active {
    background-color: #ffffff;
}
.payments-history-header__item.disabled {
    cursor: default;
}
.payments-history-selector {
    margin-bottom: 16px;
}
.payments-history-info-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.payments-history-info {
    background: #ffffff;
    border: 2px solid #f4f0ff;
    border-radius: 12px;
    padding: 16px;
    transition: 0.4s;
    margin-bottom: 12px;
    cursor: pointer;
}
.payments-history-info__title {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}
.payments-history-info-description {
    display: flex;
    justify-content: space-between;
}
.payments-history-info-description__text {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    color: #6a6a6a;
}
.payments-history-info-description__sum {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #6a6a6a;
}
.payments-history-info-description__icon {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s;
    width: 24px;
    height: 24px;
    padding: 0;
    margin-right: 12px;
    cursor: pointer;
}
.payments-history-info-description__icon:hover .icon {
    opacity: 0;
}
.payments-history-info-description__icon:hover .iconHover {
    opacity: 1;
}
.payments-history-info-description__icon:hover.active .iconActive {
    opacity: 0;
}
.payments-history-info-description__icon:hover.active .iconActiveHover {
    opacity: 1;
}
.payments-history-info-description__icon.active .icon {
    opacity: 0;
}
.payments-history-info-description__icon.active .iconActive {
    opacity: 1;
}
.payments-history-info-description__icon .icon,
.payments-history-info-description__icon .iconHover,
.payments-history-info-description__icon .iconActive,
.payments-history-info-description__icon .iconActiveHover {
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}
.payments-history-info-description__icon .iconHover,
.payments-history-info-description__icon .iconActive,
.payments-history-info-description__icon .iconActiveHover {
    opacity: 0;
}
.payments-history-info-description__icon:last-child {
    margin-right: 0;
}
.payments-history-info-description__type {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
    padding: 6px 21px 2px;
    border-radius: 4px;
    color: #9882fe;
    background-color: #f4f0ff;
}
.payments-history-info-description__type--2 {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
    padding: 6px 21px 2px;
    border-radius: 4px;
    color: #1199d6;
    background-color: #f2f7fd;
}
.payments-history-info__button {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    box-shadow: none;
    color: #0360db;
    padding: 0;
    padding: 8px 16px;
    width: 100%;
}
.payments-history-info__button:hover .iconBlock .icon {
    opacity: 0;
}
.payments-history-info__button:hover .iconBlock .iconHover {
    opacity: 1;
}
.payments-history-info__button:hover .iconBlock.active .iconActive {
    opacity: 0;
}
.payments-history-info__button:hover .iconBlock.active .iconActiveHover {
    opacity: 1;
}
.payments-history-info__button .iconBlock {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s;
    width: 24px;
    height: 24px;
    padding: 0;
}
.payments-history-info__button .iconBlock:hover .icon {
    opacity: 0;
}
.payments-history-info__button .iconBlock:hover .iconHover {
    opacity: 1;
}
.payments-history-info__button .iconBlock:hover.active .iconActive {
    opacity: 0;
}
.payments-history-info__button .iconBlock:hover.active .iconActiveHover {
    opacity: 1;
}
.payments-history-info__button .iconBlock.active .icon {
    opacity: 0;
}
.payments-history-info__button .iconBlock.active .iconActive {
    opacity: 1;
}
.payments-history-info__button .iconBlock .icon,
.payments-history-info__button .iconBlock .iconHover,
.payments-history-info__button .iconBlock .iconActive,
.payments-history-info__button .iconBlock .iconActiveHover {
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}
.payments-history-info__button .iconBlock .iconHover,
.payments-history-info__button .iconBlock .iconActive,
.payments-history-info__button .iconBlock .iconActiveHover {
    opacity: 0;
}
.payments-history-info__button > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.payments-history-info__button .iconBlock,
.payments-history-info__button > img {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}
.payments-history-info__button .iconBlock:first-child,
.payments-history-info__button > img:first-child {
    margin-left: 0;
}
.payments-history-info__button .iconBlock:last-child,
.payments-history-info__button > img:last-child {
    margin-right: 0;
}
.payments-history-info__button:hover {
    color: #0248a4;
}
.payments-history-info:last-child {
    margin-bottom: 0;
}
.payments-history-info:hover:not(:disabled) {
    border-color: #dfd7fe;
}
.payments-history-info-button {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    box-shadow: none;
    background: #f2f7fd;
    color: #0360db;
    width: 100%;
    margin-top: 16px;
}
.payments-history-info-button:hover .iconBlock .icon {
    opacity: 0;
}
.payments-history-info-button:hover .iconBlock .iconHover {
    opacity: 1;
}
.payments-history-info-button:hover .iconBlock.active .iconActive {
    opacity: 0;
}
.payments-history-info-button:hover .iconBlock.active .iconActiveHover {
    opacity: 1;
}
.payments-history-info-button .iconBlock {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s;
    width: 24px;
    height: 24px;
    padding: 0;
}
.payments-history-info-button .iconBlock:hover .icon {
    opacity: 0;
}
.payments-history-info-button .iconBlock:hover .iconHover {
    opacity: 1;
}
.payments-history-info-button .iconBlock:hover.active .iconActive {
    opacity: 0;
}
.payments-history-info-button .iconBlock:hover.active .iconActiveHover {
    opacity: 1;
}
.payments-history-info-button .iconBlock.active .icon {
    opacity: 0;
}
.payments-history-info-button .iconBlock.active .iconActive {
    opacity: 1;
}
.payments-history-info-button .iconBlock .icon,
.payments-history-info-button .iconBlock .iconHover,
.payments-history-info-button .iconBlock .iconActive,
.payments-history-info-button .iconBlock .iconActiveHover {
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}
.payments-history-info-button .iconBlock .iconHover,
.payments-history-info-button .iconBlock .iconActive,
.payments-history-info-button .iconBlock .iconActiveHover {
    opacity: 0;
}
.payments-history-info-button > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.payments-history-info-button .iconBlock,
.payments-history-info-button > img {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}
.payments-history-info-button .iconBlock:first-child,
.payments-history-info-button > img:first-child {
    margin-left: 0;
}
.payments-history-info-button .iconBlock:last-child,
.payments-history-info-button > img:last-child {
    margin-right: 0;
}
.payments-history-info-button:hover {
    color: #0248a4;
}
