<div class="payments-history">
    <div class="payments-history-header">
        <button type="button" class="payments-history-header__item active" onclick="onClickTab(event, 'History')">Last payments</button>
        <button type="button" class="payments-history-header__item" onclick="onClickTab(event, 'Template')">Payee templates</button>
    </div>

    <div class="check" id="History">
        <div class="select-layout payments-history-selector">
            <select class="select">
                <option disabled selected>Last week</option>
                <option>Account 1</option>
                <option>Account 2</option>
            </select>
        </div>

        <PayeeReferenceComponent></PayeeReferenceComponent>

        <PayeeReferenceComponent></PayeeReferenceComponent>

        <PayeeReferenceComponent></PayeeReferenceComponent>

        <PayeeReferenceComponent></PayeeReferenceComponent>

        <PayeeReferenceComponent></PayeeReferenceComponent>
    </div>

    <div class="payments-history-info-wrapper check" id="Template" style="display: none">
        <div>
            <PayeeReferenceTemplatesComponent></PayeeReferenceTemplatesComponent>

            <PayeeReferenceTemplatesComponent></PayeeReferenceTemplatesComponent>

            <PayeeReferenceTemplatesComponent></PayeeReferenceTemplatesComponent>

            <PayeeReferenceTemplatesComponent></PayeeReferenceTemplatesComponent>
        </div>
        
        <button id="Template" class="payments-history-info-button" >All payee templates</button>
    </div>
    
</div>