<div class="profile-main">
    <div class="profile-main__content">
        <p class="profile-main__title">Notifications</p>

        <div class="profile-notifications-block">
            <div class="profile-notifications-block__title">Informing about transactions</div>
            <div class="profile-notifications-block__item">
                <label class="profile-notifications-block__item-label">
                    <input type="checkbox" class="admin-box-selections-input-group-input__checkbox">
                    <span class="profile-notifications-block__item-label-text">SMS</span>
                </label>
                <p class="profile-notifications-block__item-caption">Informing of the operations from 1000 USD, 900 GBR via SMS to your set phone number</p>
            </div>
            <div class="profile-notifications-block__item">
                <label class="profile-notifications-block__item-label">
                    <input type="checkbox" class="admin-box-selections-input-group-input__checkbox">
                    <span class="profile-notifications-block__item-label-text">E-mail</span>
                </label>
                <p class="profile-notifications-block__item-caption">Informing of all the transactions on the set e-mail</p>
            </div>
            <div class="profile-notifications-block__item">
                <label class="profile-notifications-block__item-label">
                    <input type="checkbox" class="admin-box-selections-input-group-input__checkbox">
                    <span class="profile-notifications-block__item-label-text">iMail</span>
                </label>
                <p class="profile-notifications-block__item-caption">Informing of all the transactions on the iMail</p>
            </div>
        </div>

        <div class="profile-notifications-block">
            <div class="profile-notifications-block__title">Informing about new bank services</div>
            <div class="profile-notifications-block__item">
                <label class="profile-notifications-block__item-label">
                    <input type="checkbox" class="admin-box-selections-input-group-input__checkbox">
                    <span class="profile-notifications-block__item-label-text">SMS</span>
                </label>
            </div>
            <div class="profile-notifications-block__item">
                <label class="profile-notifications-block__item-label">
                    <input type="checkbox" class="admin-box-selections-input-group-input__checkbox">
                    <span class="profile-notifications-block__item-label-text">E-mail</span>
                </label>
            </div>
            <div class="profile-notifications-block__item">
                <label class="profile-notifications-block__item-label">
                    <input type="checkbox" class="admin-box-selections-input-group-input__checkbox">
                    <span class="profile-notifications-block__item-label-text">iMail</span>
                </label>
            </div>
        </div>

        <div class="profile-notifications-block">
            <div class="profile-notifications-block__title">Informing about message from your Account manager</div>
            <div class="profile-notifications-block__item">
                <label class="profile-notifications-block__item-label">
                    <input type="checkbox" class="admin-box-selections-input-group-input__checkbox">
                    <span class="profile-notifications-block__item-label-text">SMS</span>
                </label>
            </div>
            <div class="profile-notifications-block__item">
                <label class="profile-notifications-block__item-label">
                    <input type="checkbox" class="admin-box-selections-input-group-input__checkbox">
                    <span class="profile-notifications-block__item-label-text">E-mail</span>
                </label>
            </div>
            <div class="profile-notifications-block__item">
                <label class="profile-notifications-block__item-label">
                    <input type="checkbox" class="admin-box-selections-input-group-input__checkbox">
                    <span class="profile-notifications-block__item-label-text">iMail</span>
                </label>
            </div>
        </div>
    </div>

    <div class="profile-main__footer">
        <button type="button" class="profile-main__footer-button">Save updates</button>
    </div>
</div>