<div class="profile-main">
    <div class="profile-main__content">
        <p class="profile-main__title">Login and Password</p>

        <div class="profile-main-formblock">
            <p class="profile-main-formblock__title">Login</p>
            <div class="profile-main-formrow formrow">
                <div class="profile-main-formgroup formgroup">
                    <label>New Customer ID</label>
                    <div class="input-layout">
                        <input placeholder="Enter here" class="input" />
                    </div>
                </div>
                <div class="profile-main-formgroup formgroup">
                    <label>New User ID</label>
                    <div class="input-layout">
                        <input placeholder="Enter here" class="input" />
                    </div>
                </div>
                <div class="profile-main-formgroup formgroup">
                    <label>Current Password</label>
                    <div class="input-layout">
                        <input placeholder="Enter here" class="input" />
                    </div>
                    <p class="formgroup__caption">To confirm action please enter your current password</p>
                </div>
            </div>
        </div>

        <div class="profile-main-formblock">
            <p class="profile-main-formblock__title">Password</p>
            <div class="profile-main-formrow formrow">
                <div class="profile-main-formgroup formgroup">
                    <label>Current password</label>
                    <div class="password">
                        <input placeholder="Enter here" class="input" type="password" />
                        <div class="password__icon" onclick="onClickVisiblePassword()">
                            <img src="/img/icons/closeEyeIcon.svg" alt="eye" class="icon" />
                            <img src="/img/icons/closeEyeIconHover.svg" alt="eye" class="iconHover" />
                        </div>
                    </div>
                </div>
                <div class="profile-main-formgroup formgroup">
                    <label>New password</label>
                    <div class="password">
                        <input placeholder="Enter here" class="input" type="password" />
                        <div class="password__icon" onclick="onClickVisiblePassword()">
                            <img src="/img/icons/closeEyeIcon.svg" alt="eye" class="icon" />
                            <img src="/img/icons/closeEyeIconHover.svg" alt="eye" class="iconHover" />
                        </div>
                    </div>
                </div>
                <div class="profile-main-formgroup formgroup">
                    <label>New password (one more time)</label>
                    <div class="password">
                        <input placeholder="Enter here" class="input" type="password" />
                        <div class="password__icon" onclick="onClickVisiblePassword()">
                            <img src="/img/icons/closeEyeIcon.svg" alt="eye" class="icon" />
                            <img src="/img/icons/closeEyeIconHover.svg" alt="eye" class="iconHover" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-main__footer">
        <p class="profile-main__footer-message">
            <img src="/img/icons/check.svg" alt="check" />
            Password were saved
        </p>
        <button type="button" class="profile-main__footer-button">Save updates</button>
    </div>
</div>