<div class="profile-menu">
    <a class="profile-menu-item active" href="#" onclick="location.href='/profile'">
    <span class="iconBlock">
        <img class="icon" src="/img/profile/settings.svg" alt="settings" />
        <img class="iconHover" src="/img/profile/settingsHover.svg" alt="settings" />
    </span>
        <span>Personal Settings</span>
    </a>
    <a class="profile-menu-item" href="#" onclick="location.href='/profile/password'">
        <span class="iconBlock">
            <img class="icon" src="/img/profile/shield.svg" alt="shield" />
            <img class="iconHover" src="/img/profile/shieldHover.svg" alt="shield" />
        </span>
        <span>Login and Password</span>
    </a>
    <a class="profile-menu-item" href="#" onclick="location.href='/profile/notifications'">
        <span class="iconBlock">
            <img class="icon" src="/img/profile/notification.svg" alt="notification" />
            <img class="iconHover" src="/img/profile/notification.svg" alt="notification" />
        </span>
        <span>Notifications</span>
    </a>
    <a class="profile-menu-item" href="#" onclick="location.href='/profile/security'">
        <span class="iconBlock">
            <img class="icon" src="/img/profile/security.svg" alt="security" />
            <img class="iconHover" src="/img/profile/securityHover.svg" alt="security" />
        </span>
        <span>Security settings</span>
    </a>
</div>