<div class="profile-main">
    <div class="profile-main__content">
        <p class="profile-main__title">Profile Settings</p>

        <div class="profile-info">
            <div class="profile-info-avatar">
                @* <img src="/img/header/avatarDummy.png" alt="avatar" class="profile-info-avatar__image" /> *@
                <div class="profile-info-avatar__initials">JW</div>
                <div class="profile-info-avatar-edit">
                    <img src="/img/icons/editIcon.svg" alt="edit" class="icon" />
                    <img src="/img/icons/editHover.svg" alt="edit" class="iconHover" />
                    <div class="profile-info-avatar-edit-dropdown">
                        <div class="profile-info-avatar-edit-dropdown__item">Change photo</div>
                        <div class="profile-info-avatar-edit-dropdown__item">Delete photo</div>
                    </div>
                </div>
            </div>
            <div class="profile-info-main">
                <p class="profile-info-main__title">If you need to change personal information, please send request to our support team, and we help you!</p>
                <div class="profile-info-main__row">
                    <div class="profile-info-main__row-content">
                        <div class="profile-info-main__column">
                            <p class="profile-info-main__column-caption">First name</p>
                            <p class="profile-info-main__column-text">Jane</p>
                        </div>
                        <div class="profile-info-main__column">
                            <p class="profile-info-main__column-caption">Middle name</p>
                            <p class="profile-info-main__column-text">—</p>
                        </div>
                        <div class="profile-info-main__column">
                            <p class="profile-info-main__column-caption">Last name</p>
                            <p class="profile-info-main__column-text">Watson</p>
                        </div>
                        <div class="profile-info-main__column">
                            <p class="profile-info-main__column-caption">Date of birth</p>
                            <p class="profile-info-main__column-text">28/04/1995</p>
                        </div>
                    </div>
                    <button type="button" class="profile-info-main__row-button">Request data changes</button>
                </div>
            </div>
        </div>
        
        <hr class="profile-main__hr" />
        
        <div class="profile-main-formblock">
            <p class="profile-main-formblock__title">Profile Settings</p>
            <div class="profile-main-formrow formrow">
                <div class="profile-main-formgroup formgroup">
                    <PhoneNumberComponent></PhoneNumberComponent>
                </div>
                <div class="profile-main-formgroup formgroup">
                    <EmailComponent></EmailComponent>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-main__footer">
        <p class="profile-main__footer-message">
            <img src="/img/icons/check.svg" alt="check" />
            Updates were saved
        </p>
        <button type="button" class="profile-main__footer-button">Save updates</button>
    </div>
</div>