<div class="profile-main">
    <div class="profile-main__content">
        <p class="profile-main__title">Security settings</p>

        <div class="profile-notifications-block">
            <div class="profile-notifications-block__title">Informing about transactions</div>
            <div class="profile-notifications-block__item">
                <div class="profile-notifications-block__item-radio">
                    <input id="radioAuth1" name="radio-auth" type="radio" />
                    <label for="radioAuth1">One factor authorization (only login and password)</label>
                </div>
                <p class="profile-notifications-block__item-caption">If the iFinancial session will be secure enough Bank will not send the entry confirmation to the financial number</p>
            </div>
            <div class="profile-notifications-block__item">
                <div class="profile-notifications-block__item-radio">
                    <input id="radioAuth2" name="radio-auth" type="radio" />
                    <label for="radioAuth2">Two factor authorization in any case</label>
                </div>
                <p class="profile-notifications-block__item-caption">Bank will send the confirmation of entry on the financial phone number regardless of the security level of the session</p>
            </div>
        </div>

        <div class="profile-security-sessions">
            <p class="profile-security-sessions__title">Devices with active session</p>
            <div class="profile-security-sessions-list">
                <div class="profile-security-session">
                    <p class="profile-security-session__title">Personal computer, OS X 10.15.7</p>
                    <p class="profile-security-session__caption">10.15.779.110.129.198</p>
                    <p class="profile-security-session__text">Authorization in the app on this device. You can log out of all devices except the current one.</p>
                    <button type="button" class="profile-security-session__button">Close session</button>
                </div>
                <div class="profile-security-session">
                    <p class="profile-security-session__title">iPhone 8 Plus, IOS 14.6</p>
                    <p class="profile-security-session__caption">79.110.129.198</p>
                    <p class="profile-security-session__text">Today 14:41</p>
                    <button type="button" class="profile-security-session__button">Close session</button>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-main__footer">
        <button type="button" class="profile-main__footer-button">Save updates</button>
    </div>
</div>