<div class="home-transactions">
    <p class="home-transactions__title">Recent Transations</p>
    @*<TransactionTableComponent></TransactionTableComponent>*@

    <UpcomingTransactionTableComponent></UpcomingTransactionTableComponent>
</div>