<div class="home-transfer">
    <p class="home-transfer__title">Transfer to account</p>
    <p class="home-transfer__subtitle">Additional text</p>
    <div class="home-transfer__form">
        <div class="formgroup">
            <label>From</label>
            <div class="select-layout">                
                <AccountSelectionComponent></AccountSelectionComponent>
            </div>
        </div>
        <div class="br-12">
        </div><div class="formgroup">
            <label>To</label>
            <div class="select-layout">                
                <AccountSelectionComponent></AccountSelectionComponent>
            </div>
        </div>
        <div class="br-12"></div>
        <div class="select-layout">
            <div class="home-transfer__form-amount">
                <div class="formgroup">
                    <label>Enter amount</label>
                    <div class="input-layout">
                        <input placeholder="Amount" class="input" />
                    </div>
                </div>
            </div>
            <button class="input-button home-transfer__form-button">
                <img src="/img/icons/arrowRightWhite.svg"
                        alt="arrow" />
            </button>
        </div>       
    </div>
</div>

@code{
    private decimal _amount = 0;
}