<div class="modal-layout" id="ModalConfirm">
    <div class="modal-scroll">
        <div class="modal-background" onclick="onTriggerModalConfirm()"></div>
        <div class="transfers-modal-layout">
            <div class="transfers-modal">
                <div class="transfers-modal-header-wrapper">
                    <div class="transfers-modal-header">
                        <p class="transfers-modal-header__title">Confirm Transfer</p>
                        <div
                            class="transfers-modal-header__icon"
                            onclick="onTriggerModalConfirm()"
                        >
                            <img
                                class="icon"
                                src="/img/icons/closeIcon.svg"
                                alt="close"
                            />
                            <img
                                class="iconHover"
                                src="/img/icons/closeIconHover.svg"
                                alt="close"
                            />
                        </div>
                    </div>
                    <p class="transfers-modal-header__subtitle">
                        To confirm transfer, please enter your password
                    </p>
                </div>

                <div class="transfers-modal-main">
                    <div class="transfers-modal-main-info-card">
                        <div class="transfers-modal-main-info-card-content">
                            <div class="transfers-modal-main-info-card-content-item">
                                <p
                                    class="transfers-modal-main-info-card-content-item__title"
                                >
                                    From
                                </p>
                                <p
                                    class="transfers-modal-main-info-card-content-item__text"
                                >
                                    Account No. 00256001
                                </p>
                            </div>
                            <div class="transfers-modal-main-info-card-content-item">
                                <p
                                    class="transfers-modal-main-info-card-content-item__title"
                                >
                                    To
                                </p>
                                <p
                                    class="transfers-modal-main-info-card-content-item__text"
                                >
                                    Account No. 00256002
                                </p>
                            </div>
                            <div class="transfers-modal-main-info-card-content-item">
                                <p
                                    class="transfers-modal-main-info-card-content-item__title"
                                >
                                    Entered amount
                                </p>
                                <p
                                    class="transfers-modal-main-info-card-content-item__text"
                                >
                                    1200.00
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="transfers-modal-main-input">
                        <label>Password</label>
                        <div class="password">
                            <input
                                placeholder="Enter here"
                                class="input"
                                id="password"
                                type="password"
                            />
                            <div
                                class="password__icon"
                                id="passwordIcon"
                                onclick="onClickVisiblePassword()"
                            >
                                <img
                                    src="/img/icons/closeEyeIcon.svg"
                                    alt="eye"
                                    class="icon"
                                />
                                <img
                                    src="/img/icons/closeEyeIconHover.svg"
                                    alt="eye"
                                    class="iconHover"
                                />
                            </div>
                        </div>
                        <div class="input-alert" id="inputAlert">
                            <span class="input-alert__icon"></span>
                            <p class="input-alert__text">Incorrect password</p>
                        </div>
                    </div>
                </div>

                <div class="transfers-modal-footer">
                    <button
                        class="transfers-modal-footer__buttonCancel"
                        onclick="onTriggerModalConfirm()"
                    >
                        Cancel
                    </button>
                    <button
                        class="transfers-modal-footer__buttonSuccess"
                        onclick="onSuccessModalConfirm()"
                    >
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
