<div class="transfers-history">
    <p class="transfers-history__title">Last transfers</p>

    <TransfersHistoryCardComponent/>

    <TransfersHistoryCardComponent/>

    <TransfersHistoryCardComponent/>

    <TransfersHistoryCardComponent/>

    <TransfersHistoryCardComponent/>

</div>
