<div class="modal-layout" id="ModalSuccess">
    <div class="modal-scroll">
        <div class="modal-background" onclick="onTriggerModalSuccess()"></div>
        <div class="transfers-modal-layout">
            <div class="transfers-modal">
                <div class="transfers-modal-header-wrapper">
                    <div class="transfers-modal-header">
                        <p class="transfers-modal-header__title">Transfer was confirmed</p>
                        <div class="transfers-modal-header__icon" onclick="onTriggerModalSuccess()">
                            <img class="icon" src="/img/icons/closeIcon.svg" alt="close" />
                            <img class="iconHover" src="/img/icons/closeIconHover.svg" alt="close" />
                        </div>
                    </div>
                    <p class="transfers-modal-header__subtitle">We let you know once [Account No.] will get the money</p>
                </div>

                <div class="transfers-modal-main">
                    <div class="transfers-modal-main-info-card">
                        <div class="transfers-modal-main-info-card-content">
                            <div class="transfers-modal-main-info-card-content-item">
                                <p class="transfers-modal-main-info-card-content-item__title">From</p>
                                <p class="transfers-modal-main-info-card-content-item__text">Account No. 00256001</p>
                            </div>
                            <div class="transfers-modal-main-info-card-content-item">
                                <p class="transfers-modal-main-info-card-content-item__title">To</p>
                                <p class="transfers-modal-main-info-card-content-item__text">Account No. 00256002</p>
                            </div>
                            <div class="transfers-modal-main-info-card-content-item">
                                <p class="transfers-modal-main-info-card-content-item__title">Entered amount</p>
                                <p class="transfers-modal-main-info-card-content-item__text">1200.00</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="transfers-modal-footer">
                    <button class="transfers-modal-footer__buttonSuccess" onclick="onTriggerModalSuccess()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>