<div class="transfers-history-info">
    <p class="transfers-history-info__title">
        Account No.: 00256001
    </p>
    <div class="transfers-history-info-description">
        <p class="transfers-history-info-description__text">From Account No.: 00256002</p>
    </div>
    <div class="transfers-history-info-description">
        <p class="transfers-history-info-description__text">08/07/2021</p>
        <p class="transfers-history-info-description__sum">$1200.00</p>
    </div>
</div>