<div class="formgroup">
    <label>From</label>
    <div class="select-layout">
        <select class="select">
            <option disabled selected>Select an account</option>
            <option>Account 1</option>
            <option>Account 2</option>
        </select>
    </div>
</div>