<div class="formgroup">
    <label>Enter amount</label>
    <div class="input-layout">
        <input placeholder="Amount" class="input" />
        <button class="input-button">
            <img src="/img/icons/arrowRightWhite.svg"
                    alt="arrow" />
        </button>
    </div>
</div>