<div class="card-info-list">
    <CardInfoItemActiveComponent></CardInfoItemActiveComponent>
    <CardInfoItemComponent></CardInfoItemComponent>
    <CardInfoItemComponent></CardInfoItemComponent>
    <CardInfoItemComponent></CardInfoItemComponent>
    <CardInfoItemComponent></CardInfoItemComponent>
</div>