<div class="card-info">
    <div class="card-info__header-1">
        <p class="card-info__caption">Bank Operational Account - IB</p>
        <p class="card-info__currency">GBP</p>
    </div>
    <div class="card-info__header-2">
        <p class="card-info__title">
            Account No. 99999999
            <img src="/img/icons/copy.svg" alt="copy" class="card-info__title-copy" />
        </p>
        <div class="card-info__favorite">
            <img class="icon" src="/img/icons/favorite.svg" alt="favorite" />
            <img class="iconHover" src="/img/icons/favoriteHover.svg" alt="favorite" />
        </div>
    </div>

    <hr class="card-info__hr" />

    <div class="card-info-balance">
        <p class="card-info-balance__title">Balance</p>
        <div class="card-info-balance-list">
            <div class="card-info-balance-list__item">
                <p class="card-info-balance-list__item-caption">Current:</p>
                <p class="card-info-balance-list__item-number">1500.00</p>
            </div>
            <div class="card-info-balance-list__item">
                <p class="card-info-balance-list__item-caption">Available:</p>
                <p class="card-info-balance-list__item-number">1350.00</p>
            </div>
            <div class="card-info-balance-list__item">
                <p class="card-info-balance-list__item-caption">Overdraft Remaining:</p>
                <p class="card-info-balance-list__item-number">350.00</p>
            </div>
        </div>
    </div>
</div>