
<div class="auth-layout">
    <div class="auth-container">
        <div class="auth">
            <p class="auth__title">Sign up</p>
            <div class="auth-box">
                <div class="auth-box-header">
                    <div class="auth-box-header__item disabled">Step 1</div>
                    <div class="auth-box-header__item disabled">Step 2</div>
                    <div class="auth-box-header__item disabled">Step 3</div>
                    <div class="auth-box-header__item active">Step 4</div>
                </div>
                <div class="auth-box-main">
                    <p class="auth-box-main__title">Security Details</p>
                    <div class="auth-box-main__subtitle">
                        <p class="auth-box-main__subtitle-text">User name: <b>Jane Watson</b></p>
                        <div class="auth-box-main__subtitle-info">
                            <img src="/img/icons/tooltipIcon.svg" alt="tooltip" class="payments-header__tooltip-icon" />
                        </div>
                    </div>
                    <PasswordComponent></PasswordComponent>
                    <PinComponent></PinComponent>
                    <div class="auth-box-form__footer">
                        <button type="button" class="auth-box-form__footer-back" @onclick="(() => ButtonBack_OnClick())">Back</button>
                        <div>
                            <button type="button" class="auth-box-form__footer-forgot">Forgot Security Details? </button>
                            <button type="button" class="auth-box-form__footer-next" @onclick="(() => ButtonSubmit_OnClick())">Sign up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
