<div class="home-payment">
    <p class="home-payment__title">Payment</p>
    <p class="home-payment__subtitle">Additional text</p>
    <div class="home-payment__form">
        <PayeeSelectionComponent></PayeeSelectionComponent>
    </div>
</div>