<div class="paginator">
    <div class="paginator-pagination">
        <div class="paginator-pagination-left">
            <img class="icon" src="/img/icons/arrowLeftIcon.svg" alt="arrowleft"/>
            <img class="iconHover" src="/img/icons/arrowLeftHoverIcon.svg" alt="arrowleft"/>
        </div>
        <button class="paginator-pagination-button paginator-pagination-button--active">1</button>
        <button class="paginator-pagination-button">2</button>
        <button class="paginator-pagination-button">3</button>
        <button class="paginator-pagination-button">4</button>
        <button class="paginator-pagination-button">5</button>
        <div class="paginator-pagination-right">
            <img class="icon" src="/img/icons/arrowLeftIcon.svg" alt="arrowRight"/>
            <img class="iconHover" src="/img/icons/arrowLeftHoverIcon.svg" alt="arrowRight"/>
        </div>
    </div>

    <div>
        <button class="paginator-button">Load more</button>
    </div>
</div>