<div class="formgroup">
    <label>Pay to</label>
    <div class="select-layout">
        <select class="select">
            <option disabled selected>Select Payee</option>
            <option>Payee 1</option>
            <option>Payee 2</option>
        </select>
        <button class="select-button">
            <img src="/img/icons/arrowRightWhite.svg"
                    alt="arrow" />
        </button>
    </div>
</div>