<div class="auth-box-numbers">
    <p class="auth-box-numbers__label">@_localizer["signin_securitycode_notification_msg"]</p>
    <div class="auth-box-numbers-row">
        <button type="button" class="auth-box-number">2</button>
        <button type="button" class="auth-box-number">8</button>
        <button type="button" class="auth-box-number">7</button>
    </div>
    <div class="auth-box-numbers-row">
        <button type="button" class="auth-box-number">1</button>
        <button type="button" class="auth-box-number">3</button>
        <button type="button" class="auth-box-number">6</button>
    </div>
    <div class="auth-box-numbers-row">
        <button type="button" class="auth-box-number">9</button>
        <button type="button" class="auth-box-number">4</button>
        <button type="button" class="auth-box-number">5</button>
    </div>
</div>