<div class="home-transfer">
    <p class="home-transfer__title">Transfer to account</p>
    <p class="home-transfer__subtitle">Additional text</p>
    <div class="home-transfer__form">
        <AccountSelectionComponent></AccountSelectionComponent>
        <div class="br-12"></div>
        <AccountSelectionComponent></AccountSelectionComponent>
        <div class="br-12"></div>
        <AmountComponent></AmountComponent>
    </div>
</div>