Thank you for your application.<br/>
<br/>
Please click on the link below to complete your registration:<br/>
<br/>
<a href='$ConfirmURL'>Continue Registration</a><br/>
<br/>
Kind Regards, <br/>
<br/>
The Registration Team <br/>