.auth-box-numbers {
    margin-top: $indent-16;

    &__label {
        @include label;
        color: $color-gray-600;
    }

    &-row {
        display: flex;
        margin-top: $indent-8;

        .auth-box-number,
        .auth-box-number-input,
        .auth-box-number-star {
            margin-right: $indent-8;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    &-col {
        display: flex;
        flex-direction: column;
        margin: $indent-16 0;
        
        .single-auth-box {
            
            display: flex;
            align-items: center;
            column-gap: $indent-16;
            margin: $indent-4 0;

            .single-auth-box__label {
                @include label;
                min-width: 180px;
            }

            .single-auth-box-input {
                @include input;
                padding: $indent-4;
                text-align: center;
                width: $indent-32;
                height: $indent-32;
            }
        }
    }

    &-loader {
        display: flex;
    }
}

.auth-box-number {
    @include numberBox;
    &:hover:not(.auth-box-number--error) {
        @include shadowButton;
        background: $color-sky-blue-400;
        color: $color-white;
    }

    &.auth-box-number--error {
        background: $color-red-400;
        color: $color-white;
        cursor: default;
    }
}

.auth-box-number-input {
    @include numberBoxInput;
}

.auth-box-number-star {
    text-align: center;
    padding: 16px 0;
}

.auth-box-number-invisible,
.auth-box-number-icon {
    @include numberBox;
    margin-right: $indent-8;
    background-color: transparent;
    &-reset {
        @include buttonIconSmall;
    }
}

.auth-box-number-invisible {
    cursor: default;
}

.pin-loader {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $indent-8;
    margin-left: $indent-8;
    border: 1px solid #ededed;
    border-radius: 8px;

    &.pin-loader--success {
        background: $color-sky-blue-100;
        border-color: $color-sky-blue-200;
    }

    &.pin-loader--error {
        background: $color-red-100;
        border-color: $color-red-200;
    }

    &-icon {
        margin-right: $indent-8;
        &:last-child {
            margin-right: 0;
        }
    }
}
