@import "../common/variables";
@import "./typography";

@mixin form {
    .formgroup {
        margin-top: $indent-12;

        &:first-child {
            margin-top: 0;
        }
    }
}

@mixin form-16 {
    .formgroup {
        margin-top: $indent-16;

        &:first-child {
            margin-top: 0;
        }
    }
}

@mixin formHorizontal {
    display: flex;
    align-items: center;
    .formgroup {
        margin-right: $indent-16;

        &:last-child {
            margin-right: 0;
        }
    }
}

@mixin input {
    @include field;
    width: 100%;
    border-radius: 8px;
    border: 1px solid $color-sky-blue-200;
    background-color: $color-white;
    color: $color-gray-900;
    padding: calc(#{$indent-16} - 1px);
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    transition: $transitionDuration;

    &::placeholder {
        color: $color-gray-500;
        transition: $transitionDuration;
    }

    &:focus,
    &:active {
        background-color: $color-sky-blue-100;

        &::placeholder {
            color: $color-gray-900;
        }
    }

    &:hover {
        &.input {
            color: $color-gray-900;
        }

        &::placeholder {
            color: $color-gray-900;
        }
    }

    &.error {
        border-color: $color-red-500;
    }
}

@mixin inputError {
    @include caption1;
    color: $color-red-500;
    margin-top: $indent-4;
    &::before {
        content: "";
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background: $color-red-500;
        margin-right: $indent-4;
    }
}

@mixin input-alert {
    display: none;
    align-items: center;
    margin-top: $indent-4;

    &__icon {
        width: 8px;
        height: 8px;
        margin-right: $indent-4;
        background: $color-red-500;
        border-radius: 8px;
    }

    &__text {
        @include caption1;
        color: $color-red-500;
    }
}

@mixin input-alert--success {
    .input-alert__icon {
        background: $color-green-400;
    }

    .input-alert__text {
        color: $color-green-400;
    }
}

@mixin labelForm {
    @include label;
    margin-bottom: $indent-4;
    transition: $transitionDuration;

    &:last-child {
        margin-bottom: 0;
    }
}

@mixin numberBox {
    @include button1;
    @include square(56px);
    border-radius: 8px;
    background: $color-gray-100;
    text-align: center;
    line-height: 24px;
    padding: $indent-16;
}

@mixin numberBoxInput {
    @include input;
    @include numberBox;
    background: $color-white;
    &.disabled {
        border: 1px solid $color-gray-200;
        background: $color-gray-100;
    }

    &__image {
        @include square-icon(24px);
    }
}

@mixin radio {
    input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        z-index: -1;
        &:checked ~ label {
            &::after {
                opacity: 1;
            }
        }
    }

    label {
        @include body;
        padding-left: 28px;
        position: relative;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            border-radius: 50%;
            display: block;
            position: absolute;
        }
        &::before {
            width: 16px;
            height: 16px;
            border: 1px solid $color-sky-blue-500;
            top: 4px;
            left: 4px;
        }
        &::after {
            width: 12px;
            height: 12px;
            background: $color-sky-blue-500;
            top: 6px;
            left: 6px;
            opacity: 0;
            transition: $transitionDuration;
        }
    }

    &.disabled {
        label {
            &::before {
                border-color: $color-gray-300;
            }
            &::after {
                background: $color-gray-300;
            }
        }
    }
}
