// Sizes
$large: 1440px;
$medium: 1260px;
$small: 740px;

$container: 1368px;
$containerTablet: 720px;
$containerMobile: 288px;

$indent-4: 4px;
$indent-8: 8px;
$indent-12: 12px;
$indent-16: 16px;
$indent-20: 20px;
$indent-24: 24px;
$indent-32: 32px;
$indent-36: 36px;

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-background: #fafafb;

$color-sky-blue-100: #f2f7fd;
$color-sky-blue-200: #CDDFF8;
$color-sky-blue-300: #81afed;
$color-sky-blue-400: #4288e4;
$color-sky-blue-500: #0360db;
$color-sky-blue-600: #0248a4;
$color-sky-blue-700: #023578;
$color-sky-blue-800: #01224d;
$color-sky-blue-900: #011837;

$color-wireframes-100: #f9f9fb;
$color-wireframes-200: #efeff5;
$color-wireframes-300: #dddde9;
$color-wireframes-400: #b7b7cd;
$color-wireframes-500: #9595b1;
$color-wireframes-600: #63637e;
$color-wireframes-700: #4e4e5f;
$color-wireframes-800: #383842;
$color-wireframes-900: #121217;

$color-blue-100: #e0f6ff;
$color-blue-200: #a1e1ff;
$color-blue-300: #5acbfe;
$color-blue-400: #1bb7fe;
$color-blue-500: #1199d6;
$color-blue-600: #0e7caf;
$color-blue-700: #0e6187;
$color-blue-800: #0e4660;
$color-blue-900: #0b2a38;

$color-gray-100: #f7f7f7;
$color-gray-200: #ededed;
$color-gray-300: #d2d2d2;
$color-gray-400: #b8b8b8;
$color-gray-500: #9d9d9d;
$color-gray-600: #6a6a6a;
$color-gray-700: #525252;
$color-gray-800: #393939;
$color-gray-900: #212121;

$color-violet-100: #f4f0ff;
$color-violet-200: #dfd7fe;
$color-violet-300: #c2b3fe;
$color-violet-400: #9882fe;
$color-violet-500: #7b62fe;
$color-violet-600: #503cd6;
$color-violet-700: #3727a0;
$color-violet-800: #201674;
$color-violet-900: #0f0943;

$color-green-100: #edffed;
$color-green-200: #adebad;
$color-green-300: #64d366;
$color-green-400: #28b72a;
$color-green-500: #0a9a0c;
$color-green-600: #007c02;
$color-green-700: #005f02;
$color-green-800: #004101;
$color-green-900: #002401;

$color-red-100: #fff1ed;
$color-red-200: #febeab;
$color-red-300: #fe8f6d;
$color-red-400: #fd693b;
$color-red-500: #fc4c16;
$color-red-600: #cf3405;
$color-red-700: #a32802;
$color-red-800: #761c01;
$color-red-900: #4a1100;

$color-yellow-100: #fffaed;
$color-yellow-200: #ffe5a3;
$color-yellow-300: #ffd15d;
$color-yellow-400: #ffc123;
$color-yellow-500: #d79a00;
$color-yellow-600: #ae7d00;
$color-yellow-700: #866000;
$color-yellow-800: #5e4300;
$color-yellow-900: #362600;

$color-blur: rgba(0, 64, 148, 0.2);

// Durations
$transitionDuration: 0.4s;
