.imail-main {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.15);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
  width: calc(100% - 464px);
  max-height: 844px;
  display: flex;
  flex-direction: column;
  margin: 0 24px 0 0;
}
.imail-main:last-child {
  margin-bottom: 0;
}
@media (max-width: 1260px) {
  .imail-main {
    width: 100%;
    margin: 24px 0 0 0;
  }
}
.imail-main-tabs {
  display: flex;
  background: #f2f7fd;
  border-radius: 16px;
  padding: 8px;
  margin-bottom: 16px;
}
.imail-main-tabs__item {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  background: #f2f7fd;
  color: #0360db;
  flex: 1;
  text-align: center;
  padding: 7px 12px 5px;
  margin-right: 8px;
  transition: 0.4s;
}
.imail-main-tabs__item:hover .iconBlock .icon {
  opacity: 0;
}
.imail-main-tabs__item:hover .iconBlock .iconHover {
  opacity: 1;
}
.imail-main-tabs__item:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.imail-main-tabs__item:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.imail-main-tabs__item .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.imail-main-tabs__item .iconBlock:hover .icon {
  opacity: 0;
}
.imail-main-tabs__item .iconBlock:hover .iconHover {
  opacity: 1;
}
.imail-main-tabs__item .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.imail-main-tabs__item .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.imail-main-tabs__item .iconBlock.active .icon {
  opacity: 0;
}
.imail-main-tabs__item .iconBlock.active .iconActive {
  opacity: 1;
}
.imail-main-tabs__item .iconBlock .icon,
.imail-main-tabs__item .iconBlock .iconHover,
.imail-main-tabs__item .iconBlock .iconActive,
.imail-main-tabs__item .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.imail-main-tabs__item .iconBlock .iconHover,
.imail-main-tabs__item .iconBlock .iconActive,
.imail-main-tabs__item .iconBlock .iconActiveHover {
  opacity: 0;
}
.imail-main-tabs__item > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.imail-main-tabs__item .iconBlock,
.imail-main-tabs__item > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.imail-main-tabs__item .iconBlock:first-child,
.imail-main-tabs__item > img:first-child {
  margin-left: 0;
}
.imail-main-tabs__item .iconBlock:last-child,
.imail-main-tabs__item > img:last-child {
  margin-right: 0;
}
.imail-main-tabs__item:hover {
  color: #0248a4;
}
.imail-main-tabs__item:hover:not(.active):not(.disabled) {
  background-color: #CDDFF8;
}
.imail-main-tabs__item:last-child {
  margin-right: 0;
}
.imail-main-tabs__item-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin: 0 4px;
}
.imail-main-tabs__item-icon:first-child {
  margin-left: 0;
}
.imail-main-tabs__item-icon:last-child {
  margin-right: 0;
}
.imail-main-tabs__item.active {
  background-color: #ffffff;
}
.imail-main-tabs__item.disabled {
  cursor: default;
}
.imail-messages {
  flex: 1;
  overflow-y: auto;
  padding-right: 16px;
}
.imail-messages::-webkit-scrollbar {
  width: 4px;
  cursor: pointer;
}
.imail-messages::-webkit-scrollbar-track {
  background-color: transparent;
}
.imail-messages::-webkit-scrollbar-thumb {
  background-color: #ededed;
  border-radius: 4px;
}
.imail-messages::-webkit-scrollbar-thumb:window-inactive {
  background-color: #d2d2d2;
}