@layout UserLayout
@page "/profile/password"

<div class="profile-layout">
    <div class="profile-container">
        <div class="profile">
            <div class="profile-header">
                <div class="profile-header-wrapper">
                    <img src="/img/profile/profile.svg" alt="logo" class="profile-header__logo" />
                    <p class="profile-header__title">Profile</p>
                    <img src="/img/icons/tooltipIcon.svg" alt="tooltip" class="profile-header__tooltip-icon" />
                </div>
            </div>
            
            <div class="profile-section">
                <ProfileMenuComponent></ProfileMenuComponent>
                <ProfilePasswordComponent></ProfilePasswordComponent>
            </div>
        </div>
    </div>
</div>
