@inherits LayoutComponentBase

<div class="page">
    <HeaderComponent></HeaderComponent>
    <div class="main">        
        @Body
    </div>
    <FooterGroupCreationComponent></FooterGroupCreationComponent>
</div>
