.sign-layout {
  padding: 24px 0 36px;
}

.sign-container {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
}

.sign-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.sign-header-wrapper {
  display: flex;
  align-items: center;
}
.sign-header__logo {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 12px;
}
.sign-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
.sign-header__tooltip-icon {
  padding: 8px;
  margin-left: 4px;
}
.sign-header__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
}
.sign-header__button:hover .iconBlock .icon {
  opacity: 0;
}
.sign-header__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.sign-header__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.sign-header__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.sign-header__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.sign-header__button .iconBlock:hover .icon {
  opacity: 0;
}
.sign-header__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.sign-header__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.sign-header__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.sign-header__button .iconBlock.active .icon {
  opacity: 0;
}
.sign-header__button .iconBlock.active .iconActive {
  opacity: 1;
}
.sign-header__button .iconBlock .icon,
.sign-header__button .iconBlock .iconHover,
.sign-header__button .iconBlock .iconActive,
.sign-header__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.sign-header__button .iconBlock .iconHover,
.sign-header__button .iconBlock .iconActive,
.sign-header__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.sign-header__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.sign-header__button .iconBlock,
.sign-header__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.sign-header__button .iconBlock:first-child,
.sign-header__button > img:first-child {
  margin-left: 0;
}
.sign-header__button .iconBlock:last-child,
.sign-header__button > img:last-child {
  margin-right: 0;
}
.sign-header__button:hover {
  color: #0248a4;
}

.sign-table-back {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
}
.sign-table-back:last-child {
  margin-bottom: 0;
}
.sign-table-name {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  padding: 12px 0;
  margin-bottom: 16px;
}
.sign-table .signTable td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  padding: 8px 6px;
}
.sign-table .signTable td:first-child {
  width: 100%;
  padding-left: 12px;
}
.sign-table .signTable td:last-child {
  text-align: end;
  padding-right: 12px;
}
.sign-table .signTable td:nth-child(2), .sign-table .signTable td:nth-child(3) {
  min-width: 120px;
  text-align: center;
}
.sign-table .signTable thead td {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  background: #f2f7fd;
  color: #81afed;
}
.sign-table .signTable thead td:first-child {
  border-radius: 8px 0 0 8px;
}
.sign-table .signTable thead td:last-child {
  border-radius: 0 8px 8px 0;
}
.sign-table .signTable tbody tr {
  border-bottom: 1px solid #f2f7fd;
}
.sign-table .signTable tbody tr:last-child {
  border-bottom: 0;
}
.sign-table .signTable tbody tr:last-child td {
  padding-bottom: 0;
}
.sign-table .signTable tbody td.signTable-date {
  text-align: left;
  padding-top: 12px;
  padding-bottom: 4px;
}
.sign-table .signTable tbody td img {
  margin-right: 8px;
}
.sign-table .signTable tbody td:first-child {
  display: flex;
  align-items: center;
}
.sign-table .signTable tbody td:nth-child(2) {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #6a6a6a;
}
.sign-table .signTable tbody td:nth-child(3) {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #fc4c16;
}
.sign-table .signTable tbody td:last-child {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #0360db;
}
.sign-table .signTable-button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
}
.sign-table .signTable-button:hover .iconBlock .icon {
  opacity: 0;
}
.sign-table .signTable-button:hover .iconBlock .iconHover {
  opacity: 1;
}
.sign-table .signTable-button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.sign-table .signTable-button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.sign-table .signTable-button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.sign-table .signTable-button .iconBlock:hover .icon {
  opacity: 0;
}
.sign-table .signTable-button .iconBlock:hover .iconHover {
  opacity: 1;
}
.sign-table .signTable-button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.sign-table .signTable-button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.sign-table .signTable-button .iconBlock.active .icon {
  opacity: 0;
}
.sign-table .signTable-button .iconBlock.active .iconActive {
  opacity: 1;
}
.sign-table .signTable-button .iconBlock .icon,
.sign-table .signTable-button .iconBlock .iconHover,
.sign-table .signTable-button .iconBlock .iconActive,
.sign-table .signTable-button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.sign-table .signTable-button .iconBlock .iconHover,
.sign-table .signTable-button .iconBlock .iconActive,
.sign-table .signTable-button .iconBlock .iconActiveHover {
  opacity: 0;
}
.sign-table .signTable-button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.sign-table .signTable-button .iconBlock,
.sign-table .signTable-button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.sign-table .signTable-button .iconBlock:first-child,
.sign-table .signTable-button > img:first-child {
  margin-left: 0;
}
.sign-table .signTable-button .iconBlock:last-child,
.sign-table .signTable-button > img:last-child {
  margin-right: 0;
}
.sign-table .signTable-button:hover {
  color: #0248a4;
}