@inherits BasicLayout

<div class="page">
    <HeaderComponent></HeaderComponent>
    <div class="main">        
        @Body
    </div>
    <FooterUserCreationComponent></FooterUserCreationComponent>
</div>
