.daterangepicker {
	border-color: $color-sky-blue-200;
	border-radius: 0 0 4px 4px;
	filter: drop-shadow(4px 4px 16px rgba(3, 60, 135, 0.08));
	margin-top: 0;
	&:before,
	&:after {
		display: none;
	}

	.ranges {
		border-right: 1px solid $color-sky-blue-100;

		ul {
			width: 320px;

			li {
				@include field;
				color: $color-gray-600;
				padding: 14px 56px 14px 16px;
                &:hover {
                    background-color: $color-gray-200;
                }

				&.active {
					background: url(/img/icons/check.svg) no-repeat center right
							$indent-16,
						$color-sky-blue-100;
					color: $color-gray-900;
				}
			}
		}
	}

	.drp-calendar {
		max-width: 100%;

		&.left {
			border-right: 1px solid $color-gray-100;
			padding: $indent-16 $indent-12 $indent-12 $indent-16;

			.calendar-table {
				padding-right: 0;
			}
		}
		&.right {
			padding: $indent-16 $indent-16 $indent-12 $indent-12;
		}
	}

	.calendar-table {
		th,
		td {
			@include label;
			min-width: 40px;
			width: 40px;
			height: 40px;
			color: $color-gray-600;
			line-height: 40px;

			&.month {
				width: auto;
			}
		}

		.prev,
		.next {
			span {
				@include square(24px);
				border: none;
				background: no-repeat center / contain;
				transform: none;
			}
		}

		.prev span {
			background-image: url(/img/icons/arrowLeftIcon.svg);
		}
		.next span {
			background-image: url(/img/icons/arrowRight.svg);
		}
	}

    td,
    th {

        &.available:hover {
            background-color: $color-gray-200;
        }
    }

	td {
		&.active {
			&,
			&:hover {
				background-color: $color-sky-blue-500;
				color: $color-white;
			}
		}

		&.in-range:not(.active):not(.off) {
			background-color: $color-sky-blue-100;
		}

		&.off {
			&,
			&.in-range,
			&.start-date,
			&.end-date {
				color: $color-gray-200;
			}
		}
	}

	.drp-buttons {
		border-color: $color-gray-100;
		padding: $indent-16;

		.btn {
			margin-left: $indent-16;
			&:first-child {
				margin-left: 0;
			}

			&.btn-default {
				@include lightBlueButton;
			}
			&.btn-primary {
				@include blueButton;
			}
		}
	}

	.drp-selected {
		@include field;
		color: $color-gray-600;
		padding-right: $indent-16;
	}

	&.show-calendar {
		.ranges {
			margin-top: 0;
		}

		&.ltr {
			.drp-calendar.left {
				border-left: 0;
			}
		}
	}
}
