@import "Sass/common/variables";
@import "Sass/mixins/";

.lock-modal {
    @include modalDefault;

    &-layout {
        @include modalDefaultContainer;
    }

    &-header-wrapper {
        margin-bottom: $indent-16;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            @include h2;
            color: $color-wireframes-900;
        }

        &__subtitle {
            @include h5;
            margin-top: $indent-4;
            color: $color-gray-900;
        }

        &__icon {
            cursor: pointer;
        }
    }

    &-main {
        margin-bottom: $indent-16;

        &-title {
            @include label;
            color: $color-gray-600;
            margin-bottom: $indent-4;
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;

        &__buttonCancel,
        &__buttonLock {
            min-width: 144px;
        }

        &__buttonCancel {
            @include lightBlueButton;
        }

        &__buttonLock {
            @include blueButton;
        }
    }
}
