.home-imail {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.15);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
}
.home-imail:last-child {
  margin-bottom: 0;
}
.home-imail__header {
  display: flex;
  align-items: center;
}
.home-imail__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  flex: 1;
}
.home-imail__add {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
}
.home-imail__add:hover .iconBlock .icon {
  opacity: 0;
}
.home-imail__add:hover .iconBlock .iconHover {
  opacity: 1;
}
.home-imail__add:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.home-imail__add:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.home-imail__add .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.home-imail__add .iconBlock:hover .icon {
  opacity: 0;
}
.home-imail__add .iconBlock:hover .iconHover {
  opacity: 1;
}
.home-imail__add .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.home-imail__add .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.home-imail__add .iconBlock.active .icon {
  opacity: 0;
}
.home-imail__add .iconBlock.active .iconActive {
  opacity: 1;
}
.home-imail__add .iconBlock .icon,
.home-imail__add .iconBlock .iconHover,
.home-imail__add .iconBlock .iconActive,
.home-imail__add .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.home-imail__add .iconBlock .iconHover,
.home-imail__add .iconBlock .iconActive,
.home-imail__add .iconBlock .iconActiveHover {
  opacity: 0;
}
.home-imail__add > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-imail__add .iconBlock,
.home-imail__add > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.home-imail__add .iconBlock:first-child,
.home-imail__add > img:first-child {
  margin-left: 0;
}
.home-imail__add .iconBlock:last-child,
.home-imail__add > img:last-child {
  margin-right: 0;
}
.home-imail__add:hover {
  color: #0248a4;
}
.home-imail-boxes {
  display: flex;
  margin-top: 12px;
}
.home-imail-boxes__item {
  flex: 1;
  border-radius: 8px;
  background: #edffed;
  padding: 12px;
  margin-right: 16px;
}
.home-imail-boxes__item:last-child {
  margin-right: 0;
}
.home-imail-boxes__item:nth-child(3n+2) {
  background: #f2f7fd;
}
.home-imail-boxes__item:nth-child(3n+2) .home-imail-boxes__item-caption {
  color: #4288e4;
}
.home-imail-boxes__item:nth-child(3n+2) .home-imail-boxes__item-number {
  color: #0360db;
}
.home-imail-boxes__item:nth-child(3n+3) {
  background: #f4f0ff;
}
.home-imail-boxes__item:nth-child(3n+3) .home-imail-boxes__item-caption {
  color: #9882fe;
}
.home-imail-boxes__item:nth-child(3n+3) .home-imail-boxes__item-number {
  color: #7b62fe;
}
.home-imail-boxes__item-caption {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #28b72a;
}
.home-imail-boxes__item-number {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #0a9a0c;
}