<footer class="edit-user-footer-layout">
    <div class="edit-user-footer-container">
        <div class="edit-user-footer">
            <button class="edit-user-footer__archive" onclick="onTriggerModalArchive()">Move profile to archive</button>
            <button class="edit-user-footer__button edit-user-footer__button--inactive" onclick="onTriggerModalUpdate()">Save Updates</button>
        </div>
    </div>
</footer>