<footer class="batch-footer-layout">
    <div class="batch-footer-container">
        <div class="batch-footer">
            <div class="batch-footer-left">
            </div>

            <div class="batch-footer-right">
                <div class="batch-footer-right-batch">
                    <p class="batch-footer-right-batch-text">Total allocated amount:</p>
                    <p class="batch-footer-right-batch-text">0.00</p>
                </div>

                <div class="batch-footer-right-act">
                    <button class="batch-footer-right-act-reject">Save Batch</button>
                    <button class="batch-footer-right-act-sign" onclick="onTriggerModalConfirm()">Submit Batch</button>
                </div>
            </div>
        </div>
    </div>
</footer>