@import "Sass/common/variables";
@import "Sass/mixins/";

.details {
    @include box;
    min-width: 440px;
    margin-right: $indent-24;
    margin-bottom: 0;

    &-head {
        @include h2;
        margin-bottom: $indent-16;
        color: $color-gray-900;
    }

    &-formgroup {
        margin-bottom: $indent-16;

        &:last-child {
            margin-bottom: 0;
        }

        &-name {
            @include label;
            margin-bottom: $indent-4;
            color: $color-gray-600;
        }

        &-area {
            min-height: 480px;
        }
    }
}
