@import "Sass/common/variables";
@import "Sass/mixins/";

.imail-message {
    @include card;
    border-color: $color-gray-100;
    margin-bottom: $indent-12;
    cursor: pointer;
    &:hover,
    &.imail-message--active {
        border-color: $color-sky-blue-200;
    }
    &:last-child {
        margin-bottom: 0;
    }

    &-header {
        display: flex;
        align-items: flex-start;
        margin-bottom: $indent-12;
        &:last-child {
            margin-bottom: 0;
        }

        &-info {
            flex: 1;
            display: flex;
            align-items: center;

            &-avatar {
                @include avatar;
                margin-right: $indent-8;
            }

            &-about {
                &__top {
                    display: flex;
                    align-items: center;
                }

                &__name {
                    @include h4;
                    margin-right: $indent-8;
                }

                &__position {
                    @include caption1;
                    color: $color-gray-600;
                    margin-right: $indent-8;
                }

                &__status {
                    @include blueTextBox;
                }

                &__date {
                    @include label2;
                    color: $color-gray-600;
                }
            }
        }

        &-buttons {
            display: flex;
            align-items: center;

            &__delete {
                @include buttonIcon;
            }

            &__answer {
                @include lightBlueButton;
                padding-top: $indent-8;
                padding-bottom: $indent-8;
                margin-left: $indent-4;
            }
        }
    }

    &-main {
        &__top {
            display: flex;
            align-items: flex-start;
            margin-bottom: $indent-4;
        }

        &__priority {
            @include redTextBox;
            margin-right: $indent-8;
        }

        &__subject {
            @include h4;
            flex: 1;
        }

        &__text {
            color: $color-gray-600;
        }
    }

    &:not(.imail-message--active) {
        .imail-message-main__text {
            @include textWithDots;
        }
    }

    &-answer {
        display: flex;
        align-items: center;

        &__text {
            @include label2;
        }

        &__button {
            @include button1;
        }
    }

    &__hr {
        @include hr;
        margin: $indent-12 0;
        background-color: $color-gray-200;
    }
}
