<div class="maximum-amount">
    <p class="maximum-amount-name">Maximum amount</p>
    <p class="maximum-amount-subtitle">Maximum amount for a single item</p>
    <p class="maximum-amount-item">-</p>

    <div class="maximum-amount-edit">
        <div class="maximum-amount-edit__header">
            <p class="maximum-amount-subtitle">Maximum amount for a single item</p>
            <p class="maximum-amount-requir">Required</p>
        </div>

        <input placeholder="0,00" class="input maximum-amount-edit__input" />
    </div>
</div>