@import "Sass/common/variables";
@import "Sass/mixins/";

.paginator {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: $indent-24;

	&-pagination {
		display: flex;

		&-button {
			@include label;
			padding: $indent-12 $indent-16;
			color: $color-gray-500;

			&.paginator-pagination-button--active {
				border-radius: 4px;
				background: $color-sky-blue-100;
				color: $color-sky-blue-300;
			}
		}

		&-left,
		&-right {
			@include buttonIcon;
		}

		&-right {
			padding-right: $indent-8;
			transform: scale(-1);
		}
	}
	&-button {
		@include transparentButton;
	}
}
