.payee-card {
  background: #ffffff;
  border: 2px solid #f4f0ff;
  border-radius: 12px;
  padding: 16px;
  transition: 0.4s;
  width: calc(33.3% - 11px);
  margin: 16px 16px 0 0;
}
.payee-card__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.payee-card-description {
  display: flex;
  justify-content: space-between;
}
.payee-card-description__text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  color: #6a6a6a;
}
.payee-card-description__sum {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #6a6a6a;
}
.payee-card-description__icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: 12px;
  cursor: pointer;
}
.payee-card-description__icon:hover .icon {
  opacity: 0;
}
.payee-card-description__icon:hover .iconHover {
  opacity: 1;
}
.payee-card-description__icon:hover.active .iconActive {
  opacity: 0;
}
.payee-card-description__icon:hover.active .iconActiveHover {
  opacity: 1;
}
.payee-card-description__icon.active .icon {
  opacity: 0;
}
.payee-card-description__icon.active .iconActive {
  opacity: 1;
}
.payee-card-description__icon .icon,
.payee-card-description__icon .iconHover,
.payee-card-description__icon .iconActive,
.payee-card-description__icon .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.payee-card-description__icon .iconHover,
.payee-card-description__icon .iconActive,
.payee-card-description__icon .iconActiveHover {
  opacity: 0;
}
.payee-card-description__icon:last-child {
  margin-right: 0;
}
.payee-card-description__type {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding: 6px 21px 2px;
  border-radius: 4px;
  color: #9882fe;
  background-color: #f4f0ff;
}
.payee-card-description__type--2 {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding: 6px 21px 2px;
  border-radius: 4px;
  color: #1199d6;
  background-color: #f2f7fd;
}
.payee-card__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
  padding: 8px 16px;
  width: 100%;
}
.payee-card__button:hover .iconBlock .icon {
  opacity: 0;
}
.payee-card__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.payee-card__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.payee-card__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.payee-card__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.payee-card__button .iconBlock:hover .icon {
  opacity: 0;
}
.payee-card__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.payee-card__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.payee-card__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.payee-card__button .iconBlock.active .icon {
  opacity: 0;
}
.payee-card__button .iconBlock.active .iconActive {
  opacity: 1;
}
.payee-card__button .iconBlock .icon,
.payee-card__button .iconBlock .iconHover,
.payee-card__button .iconBlock .iconActive,
.payee-card__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.payee-card__button .iconBlock .iconHover,
.payee-card__button .iconBlock .iconActive,
.payee-card__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.payee-card__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.payee-card__button .iconBlock,
.payee-card__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.payee-card__button .iconBlock:first-child,
.payee-card__button > img:first-child {
  margin-left: 0;
}
.payee-card__button .iconBlock:last-child,
.payee-card__button > img:last-child {
  margin-right: 0;
}
.payee-card__button:hover {
  color: #0248a4;
}
.payee-card:nth-child(1), .payee-card:nth-child(2), .payee-card:nth-child(3) {
  margin-top: 0;
}
.payee-card:nth-child(3n+3) {
  margin-right: 0;
}
@media (max-width: 1260px) {
  .payee-card .payee-card-description {
    align-items: flex-start;
  }
  .payee-card .payee-card-description .payee-card-description__type {
    width: 130px;
  }
  .payee-card .payee-card-description .payee-card-description__type--2 {
    width: 220px;
  }
}

.payee-reference {
  background: #ffffff;
  border: 2px solid #f4f0ff;
  border-radius: 12px;
  padding: 16px;
  transition: 0.4s;
  margin-bottom: 12px;
  cursor: pointer;
}
.payee-reference__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.payee-reference-description {
  display: flex;
  justify-content: space-between;
}
.payee-reference-description__text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  color: #6a6a6a;
}
.payee-reference-description__sum {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #6a6a6a;
}
.payee-reference-description__icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: 12px;
  cursor: pointer;
}
.payee-reference-description__icon:hover .icon {
  opacity: 0;
}
.payee-reference-description__icon:hover .iconHover {
  opacity: 1;
}
.payee-reference-description__icon:hover.active .iconActive {
  opacity: 0;
}
.payee-reference-description__icon:hover.active .iconActiveHover {
  opacity: 1;
}
.payee-reference-description__icon.active .icon {
  opacity: 0;
}
.payee-reference-description__icon.active .iconActive {
  opacity: 1;
}
.payee-reference-description__icon .icon,
.payee-reference-description__icon .iconHover,
.payee-reference-description__icon .iconActive,
.payee-reference-description__icon .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.payee-reference-description__icon .iconHover,
.payee-reference-description__icon .iconActive,
.payee-reference-description__icon .iconActiveHover {
  opacity: 0;
}
.payee-reference-description__icon:last-child {
  margin-right: 0;
}
.payee-reference-description__type {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding: 6px 21px 2px;
  border-radius: 4px;
  color: #9882fe;
  background-color: #f4f0ff;
}
.payee-reference-description__type--2 {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding: 6px 21px 2px;
  border-radius: 4px;
  color: #1199d6;
  background-color: #f2f7fd;
}
.payee-reference__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
  padding: 8px 16px;
  width: 100%;
}
.payee-reference__button:hover .iconBlock .icon {
  opacity: 0;
}
.payee-reference__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.payee-reference__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.payee-reference__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.payee-reference__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.payee-reference__button .iconBlock:hover .icon {
  opacity: 0;
}
.payee-reference__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.payee-reference__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.payee-reference__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.payee-reference__button .iconBlock.active .icon {
  opacity: 0;
}
.payee-reference__button .iconBlock.active .iconActive {
  opacity: 1;
}
.payee-reference__button .iconBlock .icon,
.payee-reference__button .iconBlock .iconHover,
.payee-reference__button .iconBlock .iconActive,
.payee-reference__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.payee-reference__button .iconBlock .iconHover,
.payee-reference__button .iconBlock .iconActive,
.payee-reference__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.payee-reference__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.payee-reference__button .iconBlock,
.payee-reference__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.payee-reference__button .iconBlock:first-child,
.payee-reference__button > img:first-child {
  margin-left: 0;
}
.payee-reference__button .iconBlock:last-child,
.payee-reference__button > img:last-child {
  margin-right: 0;
}
.payee-reference__button:hover {
  color: #0248a4;
}
.payee-reference:last-child {
  margin-bottom: 0;
}
.payee-reference:hover:not(:disabled) {
  border-color: #dfd7fe;
}
.payee-reference-button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  background: #f2f7fd;
  color: #0360db;
  width: 100%;
  margin-top: 16px;
}
.payee-reference-button:hover .iconBlock .icon {
  opacity: 0;
}
.payee-reference-button:hover .iconBlock .iconHover {
  opacity: 1;
}
.payee-reference-button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.payee-reference-button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.payee-reference-button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.payee-reference-button .iconBlock:hover .icon {
  opacity: 0;
}
.payee-reference-button .iconBlock:hover .iconHover {
  opacity: 1;
}
.payee-reference-button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.payee-reference-button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.payee-reference-button .iconBlock.active .icon {
  opacity: 0;
}
.payee-reference-button .iconBlock.active .iconActive {
  opacity: 1;
}
.payee-reference-button .iconBlock .icon,
.payee-reference-button .iconBlock .iconHover,
.payee-reference-button .iconBlock .iconActive,
.payee-reference-button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.payee-reference-button .iconBlock .iconHover,
.payee-reference-button .iconBlock .iconActive,
.payee-reference-button .iconBlock .iconActiveHover {
  opacity: 0;
}
.payee-reference-button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.payee-reference-button .iconBlock,
.payee-reference-button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.payee-reference-button .iconBlock:first-child,
.payee-reference-button > img:first-child {
  margin-left: 0;
}
.payee-reference-button .iconBlock:last-child,
.payee-reference-button > img:last-child {
  margin-right: 0;
}
.payee-reference-button:hover {
  color: #0248a4;
}