@import "Sass/common/variables";
@import "Sass/mixins/";

.payee-card {
    @include paymentCard;
    width: calc(33.3% - 11px);
    margin: $indent-16 $indent-16 0 0;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        margin-top: 0;
    }
    &:nth-child(3n + 3) {
        margin-right: 0;
    }

    @media (max-width: 1260px) {
        .payee-card-description {
            align-items: flex-start;

            .payee-card-description__type {
                width: 130px;
            }

            .payee-card-description__type--2 {
                width: 220px;
            }
        }
    }
}

.payee-reference {
    @include paymentCard;
    margin-bottom: $indent-12;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover:not(:disabled) {
        border-color: $color-violet-200;
    }

    &-button {
        @include lightBlueButton;
        width: 100%;
        margin-top: $indent-16;
    }
}
