<div>
    <label>Phone number</label>
    <div class="phone">
        <div class="customSelector search">
            <div class="customSelector-input" onclick="onTriggerPhoneSelector()" id="typesSelector">
                <p class="customSelector-input__placeholder">+44</p>
                <img src="/img/icons/dropdown.svg" alt="dropdown" />
            </div>

            <div class="customSelector-dropdown" id="types">
                <div class="customSelector-dropdown-item">
                    <p>+55</p>
                </div>
                <div class="customSelector-dropdown-item">
                    <p>+66</p>
                </div>
                <div class="customSelector-dropdown-item">
                    <p>+77</p>
                </div>
            </div>
        </div>
        <input placeholder="000 000 000" class="input"/>
    </div>
</div>