.home-transactions {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.15);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
  flex: 1;
}
.home-transactions:last-child {
  margin-bottom: 0;
}
.home-transactions__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}

.view-more__section {
  display: flex;
  justify-content: end;
}
.view-more__section .view-more__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  box-shadow: none;
  color: #0360db;
  padding: 0;
}