.sign-queues-single-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sign-queues-single-header-wrapper {
  display: flex;
  align-items: center;
}
.sign-queues-single-header__logo {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.15);
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 12px;
}
.sign-queues-single-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
.sign-queues-single-header__tooltip-icon {
  padding: 8px;
  margin-left: 4px;
}
.sign-queues-single-header__button {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  color: #0360db;
  padding: 0;
}
.sign-queues-single-header__button:hover .iconBlock .icon {
  opacity: 0;
}
.sign-queues-single-header__button:hover .iconBlock .iconHover {
  opacity: 1;
}
.sign-queues-single-header__button:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.sign-queues-single-header__button:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.sign-queues-single-header__button .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.sign-queues-single-header__button .iconBlock:hover .icon {
  opacity: 0;
}
.sign-queues-single-header__button .iconBlock:hover .iconHover {
  opacity: 1;
}
.sign-queues-single-header__button .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.sign-queues-single-header__button .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.sign-queues-single-header__button .iconBlock.active .icon {
  opacity: 0;
}
.sign-queues-single-header__button .iconBlock.active .iconActive {
  opacity: 1;
}
.sign-queues-single-header__button .iconBlock .icon,
.sign-queues-single-header__button .iconBlock .iconHover,
.sign-queues-single-header__button .iconBlock .iconActive,
.sign-queues-single-header__button .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.sign-queues-single-header__button .iconBlock .iconHover,
.sign-queues-single-header__button .iconBlock .iconActive,
.sign-queues-single-header__button .iconBlock .iconActiveHover {
  opacity: 0;
}
.sign-queues-single-header__button > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.sign-queues-single-header__button .iconBlock,
.sign-queues-single-header__button > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.sign-queues-single-header__button .iconBlock:first-child,
.sign-queues-single-header__button > img:first-child {
  margin-left: 0;
}
.sign-queues-single-header__button .iconBlock:last-child,
.sign-queues-single-header__button > img:last-child {
  margin-right: 0;
}
.sign-queues-single-header__button:hover {
  color: #0248a4;
}
.sign-queues-single-header-breadcrumbs {
  display: flex;
}
.sign-queues-single-header-breadcrumbs__item {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #6a6a6a;
  padding: 4px 0;
  margin-right: 8px;
}
.sign-queues-single-header-breadcrumbs__item::after {
  content: "/";
  margin-left: 8px;
}
.sign-queues-single-header-breadcrumbs__item:last-child {
  margin-right: 0;
}
.sign-queues-single-header-breadcrumbs__item:last-child::after {
  display: none;
}
.sign-queues-single-header-breadcrumbs__item.active {
  color: #212121;
}
.sign-queues-single-header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}
.sign-queues-single-header-title-line {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.sign-queues-single-header-title-line__return-icon {
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  margin-right: 12px;
}
.sign-queues-single-header-title-line-name {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-right: 12px;
}
.sign-queues-single-card {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.15);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
}
.sign-queues-single-card:last-child {
  margin-bottom: 0;
}
.sign-queues-single-card-info {
  display: flex;
  margin-bottom: 16px;
}
.sign-queues-single-card-info:last-child {
  margin-bottom: 0;
}
.sign-queues-single-card-info-item {
  margin-right: 32px;
  width: 100%;
  max-width: 260px;
}
.sign-queues-single-card-info-item:last-child {
  max-width: unset;
  margin-right: 0;
}
.sign-queues-single-card-info-item--fullwidth {
  max-width: 552px;
}
.sign-queues-single-card-info-item-title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #6a6a6a;
}
.sign-queues-single-card-info-item-text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.sign-queues-single-card-info-item-text__image {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}
.sign-queues-single-card-dash {
  border: none;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #dcdcdc 0.34%, #d2d2d2 49.35%, rgba(227, 227, 227, 0) 100%);
  margin-bottom: 16px;
  background: #f2f7fd;
}
.sign-queues-single-card-title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #393939;
}

.signoff-modal {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  position: relative;
}
.signoff-modal-layout {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
  max-width: 744px;
}
.signoff-modal-header-wrapper {
  margin-bottom: 16px;
}
.signoff-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signoff-modal-header__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #121217;
}
.signoff-modal-header__subtitle {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
  color: #212121;
}
.signoff-modal-header__icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.signoff-modal-header__icon:hover .icon {
  opacity: 0;
}
.signoff-modal-header__icon:hover .iconHover {
  opacity: 1;
}
.signoff-modal-header__icon:hover.active .iconActive {
  opacity: 0;
}
.signoff-modal-header__icon:hover.active .iconActiveHover {
  opacity: 1;
}
.signoff-modal-header__icon.active .icon {
  opacity: 0;
}
.signoff-modal-header__icon.active .iconActive {
  opacity: 1;
}
.signoff-modal-header__icon .icon,
.signoff-modal-header__icon .iconHover,
.signoff-modal-header__icon .iconActive,
.signoff-modal-header__icon .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.signoff-modal-header__icon .iconHover,
.signoff-modal-header__icon .iconActive,
.signoff-modal-header__icon .iconActiveHover {
  opacity: 0;
}
.signoff-modal-main {
  margin-bottom: 16px;
}
.signoff-modal-main-input {
  margin-right: 0;
  margin-bottom: 16px;
}
.signoff-modal-main-input:last-child {
  margin-bottom: 0;
}
.signoff-modal-footer {
  display: flex;
  justify-content: space-between;
}
.signoff-modal-footer__buttonCancel {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  background: #f2f7fd;
  color: #0360db;
  min-width: 144px;
}
.signoff-modal-footer__buttonCancel:hover .iconBlock .icon {
  opacity: 0;
}
.signoff-modal-footer__buttonCancel:hover .iconBlock .iconHover {
  opacity: 1;
}
.signoff-modal-footer__buttonCancel:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.signoff-modal-footer__buttonCancel:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.signoff-modal-footer__buttonCancel .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.signoff-modal-footer__buttonCancel .iconBlock:hover .icon {
  opacity: 0;
}
.signoff-modal-footer__buttonCancel .iconBlock:hover .iconHover {
  opacity: 1;
}
.signoff-modal-footer__buttonCancel .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.signoff-modal-footer__buttonCancel .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.signoff-modal-footer__buttonCancel .iconBlock.active .icon {
  opacity: 0;
}
.signoff-modal-footer__buttonCancel .iconBlock.active .iconActive {
  opacity: 1;
}
.signoff-modal-footer__buttonCancel .iconBlock .icon,
.signoff-modal-footer__buttonCancel .iconBlock .iconHover,
.signoff-modal-footer__buttonCancel .iconBlock .iconActive,
.signoff-modal-footer__buttonCancel .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.signoff-modal-footer__buttonCancel .iconBlock .iconHover,
.signoff-modal-footer__buttonCancel .iconBlock .iconActive,
.signoff-modal-footer__buttonCancel .iconBlock .iconActiveHover {
  opacity: 0;
}
.signoff-modal-footer__buttonCancel > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.signoff-modal-footer__buttonCancel .iconBlock,
.signoff-modal-footer__buttonCancel > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.signoff-modal-footer__buttonCancel .iconBlock:first-child,
.signoff-modal-footer__buttonCancel > img:first-child {
  margin-left: 0;
}
.signoff-modal-footer__buttonCancel .iconBlock:last-child,
.signoff-modal-footer__buttonCancel > img:last-child {
  margin-right: 0;
}
.signoff-modal-footer__buttonCancel:hover {
  color: #0248a4;
}
.signoff-modal-footer__buttonSuccess {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background: #0360db;
  color: #ffffff;
  min-width: 144px;
}
.signoff-modal-footer__buttonSuccess:hover .iconBlock .icon {
  opacity: 0;
}
.signoff-modal-footer__buttonSuccess:hover .iconBlock .iconHover {
  opacity: 1;
}
.signoff-modal-footer__buttonSuccess:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.signoff-modal-footer__buttonSuccess:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.signoff-modal-footer__buttonSuccess .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.signoff-modal-footer__buttonSuccess .iconBlock:hover .icon {
  opacity: 0;
}
.signoff-modal-footer__buttonSuccess .iconBlock:hover .iconHover {
  opacity: 1;
}
.signoff-modal-footer__buttonSuccess .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.signoff-modal-footer__buttonSuccess .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.signoff-modal-footer__buttonSuccess .iconBlock.active .icon {
  opacity: 0;
}
.signoff-modal-footer__buttonSuccess .iconBlock.active .iconActive {
  opacity: 1;
}
.signoff-modal-footer__buttonSuccess .iconBlock .icon,
.signoff-modal-footer__buttonSuccess .iconBlock .iconHover,
.signoff-modal-footer__buttonSuccess .iconBlock .iconActive,
.signoff-modal-footer__buttonSuccess .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.signoff-modal-footer__buttonSuccess .iconBlock .iconHover,
.signoff-modal-footer__buttonSuccess .iconBlock .iconActive,
.signoff-modal-footer__buttonSuccess .iconBlock .iconActiveHover {
  opacity: 0;
}
.signoff-modal-footer__buttonSuccess > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.signoff-modal-footer__buttonSuccess .iconBlock,
.signoff-modal-footer__buttonSuccess > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.signoff-modal-footer__buttonSuccess .iconBlock:first-child,
.signoff-modal-footer__buttonSuccess > img:first-child {
  margin-left: 0;
}
.signoff-modal-footer__buttonSuccess .iconBlock:last-child,
.signoff-modal-footer__buttonSuccess > img:last-child {
  margin-right: 0;
}
.signoff-modal-footer__buttonSuccess:hover {
  background-color: #0248a4;
}
.signoff-modal-footer__buttonReject {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  box-shadow: 2px 2px 6px rgba(253, 94, 116, 0.2);
  color: #ffffff;
  background-color: #fc4c16;
  min-width: 144px;
}
.signoff-modal-footer__buttonReject:hover .iconBlock .icon {
  opacity: 0;
}
.signoff-modal-footer__buttonReject:hover .iconBlock .iconHover {
  opacity: 1;
}
.signoff-modal-footer__buttonReject:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.signoff-modal-footer__buttonReject:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.signoff-modal-footer__buttonReject .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.signoff-modal-footer__buttonReject .iconBlock:hover .icon {
  opacity: 0;
}
.signoff-modal-footer__buttonReject .iconBlock:hover .iconHover {
  opacity: 1;
}
.signoff-modal-footer__buttonReject .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.signoff-modal-footer__buttonReject .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.signoff-modal-footer__buttonReject .iconBlock.active .icon {
  opacity: 0;
}
.signoff-modal-footer__buttonReject .iconBlock.active .iconActive {
  opacity: 1;
}
.signoff-modal-footer__buttonReject .iconBlock .icon,
.signoff-modal-footer__buttonReject .iconBlock .iconHover,
.signoff-modal-footer__buttonReject .iconBlock .iconActive,
.signoff-modal-footer__buttonReject .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.signoff-modal-footer__buttonReject .iconBlock .iconHover,
.signoff-modal-footer__buttonReject .iconBlock .iconActive,
.signoff-modal-footer__buttonReject .iconBlock .iconActiveHover {
  opacity: 0;
}
.signoff-modal-footer__buttonReject > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.signoff-modal-footer__buttonReject .iconBlock,
.signoff-modal-footer__buttonReject > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.signoff-modal-footer__buttonReject .iconBlock:first-child,
.signoff-modal-footer__buttonReject > img:first-child {
  margin-left: 0;
}
.signoff-modal-footer__buttonReject .iconBlock:last-child,
.signoff-modal-footer__buttonReject > img:last-child {
  margin-right: 0;
}
.signoff-modal-footer__buttonReject:hover {
  background-color: #cf3405;
}