@import "Sass/common/variables";
@import "Sass/mixins/";

.transfers-history-info {
    @include cardLightBlue;
    margin-bottom: $indent-12;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover:not(:disabled) {
        border-color: $color-blue-200;
    }

    &__title {
        @include h3;
    }

    &-description {
        display: flex;
        justify-content: space-between;

        &__text {
            @include body;
            display: flex;
            color: $color-gray-600;
        }

        &__sum {
            @include h4;
            color: $color-gray-600;
        }
    }
}
