<table class="userTable">
    <thead>
        <tr>
            <td>User Name</td>
            <td>User ID</td>
            <td>Last Logged on</td>
            <td>Phone number</td>
            <td>Group</td>
            <td>Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="userTable-user">
                    <img src="/img/sign/avatar1.svg" alt="avatar" class="userTable-user__image" />
                    <p class="userTable-user__name">Lindsey Mango</p>
                </div>
            </td>
            <td>840284208402</td>
            <td>—</td>
            <td>077 6764 8570</td>
            <td>—</td>
            <td><span class="userTable-status">Awaiting Sign-off</span></td>
            <td>
                <button class="userTable-button">
                    <img src="/img/icons/editIcon.svg" alt="edit" class="icon" />
                    <img src="/img/icons/editHover.svg" alt="edit" class="iconHover" />
                </button>
                <button class="userTable-button">
                    <img src="/img/icons/delete.svg" alt="delete" class="icon" />
                    <img src="/img/icons/deleteHover.svg" alt="delete" class="iconHover" />
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="userTable-user">
                    <img src="/img/sign/avatar1.svg" alt="avatar" class="userTable-user__image" />
                    <p class="userTable-user__name">Lindsey Mango</p>
                </div>
            </td>
            <td>840284208490</td>
            <td>—</td>
            <td>077 6764 8570</td>
            <td>—</td>
            <td><span class="userTable-status">Awaiting Sign-off</span></td>
            <td>
                <button class="userTable-button">
                    <img src="/img/icons/editIcon.svg" alt="edit" class="icon" />
                    <img src="/img/icons/editHover.svg" alt="edit" class="iconHover" />
                </button>
                <button class="userTable-button">
                    <img src="/img/icons/delete.svg" alt="delete" class="icon" />
                    <img src="/img/icons/deleteHover.svg" alt="delete" class="iconHover" />
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="userTable-user">
                    <img src="/img/sign/avatar1.svg" alt="avatar" class="userTable-user__image" />
                    <p class="userTable-user__name">Lindsey Mango</p>
                </div>
            </td>
            <td>840284208456</td>
            <td>—</td>
            <td>077 6764 8570</td>
            <td>—</td>
            <td><span class="userTable-status">Awaiting Sign-off</span></td>
            <td>
                <button class="userTable-button">
                    <img src="/img/icons/editIcon.svg" alt="edit" class="icon" />
                    <img src="/img/icons/editHover.svg" alt="edit" class="iconHover" />
                </button>
                <button class="userTable-button">
                    <img src="/img/icons/delete.svg" alt="delete" class="icon" />
                    <img src="/img/icons/deleteHover.svg" alt="delete" class="iconHover" />
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="userTable-user">
                    <img src="/img/sign/avatar1.svg" alt="avatar" class="userTable-user__image" />
                    <p class="userTable-user__name">Lindsey Mango</p>
                </div>
            </td>
            <td>840284208489</td>
            <td>9 June 2021 at 19:00:54</td>
            <td>077 6764 8570</td>
            <td>
                <div class="formgroup">
                    <div class="select-layout">
                        <select class="select">
                            <option disabled selected>Add to group</option>
                            <option>Account No.:00256001</option>
                            <option>Account No.:00256002</option>
                            <option>Account No.:00256003</option>
                            <option>Account No.:00256004</option>
                            <option>Account No.:00256005</option>
                        </select>
                    </div>
                </div>
            </td>
            <td></td>
            <td>
                <button class="userTable-button">
                    <img src="/img/icons/editIcon.svg" alt="edit" class="icon" />
                    <img src="/img/icons/editHover.svg" alt="edit" class="iconHover" />
                </button>
                <button class="userTable-button">
                    <img src="/img/icons/delete.svg" alt="delete" class="icon" />
                    <img src="/img/icons/deleteHover.svg" alt="delete" class="iconHover" />
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="userTable-user">
                    <img src="/img/sign/avatar1.svg" alt="avatar" class="userTable-user__image" />
                    <p class="userTable-user__name">Lindsey Mango</p>
                </div>
            </td>
            <td>840284208491</td>
            <td>10 June 2021 at 22:54:09</td>
            <td>077 6764 8570</td>
            <td>
                <div class="formgroup">
                    <div class="select-layout">
                        <select class="select">
                            <option disabled selected>Add to group</option>
                            <option>Account No.:00256001</option>
                            <option>Account No.:00256002</option>
                            <option>Account No.:00256003</option>
                            <option>Account No.:00256004</option>
                            <option>Account No.:00256005</option>
                        </select>
                    </div>
                </div>
            </td>
            <td></td>
            <td>
                <button class="userTable-button">
                    <img src="/img/icons/editIcon.svg" alt="edit" class="icon" />
                    <img src="/img/icons/editHover.svg" alt="edit" class="iconHover" />
                </button>
                <button class="userTable-button">
                    <img src="/img/icons/delete.svg" alt="delete" class="icon" />
                    <img src="/img/icons/deleteHover.svg" alt="delete" class="iconHover" />
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="userTable-user">
                    <img src="/img/sign/avatar1.svg" alt="avatar" class="userTable-user__image" />
                    <p class="userTable-user__name">Lindsey Mango</p>
                </div>
            </td>
            <td>840284208402</td>
            <td>19 June 2021 at 09:09:23</td>
            <td>077 6764 8570</td>
            <td>
                <div class="formgroup">
                    <div class="select-layout">
                        <select class="select">
                            <option disabled selected>Add to group</option>
                            <option>Account No.:00256001</option>
                            <option>Account No.:00256002</option>
                            <option>Account No.:00256003</option>
                            <option>Account No.:00256004</option>
                            <option>Account No.:00256005</option>
                        </select>
                    </div>
                </div>
            </td>
            <td></td>
            <td>
                <button class="userTable-button">
                    <img src="/img/icons/editIcon.svg" alt="edit" class="icon" />
                    <img src="/img/icons/editHover.svg" alt="edit" class="iconHover" />
                </button>
                <button class="userTable-button">
                    <img src="/img/icons/delete.svg" alt="delete" class="icon" onclick="onTriggerModalDelete()" />
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="userTable-user">
                    <img src="/img/sign/avatar1.svg" alt="avatar" class="userTable-user__image" />
                    <p class="userTable-user__name">Lindsey Mango</p>
                </div>
            </td>
            <td>840284208492</td>
            <td>20 June 2021 at 10:01:58</td>
            <td>077 6764 8570</td>
            <td>Developers</td>
            <td></td>
            <td>
                <button class="userTable-button">
                    <img src="/img/icons/editIcon.svg" alt="edit" class="icon" />
                    <img src="/img/icons/editHover.svg" alt="edit" class="iconHover" />
                </button>
                <button class="userTable-button">
                    <img src="/img/icons/delete.svg" alt="delete" class="icon" />
                    <img src="/img/icons/deleteHover.svg" alt="delete" class="iconHover" />
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="userTable-user">
                    <img src="/img/sign/avatar1.svg" alt="avatar" class="userTable-user__image" />
                    <p class="userTable-user__name">Lindsey Mango</p>
                </div>
            </td>
            <td>840284208493</td>
            <td>16 June 2021 at 13:09:32</td>
            <td>077 6764 8570</td>
            <td>Sales</td>
            <td><span class="userTable-status">Awaiting Sign-off</span></td>
            <td>
                <button class="userTable-button">
                    <img src="/img/icons/editIcon.svg" alt="edit" class="icon" />
                    <img src="/img/icons/editHover.svg" alt="edit" class="iconHover" />
                </button>
                <button class="userTable-button">
                    <img src="/img/icons/delete.svg" alt="delete" class="icon" />
                    <img src="/img/icons/deleteHover.svg" alt="delete" class="iconHover" />
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="userTable-user">
                    <img src="/img/sign/avatar1.svg" alt="avatar" class="userTable-user__image" />
                    <p class="userTable-user__name">Lindsey Mango</p>
                </div>
            </td>
            <td>840284208494</td>
            <td>16 June 2021 at 13:53:03</td>
            <td>077 6764 8570</td>
            <td>Marketing</td>
            <td></td>
            <td>
                <button class="userTable-button">
                    <img src="/img/icons/editIcon.svg" alt="edit" class="icon" />
                    <img src="/img/icons/editHover.svg" alt="edit" class="iconHover" />
                </button>
                <button class="userTable-button">
                    <img src="/img/icons/delete.svg" alt="delete" class="icon" />
                    <img src="/img/icons/deleteHover.svg" alt="delete" class="iconHover" />
                </button>
            </td>
        </tr>
    </tbody>
</table>