.details {
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.15);
  border-radius: 16px;
  background: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
  min-width: 440px;
  margin-right: 24px;
  margin-bottom: 0;
}
.details:last-child {
  margin-bottom: 0;
}
.details-head {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #212121;
  margin-bottom: 16px;
}
.details-formgroup {
  margin-bottom: 16px;
}
.details-formgroup:last-child {
  margin-bottom: 0;
}
.details-formgroup-name {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #6a6a6a;
}
.details-formgroup-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.details-formgroup-title-name {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #6a6a6a;
}
.details-formgroup-title-subtitle {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #9d9d9d;
}
.details-formgroup.formgroup--inactive label, .details-formgroup.formgroup--inactive p {
  color: #9d9d9d;
}
.details-formgroup.formgroup--inactive input {
  border-color: #ededed;
  background: #f7f7f7;
  color: #9d9d9d;
}
.details-formgroup.formgroup--inactive input:hover, .details-formgroup.formgroup--inactive input:focus, .details-formgroup.formgroup--inactive input:active {
  border-color: #ededed;
  background: #f7f7f7;
  color: #9d9d9d;
}
.details-formgroup.formgroup--inactive input:hover::placeholder, .details-formgroup.formgroup--inactive input:focus::placeholder, .details-formgroup.formgroup--inactive input:active::placeholder {
  color: #9d9d9d;
}
.details-formgroup.formgroup--inactive:hover label, .details-formgroup.formgroup--inactive:hover p {
  color: #9d9d9d;
}
.details-formgroup.formgroup--inactive:hover input {
  border-color: #ededed;
  background: #f7f7f7;
  color: #9d9d9d;
}