@inherits LayoutComponentBase

<div class="page">
    <HeaderComponent></HeaderComponent>
    <div class="main">        
        @Body
    </div>
    @* <FooterSignQueuesComponent></FooterSignQueuesComponent> *@
</div>
