.standing-orders-new-layout {
    padding: 24px 0;
}

.standing-orders-new-container {
    width: 100%;
    max-width: calc(1368px + 36px * 2);
    padding: 0 36px;
    margin: 0 auto;
}

.standing-orders-new-breadcrumbs {
    display: flex;
    margin-bottom: 8px;
}
.standing-orders-new-breadcrumbs__item {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #6a6a6a;
    padding: 4px 0;
    margin-right: 8px;
}
.standing-orders-new-breadcrumbs__item::after {
    content: "/";
    margin-left: 8px;
}
.standing-orders-new-breadcrumbs__item:last-child {
    margin-right: 0;
}
.standing-orders-new-breadcrumbs__item:last-child::after {
    display: none;
}
.standing-orders-new-breadcrumbs__item.active {
    color: #212121;
}
.standing-orders-new-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-bottom: 24px;
}
.standing-orders-new-header-wrapper {
    display: flex;
    align-items: center;
}
.standing-orders-new-header__logo {
    box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 12px;
}
.standing-orders-new-header__title {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}
.standing-orders-new-header__tooltip-icon {
    padding: 8px;
    margin-left: 4px;
}
.standing-orders-new-header__button {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    box-shadow: none;
    color: #0360db;
    padding: 0;
}
.standing-orders-new-header__button:hover .iconBlock .icon {
    opacity: 0;
}
.standing-orders-new-header__button:hover .iconBlock .iconHover {
    opacity: 1;
}
.standing-orders-new-header__button:hover .iconBlock.active .iconActive {
    opacity: 0;
}
.standing-orders-new-header__button:hover .iconBlock.active .iconActiveHover {
    opacity: 1;
}
.standing-orders-new-header__button .iconBlock {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s;
    width: 24px;
    height: 24px;
    padding: 0;
}
.standing-orders-new-header__button .iconBlock:hover .icon {
    opacity: 0;
}
.standing-orders-new-header__button .iconBlock:hover .iconHover {
    opacity: 1;
}
.standing-orders-new-header__button .iconBlock:hover.active .iconActive {
    opacity: 0;
}
.standing-orders-new-header__button .iconBlock:hover.active .iconActiveHover {
    opacity: 1;
}
.standing-orders-new-header__button .iconBlock.active .icon {
    opacity: 0;
}
.standing-orders-new-header__button .iconBlock.active .iconActive {
    opacity: 1;
}
.standing-orders-new-header__button .iconBlock .icon,
.standing-orders-new-header__button .iconBlock .iconHover,
.standing-orders-new-header__button .iconBlock .iconActive,
.standing-orders-new-header__button .iconBlock .iconActiveHover {
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}
.standing-orders-new-header__button .iconBlock .iconHover,
.standing-orders-new-header__button .iconBlock .iconActive,
.standing-orders-new-header__button .iconBlock .iconActiveHover {
    opacity: 0;
}
.standing-orders-new-header__button > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.standing-orders-new-header__button .iconBlock,
.standing-orders-new-header__button > img {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}
.standing-orders-new-header__button .iconBlock:first-child,
.standing-orders-new-header__button > img:first-child {
    margin-left: 0;
}
.standing-orders-new-header__button .iconBlock:last-child,
.standing-orders-new-header__button > img:last-child {
    margin-right: 0;
}
.standing-orders-new-header__button:hover {
    color: #0248a4;
}
.standing-orders-new-choise {
    box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
    border-radius: 16px;
    background: #ffffff;
    padding: 24px;
    margin-bottom: 24px;
}
.standing-orders-new-choise:last-child {
    margin-bottom: 0;
}
.standing-orders-new-choise__title {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 4px;
}
.standing-orders-new-choise__subtitle {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
}
.standing-orders-new-choise-form-radio {
    margin-top: 16px;
}
.standing-orders-new-choise-form-radio input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.standing-orders-new-choise-form-radio input:checked ~ label::after {
    opacity: 1;
}
.standing-orders-new-choise-form-radio label {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-left: 28px;
    position: relative;
    cursor: pointer;
}
.standing-orders-new-choise-form-radio label::before,
.standing-orders-new-choise-form-radio label::after {
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
}
.standing-orders-new-choise-form-radio label::before {
    width: 16px;
    height: 16px;
    border: 1px solid #0360db;
    top: 4px;
    left: 4px;
}
.standing-orders-new-choise-form-radio label::after {
    width: 12px;
    height: 12px;
    background: #0360db;
    top: 6px;
    left: 6px;
    opacity: 0;
    transition: 0.4s;
}
.standing-orders-new-choise-form-radio.disabled label::before {
    border-color: #d2d2d2;
}
.standing-orders-new-choise-form-radio.disabled label::after {
    background: #d2d2d2;
}
.standing-orders-new-choise-form-radio:first-child {
    margin-top: 0;
}
.standing-orders-new-choise-form__button {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    box-shadow: none;
    background: #f2f7fd;
    color: #0360db;
    min-width: 140px;
    margin-top: 12px;
}
.standing-orders-new-choise-form__button:hover .iconBlock .icon {
    opacity: 0;
}
.standing-orders-new-choise-form__button:hover .iconBlock .iconHover {
    opacity: 1;
}
.standing-orders-new-choise-form__button:hover .iconBlock.active .iconActive {
    opacity: 0;
}
.standing-orders-new-choise-form__button:hover .iconBlock.active .iconActiveHover {
    opacity: 1;
}
.standing-orders-new-choise-form__button .iconBlock {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s;
    width: 24px;
    height: 24px;
    padding: 0;
}
.standing-orders-new-choise-form__button .iconBlock:hover .icon {
    opacity: 0;
}
.standing-orders-new-choise-form__button .iconBlock:hover .iconHover {
    opacity: 1;
}
.standing-orders-new-choise-form__button .iconBlock:hover.active .iconActive {
    opacity: 0;
}
.standing-orders-new-choise-form__button .iconBlock:hover.active .iconActiveHover {
    opacity: 1;
}
.standing-orders-new-choise-form__button .iconBlock.active .icon {
    opacity: 0;
}
.standing-orders-new-choise-form__button .iconBlock.active .iconActive {
    opacity: 1;
}
.standing-orders-new-choise-form__button .iconBlock .icon,
.standing-orders-new-choise-form__button .iconBlock .iconHover,
.standing-orders-new-choise-form__button .iconBlock .iconActive,
.standing-orders-new-choise-form__button .iconBlock .iconActiveHover {
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}
.standing-orders-new-choise-form__button .iconBlock .iconHover,
.standing-orders-new-choise-form__button .iconBlock .iconActive,
.standing-orders-new-choise-form__button .iconBlock .iconActiveHover {
    opacity: 0;
}
.standing-orders-new-choise-form__button > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.standing-orders-new-choise-form__button .iconBlock,
.standing-orders-new-choise-form__button > img {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}
.standing-orders-new-choise-form__button .iconBlock:first-child,
.standing-orders-new-choise-form__button > img:first-child {
    margin-left: 0;
}
.standing-orders-new-choise-form__button .iconBlock:last-child,
.standing-orders-new-choise-form__button > img:last-child {
    margin-right: 0;
}
.standing-orders-new-choise-form__button:hover {
    color: #0248a4;
}
.standing-orders-new-data {
    box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
    border-radius: 16px;
    background: #ffffff;
    padding: 24px;
    margin-bottom: 24px;
}
.standing-orders-new-data:last-child {
    margin-bottom: 0;
}
.standing-orders-new-data__title {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 12px;
}
.standing-orders-new-data__subtitle {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    margin-top: 12px;
}
.standing-orders-new-data-form {
    margin-top: 12px;
}
.standing-orders-new-data-form__formrow {
    display: flex;
    align-items: flex-start;
    margin-top: 12px;
}
.standing-orders-new-data-form__formrow:first-child {
    margin-top: 0;
}
.standing-orders-new-data-form__formrow-button {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    box-shadow: none;
    background: #f2f7fd;
    color: #0360db;
    min-width: 208px;
    margin-top: 20px;
}
.standing-orders-new-data-form__formrow-button:hover .iconBlock .icon {
    opacity: 0;
}
.standing-orders-new-data-form__formrow-button:hover .iconBlock .iconHover {
    opacity: 1;
}
.standing-orders-new-data-form__formrow-button:hover .iconBlock.active .iconActive {
    opacity: 0;
}
.standing-orders-new-data-form__formrow-button:hover .iconBlock.active .iconActiveHover {
    opacity: 1;
}
.standing-orders-new-data-form__formrow-button .iconBlock {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s;
    width: 24px;
    height: 24px;
    padding: 0;
}
.standing-orders-new-data-form__formrow-button .iconBlock:hover .icon {
    opacity: 0;
}
.standing-orders-new-data-form__formrow-button .iconBlock:hover .iconHover {
    opacity: 1;
}
.standing-orders-new-data-form__formrow-button .iconBlock:hover.active .iconActive {
    opacity: 0;
}
.standing-orders-new-data-form__formrow-button .iconBlock:hover.active .iconActiveHover {
    opacity: 1;
}
.standing-orders-new-data-form__formrow-button .iconBlock.active .icon {
    opacity: 0;
}
.standing-orders-new-data-form__formrow-button .iconBlock.active .iconActive {
    opacity: 1;
}
.standing-orders-new-data-form__formrow-button .iconBlock .icon,
.standing-orders-new-data-form__formrow-button .iconBlock .iconHover,
.standing-orders-new-data-form__formrow-button .iconBlock .iconActive,
.standing-orders-new-data-form__formrow-button .iconBlock .iconActiveHover {
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}
.standing-orders-new-data-form__formrow-button .iconBlock .iconHover,
.standing-orders-new-data-form__formrow-button .iconBlock .iconActive,
.standing-orders-new-data-form__formrow-button .iconBlock .iconActiveHover {
    opacity: 0;
}
.standing-orders-new-data-form__formrow-button > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.standing-orders-new-data-form__formrow-button .iconBlock,
.standing-orders-new-data-form__formrow-button > img {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}
.standing-orders-new-data-form__formrow-button .iconBlock:first-child,
.standing-orders-new-data-form__formrow-button > img:first-child {
    margin-left: 0;
}
.standing-orders-new-data-form__formrow-button .iconBlock:last-child,
.standing-orders-new-data-form__formrow-button > img:last-child {
    margin-right: 0;
}
.standing-orders-new-data-form__formrow-button:hover {
    color: #0248a4;
}
.standing-orders-new-data-form__formrow-or {
    font-family: "Overpass", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #6a6a6a;
    margin-top: 42px;
}
.standing-orders-new-data-form__formrow.standing-orders-new-data-form__formrow--1
    .standing-orders-new-data-form__formgroup:nth-child(2) {
    max-width: 284px;
}
.standing-orders-new-data-form__formrow.standing-orders-new-data-form__formrow--1
    .standing-orders-new-data-form__formgroup:nth-child(3) {
    max-width: 244px;
}
.standing-orders-new-data-form__formrow.standing-orders-new-data-form__formrow--2
    .standing-orders-new-data-form__formgroup {
    max-width: 372px;
}
.standing-orders-new-data-form__formrow.standing-orders-new-data-form__formrow--2
    .standing-orders-new-data-form__formgroup:nth-child(3) {
    max-width: 156px;
}
.standing-orders-new-data-form__formrow.standing-orders-new-data-form__formrow--3
    .standing-orders-new-data-form__formgroup {
    max-width: 372px;
}
.standing-orders-new-data-form__formrow.standing-orders-new-data-form__formrow--3
    .standing-orders-new-data-form__formgroup.standing-orders-new-data-form__formgroup--payment-account {
    max-width: initial;
}
.standing-orders-new-data-form__formgroup,
.standing-orders-new-data-form__formrow-or,
.standing-orders-new-data-form__formrow-button {
    margin-right: 16px;
}
.standing-orders-new-data-form__formgroup:last-child,
.standing-orders-new-data-form__formrow-or:last-child,
.standing-orders-new-data-form__formrow-button:last-child {
    margin-right: 0;
}
.standing-orders-new-data-form__formgroup {
    flex: 1;
}
.standing-orders-new-data-form__formgroup.standing-orders-new-data-form__formgroup--right
    .input {
    text-align: right;
}
