@layout BasicLayout
@page "/standings-orders"

<div class="standing-orders-layout">
    <div class="standing-orders-container">
        <div class="standing-orders">
            <div class="standing-orders-header">
                <div class="standing-orders-header-wrapper">
                    <img src="/img/standingOrders/standingOrdersIcon.svg" alt="logo"
                         class="standing-orders-header__logo" />
                    <p class="standing-orders-header__title">Standing Orders</p>
                    <img src="/img/icons/tooltipIcon.svg" alt="tooltip" class="standing-orders-header__tooltip-icon" />
                </div>
                <button class="standing-orders-header__button"><img src="/img/icons/add.svg" alt="arrow" /> Add Standing Order</button>
            </div>

            <div class="standing-orders-box">
                <div class="standing-orders-filters">
                    <div class="standing-orders-filters__left">
                        <div class="search standing-orders-search">
                            <img src="/img/icons/searchIcon.svg" alt="search" class="search__icon" />
                            <input placeholder="Search here" class="input search__input">
                        </div>
                    </div>
                    <div class="standing-orders-filters__right">
                        <button class="standing-orders-soring-button">
                            <img src="/img/icons/filterIcon.svg" alt="filter" class="icon" />
                            <img src="/img/icons/filterHoverIcon.svg" alt="filter" class="iconHover" />
                        </button>
                    </div>
                </div>

                <div class="standing-orders-table">
                    <TransactionTableComponent></TransactionTableComponent>
                </div>

                <PaginatorComponent></PaginatorComponent>
            </div>
        </div>
    </div>
</div>