@import "Sass/common/variables";
@import "Sass/mixins/";

.payment-layout {
    padding: $indent-24 0 $indent-36;
}

.payment-container {
    @include container;
}

.payment-header {
    @include pageTitle;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-breadcrumbs {
        @include breadcrumbs;
    }
}

.payment-table {
    &-back {
        @include box;
    }

    &-name {
        @include h2;
        padding: $indent-12 0;
        margin-bottom: $indent-16;
    }
}

.payment-modal {
    @include modalDefault;

    &-layout {
        @include modalDefaultContainer;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: $indent-16;

        &-title {
            display: flex;
            align-items: center;

            &-text {
                @include h2;
                margin-right: $indent-12;
                color: $color-wireframes-900;
            }

            &-amount {
                @include label;
                padding: 6px 28px 2px;
                border-radius: $indent-4;
                color: $color-red-500;
                background-color: $color-red-100;
            }
        }

        &__icon {
            @include buttonIconSmall;
        }
    }

    &-main {
        display: flex;
        flex-direction: column;

        &-item {
            display: flex;
            justify-content: space-between;
            padding: 14px 0;
            border-bottom: 1px solid $color-sky-blue-100;

            &-left {
                display: flex;
                align-items: center;

                &__image {
                    margin-right: $indent-8;
                }

                &-text {
                    @include body;
                    color: $color-gray-600;
                }
            }

            &-right {
                display: flex;
                align-items: center;

                &-text {
                    @include h5;
                    color: $color-gray-600;
                }
            }
        }
    }
}
