@layout MainLayout
@page "/sign-queues/payment/single"

<div class="sign-queues-single-layout">
    <div class="sign-queues-single-container">
        <SignQueuesPaymentInfoComponent></SignQueuesPaymentInfoComponent>
    </div>
</div>
