@layout MainLayout
@page "/sign-queues"

<div class="sign-layout">
    <div class="sign-container">
        <div class="sign">
            <div class="sign-header">
                <div class="sign-header-wrapper">
                    <img src="/img/sign/iconSign.svg" alt="logo" class="sign-header__logo" />
                    <p class="sign-header__title">Sign Queues</p>
                    <img src="/img/icons/tooltipIcon.svg" alt="tooltip" class="sign-header__tooltip-icon" />
                </div>
            </div>

            <div class="sign-table">
                <div class="sign-table-back">
                    <p class="sign-table-name">Queue list</p>
                    <SignQueuesSignTableComponent></SignQueuesSignTableComponent>
                </div>
            </div>
        </div>
    </div>
</div>
