@import "Sass/common/variables";
@import "Sass/mixins/";

.standing-orders-new-layout {
    padding: $indent-24 0;
}

.standing-orders-new-container {
    @include container;
}

.standing-orders-new {
    &-breadcrumbs {
        @include breadcrumbs;
        margin-bottom: $indent-8;
    }

    &-header {
        @include pageTitle;
        margin-bottom: $indent-24;
    }

    &-choise {
        @include box;

        &__title {
            @include h2;
            margin-bottom: $indent-4;
        }

        &__subtitle {
            @include h5;
            margin-bottom: $indent-16;
        }

        &-form {
            &-radio {
                @include radio;
                margin-top: $indent-16;
                &:first-child {
                    margin-top: 0;
                }
            }

            &__button {
                @include lightBlueButton;
                min-width: 140px;
                margin-top: $indent-12;
            }
        }
    }

    &-data {
        @include box;

        &__title {
            @include h2;
            margin-bottom: $indent-12;
        }

        &__subtitle {
            @include h4;
            margin-top: $indent-12;
        }

        &-form {
            margin-top: $indent-12;

            &__formrow {
                display: flex;
                align-items: flex-start;
                margin-top: $indent-12;
                &:first-child {
                    margin-top: 0;
                }

                &-button {
                    @include lightBlueButton;
                    min-width: 208px;
                    margin-top: 20px;
                }

                &-or {
                    @include label2;
                    color: $color-gray-600;
                    margin-top: 42px;
                }

                &.standing-orders-new-data-form__formrow--1 {
                    .standing-orders-new-data-form__formgroup {
                        &:nth-child(2) {
                            max-width: 284px;
                        }
                        &:nth-child(3) {
                            max-width: 244px;
                        }
                    }
                }

                &.standing-orders-new-data-form__formrow--2 {
                    .standing-orders-new-data-form__formgroup {
                        max-width: 372px;
                        &:nth-child(3) {
                            max-width: 156px;
                        }
                    }
                }

                &.standing-orders-new-data-form__formrow--3 {
                    .standing-orders-new-data-form__formgroup {
                        max-width: 372px;
                        &.standing-orders-new-data-form__formgroup--payment-account {
                            max-width: initial;
                        }
                    }
                }
            }

            &__formgroup,
            &__formrow-or,
            &__formrow-button {
                margin-right: $indent-16;
                &:last-child {
                    margin-right: 0;
                }
            }

            &__formgroup {
                flex: 1;

                &.standing-orders-new-data-form__formgroup--right {
                    .input {
                        text-align: right;
                    }
                }
            }
        }
    }
}
