@import "Sass/common/variables";
@import "Sass/mixins/";

.standing-orders-layout {
    padding: $indent-24 0;
}

.standing-orders-container {
    @include container;
}

.standing-orders {
    &-header {
        @include pageTitle;
        margin-bottom: $indent-24;
    }

    &-box {
        @include box;
    }

    &-filters {
        display: flex;
        justify-content: space-between;
        margin-bottom: $indent-16;

        &__left {
            flex: 1;
        }
    }

    &-search {
        max-width: 508px;
    }

    &-soring-button {
        @include buttonIconMedium;
    }
}
