@layout BasicLayout
@page "/transfers/history"

<div class="history-layout">
    <div class="history-container">
        <div class="history-header">
            <div class="history-header-wrapper">
                <img src="/img/transactionHistory/transactionHistoryIcon.svg" alt="logo" class="history-header__logo" />
                <p class="history-header__title">Transaction history</p>
                <img src="/img/icons/tooltipIcon.svg" alt="tooltip" class="history-header__tooltip-icon" />
            </div>
        </div>

        <div class="history">
            <div class="history-search">
                <div class="history-search-body">
                    <div class="history-search-body__input">
                        <SearchComponent/>
                    </div>
                    
                    <AccountSelectionComponent />
                </div>

                <div class="history-search-icons">
                    <button class="history-search-icons__icon" onclick="onClickFilterIcon()">
                        <img class="icon" src="/img/icons/filterIcon.svg" alt="filter" />
                        <img class="iconHover" src="/img/icons/filterHoverIcon.svg" alt="filter" />
                    </button>
                    <button class="history-search-icons__icon">
                        <img class="icon" src="/img/icons/dotsIcon.svg" alt="action" />
                        <img class="iconHover" src="/img/icons/dotsHoverIcon.svg" alt="action" />
                    </button>
                </div>
            </div>
            <div class="history-filters" id="filters">
                <div class="select-layout">
                    <select class="select">
                        <option disabled selected>Product type</option>
                        <option>All product types</option>
                        <option>Payments</option>
                        <option>Transfers</option>
                        <option>SWIFT</option>
                        <option>Batches</option>
                    </select>
                    <select class="select">
                        <option disabled selected>Transaction type</option>
                        <option>All transaction types</option>
                        <option>Income</option>
                        <option>Outcome</option>
                    </select>
                    <select class="select">
                        <option disabled selected>Amount</option>
                    </select>
                    <select class="select">
                        <option disabled selected>Last week</option>
                    </select>
                </div>
            </div>

            <div class="history-info-cards">
                <div>
                    <p class="history-info-cards-title">Statement summary for:</p>

                    <div class="history-info-cards-description">
                        <p class="history-info-cards-description__text">Account No.: 00256001</p>
                        <img src="/img/icons/dotIcon.svg" alt="dot" class="history-info-cards-description__icon" />
                        <p class="history-info-cards-description__text">All operation types</p>
                    </div>

                </div>

                <div class="history-info-cards-right">
                    <div class="history-info-cards-right-content">
                        <p class="history-info-cards-title">Currency</p>
                        <p class="history-info-cards__text">USD</p>
                    </div>

                    <div class="history-info-cards-right-content">
                        <p class="history-info-cards-title">Statement Period</p>
                        <p class="history-info-cards__text">Last 3 months</p>
                    </div>

                    <div class="history-info-cards-right-content">
                        <p class="history-info-cards-title">Current balance:</p>
                        <p class="history-info-cards__text">1550.00</p>
                    </div>

                    <div>
                        <p class="history-info-cards-title">Available balance:</p>
                        <p class="history-info-cards__text">1250.00</p>
                    </div>
                </div>
            </div>

            <div class="history-table">
                <TransactionTableComponent></TransactionTableComponent>
            </div>

            <PaginatorComponent></PaginatorComponent>
        </div>
    </div>
</div>
