@import "Sass/common/variables";
@import "Sass/mixins/";

.common-modal {
    @include modalDefault;

    &-layout {
        min-width: 900px;
        max-width: 950px;
        @include modalDefaultContainer;
    }

    &-header-wrapper {
        margin-bottom: $indent-16;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            @include h2;
            color: $color-wireframes-900;
        }

        &__subtitle {
            @include h5;
            margin-top: $indent-4;
            color: $color-gray-900;
        }

        &__icon {
            @include buttonIconSmall;
        }
    }

    &-main {
        margin-bottom: $indent-16;

        &-input {
            margin-right: 0;
            margin-bottom: $indent-16;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-info-card {
            @include cardLightBlue;
            margin-bottom: $indent-16;

            &-content {
                display: flex;

                &-item {
                    width: 200px;
                    margin-right: 12px;

                    &:last-child {
                        width: unset;
                        margin-right: 0;
                    }

                    &__title {
                        @include caption1;
                        color: $color-gray-600;
                        font-weight: 600;
                    }

                    &__text {
                        @include body;
                    }
                }
            }
        }

        &.main {
            flex: 1;
            border-radius: 12px;
            background: $color-gray-100;
            padding: $indent-16;

            &-formblock {
                margin-top: $indent-16;

                &:first-child {
                    margin-top: 0;
                }

                &__title {
                    @include h4;
                    margin-bottom: $indent-16;
                }

                &.modal-main-input {
                    margin-right: 0;
                    margin-bottom: 16px;

                    &.formgroup {
                        margin-right: 16px;
                    }
                }

                &.modal-main-input:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;

        &__buttonCancel {
            @include lightBlueButton;
            min-width: 144px;
        }

        &__buttonSuccess {
            @include blueButton;
            min-width: 144px;
        }
    }
}
