@import "Sass/common/variables";
@import "Sass/mixins/";

.customerTable {
	td {
		&:nth-child(2),
		&:nth-child(4) {
			text-align: center;
		}
		&:nth-child(5) {
			text-align: right;
		}
	}

	thead {
		td {
			@include label2;
			padding: $indent-8 20px;
			background: $color-sky-blue-100;
			color: $color-sky-blue-300;

			&:first-child {
				border-radius: 8px 0 0 8px;
			}

			&:last-child {
				border-radius: 0 8px 8px 0;
			}
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid $color-sky-blue-100;

			&:last-child {
				border-bottom: 0;

				td {
					padding-bottom: 0;
				}
			}
		}

		td {
			@include h5;
			padding: 20px;
			color: $color-gray-600;

			&:first-child {
				color: $color-gray-900;
			}

			&:last-child {
				text-align: right;
			}
		}
	}

	&-button {
		@include transparentButton2;
	}
}
