<footer class="new-user-footer-layout">
    <div class="new-user-footer-container">
        <div class="new-user-footer">
            <button class="new-user-footer__button new-user-footer__button--inactive" onclick="onTriggerModalSave()">Save User</button>
        </div>
    </div>
</footer>