.batch-footer-layout {
  background: #ffffff;
  padding: 24px 0;
}

.batch-footer-container {
  width: 100%;
  max-width: calc(1368px + 36px * 2);
  padding: 0 36px;
  margin: 0 auto;
}

.batch-footer {
  display: flex;
  justify-content: space-between;
}
.batch-footer-left {
  display: flex;
  align-items: center;
}
.batch-footer-left-info {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.batch-footer-left-info:first-child {
  cursor: pointer;
}
.batch-footer-left-info:last-child {
  margin-right: 0;
}
.batch-footer-left-info-text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
.batch-footer-left-info-text:first-child {
  margin-right: 8px;
  color: #6a6a6a;
}
.batch-footer-left-info-text:last-child {
  color: #393939;
}
.batch-footer-left-info-tooltip {
  position: absolute;
  width: 180px;
  display: none;
  padding: 12px 16px;
  background-color: #ffffff;
  bottom: 30px;
  border: 1px solid #ededed;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(78, 78, 92, 0.08);
}
.batch-footer-left-info-tooltip-item {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.batch-footer-left-info-tooltip-item__image {
  margin-right: 8px;
}
.batch-footer-left-info-tooltip-item__title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #393939;
}
.batch-footer-left-info-tooltip-item__name {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6a6a6a;
}
.batch-footer-left-info-tooltip-icon {
  position: absolute;
  display: none;
  bottom: 22px;
  left: 10px;
}
.batch-footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.batch-footer-right-batch {
  display: flex;
  align-items: center;
}
.batch-footer-right-batch-text {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
.batch-footer-right-batch-text:nth-child(1) {
  margin-right: 8px;
  color: #6a6a6a;
}
.batch-footer-right-batch-text:nth-child(2) {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  margin-right: 44px;
  color: #393939;
}
.batch-footer-right-buttons {
  display: flex;
  align-items: center;
}
.batch-footer-right-buttons-reject, .batch-footer-right-buttons-confirm {
  min-width: 148px;
}
.batch-footer-right-buttons-reject {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: none;
  background: #f2f7fd;
  color: #0360db;
  margin-right: 16px;
}
.batch-footer-right-buttons-reject:hover .iconBlock .icon {
  opacity: 0;
}
.batch-footer-right-buttons-reject:hover .iconBlock .iconHover {
  opacity: 1;
}
.batch-footer-right-buttons-reject:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.batch-footer-right-buttons-reject:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.batch-footer-right-buttons-reject .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-footer-right-buttons-reject .iconBlock:hover .icon {
  opacity: 0;
}
.batch-footer-right-buttons-reject .iconBlock:hover .iconHover {
  opacity: 1;
}
.batch-footer-right-buttons-reject .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.batch-footer-right-buttons-reject .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-footer-right-buttons-reject .iconBlock.active .icon {
  opacity: 0;
}
.batch-footer-right-buttons-reject .iconBlock.active .iconActive {
  opacity: 1;
}
.batch-footer-right-buttons-reject .iconBlock .icon,
.batch-footer-right-buttons-reject .iconBlock .iconHover,
.batch-footer-right-buttons-reject .iconBlock .iconActive,
.batch-footer-right-buttons-reject .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-footer-right-buttons-reject .iconBlock .iconHover,
.batch-footer-right-buttons-reject .iconBlock .iconActive,
.batch-footer-right-buttons-reject .iconBlock .iconActiveHover {
  opacity: 0;
}
.batch-footer-right-buttons-reject > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.batch-footer-right-buttons-reject .iconBlock,
.batch-footer-right-buttons-reject > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.batch-footer-right-buttons-reject .iconBlock:first-child,
.batch-footer-right-buttons-reject > img:first-child {
  margin-left: 0;
}
.batch-footer-right-buttons-reject .iconBlock:last-child,
.batch-footer-right-buttons-reject > img:last-child {
  margin-right: 0;
}
.batch-footer-right-buttons-reject:hover {
  color: #0248a4;
}
.batch-footer-right-buttons-confirm {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  box-shadow: 2px 2px 8px rgba(49, 136, 250, 0.2);
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background: #0360db;
  color: #ffffff;
}
.batch-footer-right-buttons-confirm:hover .iconBlock .icon {
  opacity: 0;
}
.batch-footer-right-buttons-confirm:hover .iconBlock .iconHover {
  opacity: 1;
}
.batch-footer-right-buttons-confirm:hover .iconBlock.active .iconActive {
  opacity: 0;
}
.batch-footer-right-buttons-confirm:hover .iconBlock.active .iconActiveHover {
  opacity: 1;
}
.batch-footer-right-buttons-confirm .iconBlock {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  padding: 0;
}
.batch-footer-right-buttons-confirm .iconBlock:hover .icon {
  opacity: 0;
}
.batch-footer-right-buttons-confirm .iconBlock:hover .iconHover {
  opacity: 1;
}
.batch-footer-right-buttons-confirm .iconBlock:hover.active .iconActive {
  opacity: 0;
}
.batch-footer-right-buttons-confirm .iconBlock:hover.active .iconActiveHover {
  opacity: 1;
}
.batch-footer-right-buttons-confirm .iconBlock.active .icon {
  opacity: 0;
}
.batch-footer-right-buttons-confirm .iconBlock.active .iconActive {
  opacity: 1;
}
.batch-footer-right-buttons-confirm .iconBlock .icon,
.batch-footer-right-buttons-confirm .iconBlock .iconHover,
.batch-footer-right-buttons-confirm .iconBlock .iconActive,
.batch-footer-right-buttons-confirm .iconBlock .iconActiveHover {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.batch-footer-right-buttons-confirm .iconBlock .iconHover,
.batch-footer-right-buttons-confirm .iconBlock .iconActive,
.batch-footer-right-buttons-confirm .iconBlock .iconActiveHover {
  opacity: 0;
}
.batch-footer-right-buttons-confirm > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.batch-footer-right-buttons-confirm .iconBlock,
.batch-footer-right-buttons-confirm > img {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.batch-footer-right-buttons-confirm .iconBlock:first-child,
.batch-footer-right-buttons-confirm > img:first-child {
  margin-left: 0;
}
.batch-footer-right-buttons-confirm .iconBlock:last-child,
.batch-footer-right-buttons-confirm > img:last-child {
  margin-right: 0;
}
.batch-footer-right-buttons-confirm:hover {
  background-color: #0248a4;
}