<div class="main-footer-layout">
    <div class="main-footer-container">
        <div class="main-footer">
            <p class="main-footer__copy">All rights reserved</p>
        </div>
    </div>
</div>