<div class="payee-reference">
    <p class="payee-reference__title">
        [Payee reference]
    </p>
    <div class="payee-reference-description">
        <div class="payee-reference-description__text">
            <p>Domestic</p>
            <img class="payee-reference-description__text-dot" src="/img/icons/dotIcon.svg" alt="dot"/>
            <p>BASK</p>
        </div>
        <p class="payee-reference-description__text">Account No.: 00256001</p>
    </div>
    <div class="payee-reference-description">
        <p class="payee-reference-description__text">08/07/2021</p>
        <p class="payee-reference-description__sum">$1200.00</p>
    </div>
</div>