<table class="payeesTable">
    <thead>
        <tr>
            <td>Account</td>
            <td><div class="payeesTable-item"><input type="checkbox" class="payeesTable-item__input"/>Unlimited Debit</div></td>
            <td><div class="payeesTable-item"><input type="checkbox" class="payeesTable-item__input"/>Unlimited Signing</div></td>
            <td><div class="payeesTable-item"><input type="checkbox" class="payeesTable-item__input"/>Sign own</div></td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><div class="payeesTable-item">Customer Fixed Loans (00257020)</div></td>
            <td>
                <div class="payeesTable-item">
                    <input type="checkbox" class="payeesTable-item__input"/>
                </div>
            </td>
            <td>
                <div class="payeesTable-item">
                    <input type="checkbox" class="payeesTable-item__input"/>
                </div>
            </td>
            <td>
                <div class="payeesTable-item">
                    <input type="checkbox" class="payeesTable-item__input"/>
                </div>
            </td>
        </tr>

        <tr>
            <td><div class="payeesTable-item">Bank Operational Account - IB (00257001)</div></td>
            <td>
                <div class="payeesTable-item">
                    <input type="checkbox" class="payeesTable-item__input"/>
                </div>
            </td>
            <td>
                <div class="payeesTable-item">
                    <input type="checkbox" class="payeesTable-item__input"/>
                </div>
            </td>
            <td>
                <div class="payeesTable-item">
                    <input type="checkbox" class="payeesTable-item__input"/>
                </div>
            </td>
        </tr>

        <tr>
            <td><div class="payeesTable-item">Bank Operational Account - IB (00257002)</div></td>
            <td>
                <div class="payeesTable-item">
                    <input type="checkbox" class="payeesTable-item__input"/>
                </div>
            </td>
            <td>
                <div class="payeesTable-item">
                    <input type="checkbox" class="payeesTable-item__input"/>
                </div>
            </td>
            <td>
                <div class="payeesTable-item">
                    <input type="checkbox" class="payeesTable-item__input"/>
                </div>
            </td>
        </tr>
    </tbody>
</table>