@using IFS.DB.WebApp.Models.Transactions
<div class="home-transactions">
     <p class="home-transactions__title">
            @if (!string.IsNullOrEmpty(Title))
            {
                @Title
            }
            else
            {
                @("Recent Transations")
            }
        </p>
    <DataGridComponent @ref="_dataSourceGrid" TItem="TransactionModel"
                       Columns="_columnsDefinition"
                       DataItems="@_recentTransactionModel.RecentTransactions"
                       TotalItems="_recentTransactionModel.TotalRecords"
                       CurrentPageNumber="@_pageIndex"
                       OnNextPageClickCallback="OnNextPageChanged"
                       OnPrevPageClickCallback="OnPrevPageChanged"
                       OnPageIndexClickCallback="OnPageIndexChanged"
                       OnSortDataChangedCallback="OnSortDataChanged"
                       ChangablePageSize=@ChangablePageSize
                       OnPageSizeChangedCallback=@OnPageSizeChanged
                       PagingConfig=@_pagingConfig                       
                       TableClass="transactionTable">
        <CustomHtmlPager>
            @if (IsCustomPager)
            {
                @CustomPager
            }
        </CustomHtmlPager>
    </DataGridComponent>
</div>

@code {
    private RenderFragment IconTypeTemplate(TransactionModel transactionModel)
    => @<text>
        @if (transactionModel.ProductType == ProductTypeEnum.Domestic || transactionModel.ProductType == ProductTypeEnum.SWIFT)
        {
                <img src="/img/transactionTable/payment.svg"
             alt="eye"
             class="icon" />
        }
        else if (transactionModel.ProductType == ProductTypeEnum.Transfer)
        {
                <img src="/img/transactionTable/transfer.svg"
             alt="eye"
             class="icon" />
        }
        else if (transactionModel.ProductType == ProductTypeEnum.Batches)
        {
                <img src="/img/transactionTable/batchMaintenance.svg"
             alt="eye"
             class="icon" />
        }
        </text>;
}