<table class="signTable">
    <thead>
        <tr>
            <td>Product</td>
            <td>Total Sign-off</td>
            <td>Awaiting Sign-off</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="/img/transactionTable/payment.svg" alt="payment" />Payment
            </td>
            <td>6</td>
            <td>5</td>
            <td><button class="signTable-button">Details</button></td>
        </tr>
        <tr>
            <td>
                <img src="/img/transactionTable/payeeTemplates.svg" alt="template" />Payee template
            </td>
            <td>6</td>
            <td>5</td>
            <td><button class="signTable-button">Details</button></td>
        </tr>
        <tr>
            <td>
                <img src="/img/transactionTable/transfer.svg" alt="transfer" />Transfer
            </td>
            <td>6</td>
            <td>5</td>
            <td><button class="signTable-button">Details</button></td>
        </tr>
        <tr>
            <td>
                <img src="/img/transactionTable/batchMaintenance.svg" alt="batch" />Batch
            </td>
            <td>6</td>
            <td>5</td>
            <td><button class="signTable-button">Details</button></td>
        </tr>
    </tbody>
</table>