<table class="usersTable">
    <thead>
        <tr>
            <td>User Name</td>
            <td>Belongs to Group</td>
            <td><div class="usersTable-item"><input type="checkbox" class="usersTable-item__input"/> Follows group Permission</div></td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><div class="usersTable-item"><img src="/img/userTable/avatar.svg" alt="avatar" class="usersTable-item__img"/> Alfredo Culhane</div></td>
            <td>-</td>
            <td></td>
            <td><button class="usersTable-button">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="usersTable-item"><img src="/img/userTable/avatar2.svg" alt="avatar" class="usersTable-item__img"/>Darrell Steward</div></td>
            <td>-</td>
            <td></td>
            <td><button class="usersTable-button">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="usersTable-item"><img src="/img/userTable/avatar.svg" alt="avatar" class="usersTable-item__img"/>Jacob Jones</div></td>
            <td>Developers</td>
            <td>
                <div class="usersTable-item">
                    <input type="checkbox" class="usersTable-item__input"/>
                    The user doesn’t follow group permission. You can setup Personal Permissions.
                </div>
            </td>
            <td><button class="usersTable-button usersTable-button--inactive">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="usersTable-item"><img src="/img/userTable/avatar.svg" alt="avatar" class="usersTable-item__img"/>Eleanor Pena</div></td>
            <td>Marketing</td>
            <td>
                <div class="usersTable-item">
                    <input type="checkbox" class="usersTable-item__input"/>
                    The user doesn’t follow group permission. You can setup Personal Permissions.
                </div>
            </td>
            <td><button class="usersTable-button usersTable-button--inactive">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="usersTable-item"><img src="/img/userTable/avatar.svg" alt="avatar" class="usersTable-item__img"/>Darlene Robertson</div></td>
            <td>Sales</td>
            <td>
                <div class="usersTable-item">
                    <input type="checkbox" class="usersTable-item__input"/>
                    The user doesn’t follow group permission. You can setup Personal Permissions.
                </div>
            </td>
            <td><button class="usersTable-button usersTable-button--inactive">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="usersTable-item"><img src="/img/userTable/avatar.svg" alt="avatar" class="usersTable-item__img"/>Robert Fox</div></td>
            <td>HR Admins</td>
            <td>
                <div class="usersTable-item">
                    <input type="checkbox" class="usersTable-item__input"/>
                    The user doesn’t follow group permission. You can setup Personal Permissions.
                </div>
            </td>
            <td><button class="usersTable-button usersTable-button--inactive">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="usersTable-item"><img src="/img/userTable/avatar.svg" alt="avatar" class="usersTable-item__img"/>Albert Flores</div></td>
            <td>Developers</td>
            <td>
                <div class="usersTable-item">
                    <input type="checkbox" class="usersTable-item__input"/>
                    The user doesn’t follow group permission. You can setup Personal Permissions.
                </div>
            </td>
            <td><button class="usersTable-button usersTable-button--inactive">Set up Permissions</button></td>

        </tr>
        <tr>
            <td><div class="usersTable-item"><img src="/img/userTable/avatar.svg" alt="avatar" class="usersTable-item__img"/>Jenny Wilson</div></td>
            <td>Marketing</td>
            <td>
                <div class="usersTable-item">
                    <input type="checkbox" class="usersTable-item__input"/>
                    The user doesn’t follow group permission. You can setup Personal Permissions.
                </div>
            </td>
            <td><button class="usersTable-button usersTable-button--inactive">Set up Permissions</button></td>
        </tr>
        <tr>
            <td><div class="usersTable-item"><img src="/img/userTable/avatar.svg" alt="avatar" class="usersTable-item__img"/>Annette Black</div></td>
            <td>Developers</td>
            <td>
                <div class="usersTable-item">
                    <input type="checkbox" class="usersTable-item__input"/>
                    The user doesn’t follow group permission. You can setup Personal Permissions.
                </div>
            </td>
            <td><button class="usersTable-button usersTable-button--inactive">Set up Permissions</button></td>
        </tr>
    </tbody>
</table>