<connectionStrings>
  <add name="DigitalBanking" connectionString="Data Source=PHUONG-VO;Initial Catalog=iBank_DBR; Persist Security Info=True; User ID=sa; Password=123!@#" />
  <add name="Bankware" connectionString="Data Source=.\SQL2019;Initial Catalog=Onboarding_Bankware; Persist Security Info=True; User ID=sa; Password=123!@#" />
  <add name="AMLTrac" connectionString="Data Source=.\SQL2019;Initial Catalog=Onboarding_AML; Persist Security Info=True; User ID=sa; Password=123!@#" />
</connectionStrings>